/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/
* {padding: 0; margin: 0;} 

body {
	background: #FFFFFF url(../images/adm-body.jpg) repeat-x ;	color: #3D3D3D; margin: 0 ;	padding: 0;
	font: normal 11px Tahoma, Arial, Helvetica, sans-serif; }

/* all root */
form { margin: 0;padding: 0; }
h2 {	padding-bottom: 4px; color: #FD6812; font: bold 18 Tahoma, Arial, Helvetica, sans-serif;	}
p {margin: 0; padding: 0;}
li {list-style: none;}
ul{margin: 0 0 4px 0; text-align: justify; line-height: 26px;}
img {border:0px;}
a:link    { color: #0B55C4; text-decoration: none; }
a:visited { color: #0B55C4; text-decoration: none; }
a:hover   { text-decoration: underline; }
input:focus, select:focus, textarea:focus  {background-color: #ffd ;border: 1px solid #D96700;}
textarea {	font: 11px tahoma,verdana,arial,sans-serif; width: 60%; padding: 2px;}
label { cursor: pointer;padding: 0 5px 0 0;}
fieldset { margin: 5px 0; padding:20px; border: 4px solid #6496C3;
	background-color: #B0D2F6; position: relative; -moz-border-radius: 8px; border-radius:1px;}
legend { padding: 1px 0; font: 11px tahoma,verdana,arial,sans-serif; font-weight: bold;
    color: #115098; margin-top: -.4em; position: relative; text-transform: none;
    line-height: 1.2em; top: 0; vertical-align: middle;}
input, textarea { font: 11px tahoma,verdana,arial,sans-serif; font-weight: normal;
    cursor: text; vertical-align: middle; padding: 2px; color: #000; 
	border-left: 1px solid #AFAEAA; border-top: 1px solid #AFAEAA; border-right: 1px solid #D5D5C8; 
	border-bottom: 1px solid #D5D5C8; background-color:#E6E2DB;}
select ,option{font: 11px tahoma,verdana,arial,sans-serif; font-weight: normal;
	cursor: pointer; vertical-align: middle; width: auto; color: #000; padding: 1px 3px 1px 3px;}
input[type="text"] {background-color:#D8D8D8}
input[type="text"]:focus{background-color:#CCFFFF ;border: 1px solid #6699FF;}
/* all root */

/* header */
#divheader { width: 94%; margin: 20px auto 0px auto ; padding: 10px;
    border-top: 1px solid #D7D7D7; border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC; border-left: 1px solid #D7D7D7;
	background: #F3F3F3 url(../images/div-header.jpg) repeat-x; 
	/* Generation CSS3 Only  Firefox and Safari :(  Tar3q   */
		-moz-border-radius-topleft: 10px; 
		-webkit-border-top-left-radius: 10px;
		-moz-border-radius-bottomright: 10px; 
		-webkit-border-bottom-right-radius: 10px;}
#header { width: 100%; height: 68px; padding: 0; margin:0;  }
#header .logo1 { float:left; width: 370px; padding: 8px 0 0 0; margin:0; }
#header .logo2{
	float:right; width: 370px; padding: 20px 10px; margin:0; 
	background: url(../images/adminopen.png) no-repeat right center; padding-right: 50px;
	display: inline-block;}
#header .logo2 b{padding-top: 20px;color:#444; font: bold 22px Tahoma, Arial, Helvetica, sans-serif;}
/* header */


/* body */
#divbody   { 
	margin: 5px auto 5px auto; 	width: 94%;  padding: 10px;
    border-top: 1px solid #D7D7D7; border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC; border-left: 1px solid #D7D7D7;
 	background: #FFFFFF url(../images/div-body.jpg) repeat-x;  position: relative;
        /* Generation CSS3 Only Firefox and Safari :(  Tar3q   */
		-moz-border-radius-topright: 10px;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-bottomleft: 10px;
		-webkit-border-bottom-left-radius: 10px;}
/* body */


/* middle */
#divmiddle { 
    width: 70%; float: left; position:relative;display:inline}
#divmiddle .welcome {
	padding: 4px 8px 4px 8px; margin: 10px 2px 10px 2px; color:#000;
	vertical-align: absmiddle;display: inline-block;
	font: normal 14px tahoma,verdana,arial,sans-serif; }
#divmiddle .title {
	width: 94%; font: bold 18px tahoma,verdana,arial,sans-serif; letter-spacing: -1px;
	color:#FE7C00; margin: 2px 2px 5px 2px; padding: 4px 35px 4px 8px;
	background: url(../images/generalstat.png) no-repeat right;}
/* middle */	

				
/* right  menu */	
#rightmenu{ 
	float: right; width:25%; margin: 5px ; padding: 10px; background: #EFE7B8;
    border: 4px solid #FEA53D; 
	position: relative;
        /* rounded corners for firefox .. love u saanina ;) */
			-moz-border-radius: 8px; border-radius:1px;}
#rightmenu .body-menu { padding: 0px; text-align: center;}
#rightmenu .link-menu{ 
	float: right; height: 60px; width:48%; padding: 0; margin: 1px ; 
	border-top: 1px solid #ccc;	border-left: 1px solid #ccc;
	border-right: 1.5px solid #999;	border-bottom: 1.5px solid #999;
	background: #E2E1DD url(../images/bg-right-menu.jpg) repeat;}
#rightmenu  .link-menu-current {	height: 60px; width:48%;padding:0px;margin:1px;background:#fff;} 
#rightmenu .link-menu-current  a {color:#000;}
#rightmenu .link-menu a { 
	display: block;	overflow: hidden; font-family:tahoma,verdana,arial,sans-serif;
	font-size: xx-small;font-weight: bold;padding:5px;}
#rightmenu .link-menu img {padding-bottom: 7px ;}
#rightmenu .link-menu a:hover {
	padding-bottom:5px;	text-decoration: none; background: #fff;	color:#000;
	border-top: #FE6914 3px solid; border-bottom: #FE6914 3px solid; }
/* right  menu */	
	
/*  buttons */
.button1 ,.button2 {
    cursor: pointer; padding: 3px 9px;  margin:5px;
    font: normal 12px Tahoma, Helvetica, Arial, sans-serif;
    background: #549CBF url(../images/login/btn.gif) repeat left top;
  	border: 1px solid #BCBCBC;}
.button1:hover ,.button2:hover{ 
	border: 1px solid #aaa; color: #fff;text-decoration: none;
	background: #BCBCBC url(../images/login/hoverblue.gif) repeat left top;}
/*  buttons */

	
/* class */
fieldset.quick, p.quick {  margin: 0 0 5px; padding: 5px 0 0; border: none; background-color: transparent; text-align: center;}
input.button1, input.button3,input.button2 {
	width: auto !important; padding: 3px 4px 3px 4px; color: #000; cursor: pointer;
	font: normal 12px Tahoma, Helvetica, Arial, sans-serif;
	background: #549CBF url(../images/login/btn.gif) repeat left top;}
.clr { clear: both; overflow:hidden; height: 0;}
.dot {margin: 0;	padding: 3px 0;	background: url(../images/dot.gif) repeat-x;}
.exts {	margin: 0;	padding: 5px;font: bold 11px Tahoma, Helvetica, Arial, sans-serif; color: #0B55C4; }
.s_box {	width: 150px; margin:2 px; border-style:solid; border-width:1px;
	font-family:tahoma,verdana,arial,sans-serif; padding:2px 4px 4px 4px;
	text-align:center; color:#484848; border-color:#F8F834; font-weight: bold;
	background: #FFFFF3 url(../images/i2.gif) no-repeat top right;}
.s_box_tpls{width:99%;margin:2px 0; border:1px solid #6496C3; color:#000;padding:2px 4px 2px 4px; background-color:#FFFDD7;}
.s_box_tpls_d{margin:2 px; text-align:center;
	padding:2px 4px 2px 4px; background:#C5C5C5 url(../images/s_box_tpls_d.png) no-repeat 96% 50%; 
	color:#000; width:20%; cursor: pointer;}
.s_box_tpls_d:hover{color:#fff;	background-color:#FD6812; }
/* class */
	
/*  table no hover */
.tab-no-hover {
	border-collapse: collapse; margin: 0px;	width:100%; padding: 5px; }
.tab-no-hover tr { 	
	height: 24px; background-color:#FBFFFD}
.tab-no-hover td {	
	padding: 3px 5px 3px 5px; border-top: solid 1px #D2D2D2;border-bottom: solid 1px #E4E4E4;border-left: solid 1px #D2D2D2;border-right: solid 1px #D2D2D2;}
.tab-no-hover tr:hover {
	background-color:transparent;}
/*  table no hover */
	
/* last visit */					
#info-last-visit { background: #EEE; float: right; width: 48%; margin:1px 3px; padding: 1px ;
					font: 11px tahoma,verdana,arial,sans-serif; border: 1px solid #999; }
#info-last-visit ul { margin: 0; padding:0; list-style: none;}
#info-last-visit li {	text-align: right;padding: 5px 10px;}
#info-last-visit li:hover { background: #F6F6F6;}
/* last visit */	

/* other info  */
#other-info{ margin:6px 0 0 0 ; padding: 10px; font-weight: bold;background:#eee; border: 1px solid #999;position: relative;-moz-border-radius: 8px; border-radius:1px;}
#other-info ul { padding: 6px; }
#other-info li {color: #333;}
#other-info .t_info{ padding:2px 30px; font-weight: bold;font-size:14px;background:url(../images/t_info.png) no-repeat 100% 50%;margin-bottom:6px;color:#F46320}
#other-info table {border: 1px dashed #D2D6FF}
#other-info table tr{ background:#DBE9EE;cursor:help;border: 1px dashed #D2D6FF}
#other-info table td{border: 1px dashed #D2D6FF}
#other-info table tr:hover { background:#fff; }
#other-info:hover{background: #F6F6F6;}
/* other info  */

/* other info  */
#disk_size{ margin: 10px 0 0 0 ; padding: 10px 10px 0px 10px; font-weight: bold;background:#eee; border: 1px solid #999;position: relative;-moz-border-radius: 8px; border-radius:1px;}
#disk_size ul { padding: 6px; }
#disk_size li {color: #333;}
#disk_size .t_disk_size{ padding:2px 28px 2px 10px; font-weight: bold;font-size:14px;background:url(../images/disk_size.png) no-repeat 100% 50%;color:#F46320}
/* other info  */

/*  disk_size */
#disk_size .tab-size {
	border-collapse: collapse; margin-top:10px;	width:100%; padding: 5px 5px 0px 5px; 
	font: 12px Tahoma, Arial, Helvetica, sans-serif; cursor: pointer; }
#disk_size .tab-size tr { 	
	height: 24px; background-color: #eee; padding:0;border-width:0px;}
#disk_size .tab-size td {	
	padding: 3px 5px 3px 5px; border: 1px solid #eee;}
/*  disk_size */

/* body #System Messages  */
#system-message { margin: 10px 0 5px 0 ; padding: 0;}
#system-message div { margin: 0; font-weight: bold; text-indent: 2px; }
/* body #System Messages  */

/* System Messages  #info*/
#system-message div.info ul { 
	list-style: none; padding: 15px 8px 15px 8px; border-top: 3px solid #FEA53D; 
	border-bottom: 3px solid #FEA53D; background-color: #EFE7B8}
#system-message div.info  ul li { 
	color:000; background: url(../images/info.png) no-repeat right top ;padding-right: 35px; }
/* System Messages  #info*/

/* System Messages  #error*/
#system-message div.error ul {
	list-style: none; padding: 15px 8px 15px 8px; background-color: #E6C0C0; 
	border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B;}
#system-message div.error ul li{ 
	color: #c00; background: url(../images/error.png) no-repeat right top ; padding-right: 35px; }
/* System Messages  #error*/
	
/* view ../images */
.bg_img { width:100px; height:100px; padding:5px; cursor: pointer;border: 1px solid #999;}
.bg_img img{border:solid 1px #ccc}
.bg_img:hover {border:solid 1px #FD6812}
/* view ../images */

/*  toolTipBox */	
#toolTipBox {
    display: none; padding: 10px; font: bold 10px Tahoma, Helvetica, Arial, sans-serif;
	text-align:right; position: fixed;  color: 000000;background: #EFE7B8;
    border: 3px solid #FEA53D;  -moz-border-radius: 8px; border-radius:1px;	}
/* toolTipBox */

/* pagination */
.pagination {float:right; padding: 3px 6px;  margin: 8px 0px;}
.paging { margin-right: 5px; padding:3px 6px; -moz-border-radius:10px;
        background-color: #E6F2FF; border: 1.5px solid #6496C3; text-align:center;}
.paging:hover {	color: #fff; background-color: #6496c3;	text-decoration: none;}
.here_page { margin-right: 5px; padding:3px 6px;  background-color: #6496c3;	color: #fff;
        border: 1.5px solid #6496c3; -moz-border-radius:10px; font-weight: normal;}
/* pagination */

/* footer */
#footer {
	position:relative; margin:0 auto; width:96%; padding:12px 0 10px;
    text-align: center; color: #666;}
#footer p{ 
	margin: 0; padding: 5px 0px 5px 0px; text-align: center; color: #666;
	font: 12px bold Tahoma, Verdana, Helvetica, Arial, sans-serif;}
#footer img{ 
	vertical-align: absmiddle;display: inline-block;}
#footer a.xhtml{
	background-color:#CC0000; color:#FFFFFF; width:49px; height:16px; margin:0 6px 0 0;
	font:bold 13px/16px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	display:block; text-align:center; text-decoration:none; float:left;}
#footer a.xhtml:hover{
	background-color:#0B0B0B; color:#FFFFFF; width:49px; height:16px; 
	margin:0 6px 0 0; font:bold 13px/16px "Trebuchet MS", Arial, Helvetica, sans-serif; 
	display:block; text-align:center; text-decoration:none; float:left;}
#footer a.css{
	background-color:#0B0B0B; color:#FFFFFF; width:38px; height:16px;
	font:bold 13px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	display:block; text-align:center; text-decoration:none; float:left;}
#footer a.css:hover{
	background-color:#CC0000; color:#FFFFFF; width:38px; height:16px;
	font:bold 13px/16px "Trebuchet MS", Arial, Helvetica, sans-serif;
	display:block; text-align:center; text-decoration:none; float:left;}
/* footer */

/* border table */
#border-table {border: 2px solid #6496C3;padding: 10px; background-color:#FBFFFD;
position: relative; -moz-border-radius: 8px; border-radius:1px;}

/* all tables */
table {overflow:auto;table-layout:static;border-collapse: collapse;width:100%; 
padding: 5px;font: 12px Tahoma, Arial, Helvetica, sans-serif;border-style:groove solid;border-color:#AAA;border-width:1px;}
tr {height: 24px; background-color:#EEEEEE;border-bottom:groove 2px #E0E0E0;}
td {padding: 6px 5px 6px 5px;border-left:inset 1px #E0E0E0;}
tr:hover {background-color:#FFFFDD;}
/* all tables */

/* usefull colors */
.ored, .ored:hover {background-color:#FFCACA;}

.oblue{background-color:#EFB8C0;}
.oblue td{border-top:2px solid #C87C87;border-bottom:2px solid #C87C87;}
.oblue:hover {background-color:#EFB8C0;}
.styles_exp{padding: 10px;font-size:12px;font-weight: bold;color:#000;}

.osilver {background-color:#F5F5F5;}

.file_cp1 {width:100%; margin: 5px 0; position: relative;overflow:auto;}

.small_font {padding: 5px;font:bold 10px Tahoma, Arial, Helvetica, sans-serif;color:#0E3D89}

#dot {margin: 0;	padding:3px;background: url(../images/dot.gif) repeat-x;}

/*tpl*/
.s_tpl_x, .s_tpl_x:focus{
width:100%;direction:ltr;font-size:13px;background-color:#fff;
border:1px #ccc solid;
}

.s_tpl_x OPTGROUP {
margin:5px 0;
background-color:#EFE7B8;
border-top:1px solid #FEA53D;
border-bottom:1px solid #FEA53D;
padding:10px;
font:bold 12px Tahoma, Arial, Helvetica, sans-serif;
color:#003F9D
}
.s_tpl_x option {
padding: 2px 4px;
direction:ltr;
border-top: 1px solid #999;
border-bottom: 1px solid #999;
padding:4px 8px; margin:1px 0 2px 0; background:#F5F5F5;
position: relative; 
color:#FD6812;
font-size:12px;font-weight: bold;
}
.s_tpl_x option:hover {
border-top: 1px solid #111;
border-bottom: 1px solid #111;
 background-color:#FD6812;
 color:#fff;
}
/* / tpl */

/* config page */
.config_types_list{width:100%;display:inline;margin: 20px 0;padding: 2px 5px;}
.config_types_list div {float: right;width:46%;display:inline;font-size:14px;margin:3px;padding: 5px 8px 4px 5px; 
					border-top:2px solid #FEA53D;border-bottom:2px solid #FEA53D;border-left:2px solid #FBFFFD;
					border-right:2px solid #FBFFFD;background-color:#EFE7B8;cursor:pointer;height: 100px;text-align:center;}
.config_types_list div a{text-decoration:none;color:#003F9D;margin: 45% auto 20% auto;padding:10px;font-size:14px;
					font-weight:normal;text-align:center;}
.config_types_list div img {margin:1% auto 1% auto;padding:3px;text-align:center;}
.config_types_list div:hover {background-color:#FEFEFE;border:2px solid #FBFFFD;}


.title_general_conf1gs,.title_other_conf1gs {
height:35px;margin-top:10px;margin-bottom:1px;
padding-top:10px;font:bold 18px Tahoma, Arial, Helvetica, sans-serif;text-indent:45px;}

.title_general_conf1gs {background:#CBE2F3 url(../images/general_conf1gs.png) no-repeat 98% 50%;color:#35A2D8;
border-top:2px solid #7CA7C8;border-bottom:2px solid #7CA7C8;border-left:2px dotted #fff;border-right:2px dotted #fff;}

.title_other_conf1gs{background:#F3D1C9 url(../images/other_conf1gs.png) no-repeat 98% 50%;color:#BB0000;
border-top:2px solid #A66758;border-bottom:2px solid #A66758;border-left:2px dotted #fff;border-right:2px dotted #fff;}

/* / config page */

.imgtitle {margin:0 6px;vertical-align:middle;}

.adminstrators { background: url(../images/adminstrators.gif) no-repeat 100% 70%;margin:0 auto;
width:70%;padding:5px 25px;font:bold 12px Tahoma, Arial, Helvetica, sans-serif;}
.adminstrators a{color:red}

/* for php_info  */
.php1{font:bold 10px Tahoma, Arial, Helvetica, sans-serif;width:100%;direction:ltr;}
.php1 table{width:100%;text-align:left;table-layout:fixed;empty-cells:hide;margin:5px auto;}
.php1 h1,.php1 h2{text-align:left;}
.row1 {overflow:auto;}
.row2{overflow:auto;}
/* / for php_info */

.goback{ background:#EEE6B7;margin:2px auto;padding:5px 10px;font:bold 12px Tahoma, Arial, Helvetica, sans-serif;}
.goback:hover{background:#fff;color:#FF8000}
