/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/
.infocontrol {width:48%;}
#disk_size .tab-size {border-width:0px;}
#toolTipBox {width:200px;height:85px;font-size:11px;line-height:18px;display: none;position:absolute;}
.arr_paging{float:none}