/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/

#info-last-visit {width:48%;}
#disk_size .tab-size {border-width:0px;}

/*  toolTipBox */	
#toolTipBox {width:200px;height:85px;font-size:11px;line-height:18px;display: none;position:absolute;}
/* toolTipBox */


/* all tables */
table {padding-top:5px; 
padding-right:5px; 
padding-bottom:5px; 
padding-left:5px; 
border-style:solid;border-color:#AAA;border-width:1px;}
tr {height: 18px; border-bottom:solid 1px #E0E0E0;}
td {
padding-top:5px; 
padding-right:5px; 
padding-bottom:5px; 
padding-left:5px; 
border-left:solid 1px #E0E0E0;}
/* all tables */

/* usefull colors */


.styles_exp{
padding-top:10px; 
padding-right:10px; 
padding-bottom:10px; 
padding-left:10px; 
}


.file_cp1 {
margin-top:5px; 
margin-right:0px; 
margin-bottom:5px; 
margin-left:0px;
}

.small_font {
padding-top:5px; 
padding-right:6px; 
padding-bottom:5px; 
padding-left:6px; 
}

#dot {
padding-top:3px; 
padding-right:3px; 
padding-bottom:3px; 
padding-left:3px; 
}

/*tpl*/

.s_tpl_x OPTGROUP {
padding-top:10px; 
padding-right:10px; 
padding-bottom:10px; 
padding-left:10px; 
margin-top:5px; 
margin-right:0px; 
margin-bottom:5px; 
margin-left:0px;
}
.s_tpl_x option {
padding-top:4px; 
padding-right:8px; 
padding-bottom:4px; 
padding-left:8px; 
margin-top:1px; 
margin-right:0px; 
margin-bottom:2px; 
margin-left:0px;
}

/* / tpl */

/* config page */
.config_types_list{
padding-top:2px; 
padding-right:5px; 
padding-bottom:2px; 
padding-left:5px; 
margin-top:20px; 
margin-right:0px; 
margin-bottom:20px; 
margin-left:0px;
}
.config_types_list div {
padding-top:5px; 
padding-right:8px; 
padding-bottom:4px; 
padding-left:5px; 
margin-top:3px; 
margin-right:3px; 
margin-bottom:3px; 
margin-left:3px;
}
.config_types_list div a{
padding-top:10px; 
padding-right:10px; 
padding-bottom:10px; 
padding-left:10px; 
margin-top:45%; 
margin-right:auto; 
margin-bottom:20%; 
margin-left:auto;
}
.config_types_list div img {
padding-top:3px; 
padding-right:3px; 
padding-bottom:3px; 
padding-left:3px; 
margin-top:1%; 
margin-right:auto; 
margin-bottom:1%; 
margin-left:auto;
}

/* / config page */
.adminstrators { 
padding-top:5px; 
padding-right:25px; 
padding-bottom:5px; 
padding-left:25px; 
}


/* for php_info  */

.php1 table{
margin-top:5px ; 
margin-right:auto; 
margin-bottom:5px ; 
margin-left:auto;
}
/* / for php_info */

.goback{ 
padding-top:5px; 
padding-right:10px; 
padding-bottom:5px; 
padding-left:10px; 
margin-top:2px; 
margin-right:auto; 
margin-bottom:2px; 
margin-left:auto;
}

