input[type="submit"] {float:right;}
.site_name a:hover{padding-right:0;padding-left:10px;}
.site_name img,.cp_kleeja img{padding-left:0;padding-right:8px;}
.submit_go {float:right;}
.system-message div.error ul li{background-position:left center;}
.cp_kleeja{font-size:18px;}
a.css img{margin-left:4px;}