/* Powered by Kleeja .... Kleeja.com # 2007 -2009  */
body {background:#fff url(../images/bodybackground.jpg) no-repeat top left fixed;font: normal 12px Tahoma, Arial, Helvetica, sans-serif;	border-top: 4px #FEA53D solid;color:#555;margin:0;padding:0;}
h1 {	display: block;font-size:12px;font-weight:normal;}
img {border:none;}
hr {color:#fff;}
label {display: block;padding-bottom:3px;}
input {margin:2px 0;font:normal 12px Tahoma, Arial, Helvetica, sans-serif;color:#555;}
input[type="text"],input[type="password"]{width:272px;padding:2px;cursor: text;border-left: 1px solid #AFAEAA;border-top: 1px solid #AFAEAA;border-right: 1px solid #D5D5C8;border-bottom: 1px solid #D5D5C8;font:normal 22px Tahoma, Arial, Helvetica, sans-serif;}
input[type="text"]:hover ,input[type="password"]:hover{border: 1px solid #888;}
input[type="password"]:focus,input[type="text"]:focus  {background-color:#ffd;border: 1px solid #D26900;}
a:link ,a:visited{color:#003F9D;text-decoration: none; }
a:hover {color:#0B55C4;text-decoration:overline;}
.clr {clear: both;overflow:hidden;height:0;}
.site_name{background-color:#464646;height:20px;line-height:16px;padding:5px;text-indent:10px;font-weight:bold;font-size:11px;border-bottom: 1px #222 solid;}
.site_name a:link ,.site_name a:visited{color:#ddd;}
.site_name a:hover{text-decoration:none;	color:#fff;padding-right:10px;}
.site_name img,.cp_kleeja img{padding-left:8px;vertical-align: middle;}
.logo_cp {width:360px;height:78px;margin:25px auto 10px auto;}
.box{display:block;width:280px;margin:0 auto;padding:10px 20px;background:#F1F1F1 url(../images/bg_box_login.gif) repeat-x bottom left;border: 1px solid #B7B7B7;-moz-border-radius: 11px;-khtml-border-radius: 11px;-webkit-border-radius: 11px;border-radius: 5px;-moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;-webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;	-khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;box-shadow: rgba(200,200,200,1) 0 4px 18px;}
.cp_kleeja{color:#003F9D;height:26px;font-size:20px;padding-bottom:10px;clear: both;}
.submit_go {cursor: pointer;padding:3px 25px;float:left;margin-top:10px;color:#fff;background-color:#2786B2;border: 1px solid #09628B;}
.submit_go:hover {background-color:#0E98D8;color:#eee}
.system-message {margin:5px auto;}
.system-message div {font-weight:bold;text-indent:35px; }
.system-message div.error ul {list-style: none;padding:5px 10px;background-color: #E6C0C0;border-top: 4px solid #DE7A7B;border-bottom: 4px solid #DE7A7B;}
.system-message div.error ul li{line-height:30px;color:#CC0000;background: url(../images/error.png) no-repeat right center;}
.Powered{padding:5px 0;margin:3px auto;text-align:center;}
.footer {position:fixed;bottom:0;left:0;clear:both;border-bottom:4px solid #6496C3;width:100%;height:4px;}
.web2{position:fixed;bottom:10px;left:10px;padding:5px 0;color:#002F75;height:20px;}
a.css img{margin-right:4px;padding-bottom:2px;}
a.css,a.xhtml{filter: Alpha(Opacity=40);opacity:.40;-moz-opacity:.40;}
a.xhtml img:hover{margin-bottom:2px;}
a.css:hover,a.xhtml:hover{filter: Alpha(Opacity=95);opacity:.95;-moz-opacity:.95;}