/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/

* {padding: 0; margin: 0;} 

html, body, div, span, applet, object, iframe, h1,h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {	margin: 0;	padding: 0;	border: 0;	outline: 0;	font-weight: inherit;	font-style: inherit;	font-size: 100%;	font-family: tahoma;	vertical-align: baseline;}
/* remember to define focus styles! */
:focus {	outline: 0;}

body {background: #FFFFFF url(../images/adm-body.jpg) repeat-x ;	color: #3D3D3D; margin: 0 ;	padding: 0;	font: normal 11px Tahoma, Arial, Helvetica, sans-serif; }

/* all root */
h2 {	padding-bottom: 4px; color: #FD6812; font: bold 18 Tahoma, Arial, Helvetica, sans-serif;}
li {list-style: none;}
ul{margin: 0 0 4px 0; text-align: justify; line-height: 26px;}
img {border:0px;}
a:link    { color: #0B55C4; text-decoration: none; }
a:visited { color: #0B55C4; text-decoration: none; }
a:hover   { text-decoration: underline; }
input:focus, select:focus, textarea:focus  {background-color:#CCFFFF ;border: 1px solid #6699FF;}
textarea {	font: 11px tahoma,verdana,arial,sans-serif; width: 60%; padding: 2px;}
label { cursor: pointer;padding: 0 5px 0 0;}
fieldset { margin:1px 5px 0px 0px;padding:20px; border: 4px solid #6496C3;	background-color: #B0D2F6; position: relative; -moz-border-radius: 8px; border-radius:1px;}
legend { padding: 1px 0; font:bold 11px tahoma,verdana,arial,sans-serif;color: #115098; margin-top: -.4em; position: relative; text-transform: none;line-height: 1.2em; top: 0; vertical-align: middle;}
input { margin-right:2px;margin-left:2px;}
input, textarea { font:normal 11px tahoma,verdana,arial,sans-serif;cursor: text; vertical-align: middle; padding: 2px; color: #000;border-left: 1px solid #AFAEAA; border-top: 1px solid #AFAEAA; border-right: 1px solid #D5D5C8;border-bottom: 1px solid #D5D5C8; background-color:#D8D8D8;}
select ,option{font:normal 11px tahoma,verdana,arial,sans-serif;cursor: pointer; vertical-align: middle; width: auto; color: #000; padding:1px 5px;}
input,input[type="text"] :{background-color:#D8D8D8}
input:focus, input[type="text"]:focus{background-color:#CCFFFF ;border: 1px solid #6699FF;}
/* all root */
ol, ul {list-style: none;}
/* tables still need 'cellspacing="0"' in the markup */
caption, th, td {font-weight: normal;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}