/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/

body {height:100%;width: 100%;background:#686868 url(../images/bodybackground.jpg) no-repeat top center fixed;border-bottom: 2px solid #6496C3;color: #3D3D3D; margin:0 ;padding: 0;font-family:Tahoma, Arial, Helvetica, sans-serif;font-weight:normal;font-size:12px; }
h2 {	line-height:25px;padding:6px;background:#fff url(../images/message-bar.png) repeat-x;color: #FD6812;font-size:160%;}
h6 {	line-height:20px;padding:3px;color: #444;font-size:115%;font-weight:400;}
li {list-style: none;}
ul{margin: 0 0 4px 0;line-height: 26px;}
img {border:0px;}
small{font-size:xx-small}
a:link    { color: #0B55C4; text-decoration: none; }
a:visited { color: #0B55C4; text-decoration: none; }
a:hover   { color:#FF6600;text-decoration: underline; }

label { cursor: pointer;padding: 0 5px 0 0;}
fieldset { padding:10px; border: 4px solid #6496C3;background: #B0D2F6; position: relative; -moz-border-radius: 8px; border-radius:1px;}
legend { padding:0 5px; font-weight:bold;font-size:12px;color: #115098; margin-top: -.4em; position: relative; text-transform: none;line-height: 1.2em; top: 0; vertical-align: middle;font:bold 11px Tahoma, Arial, Helvetica, sans-serif;}
select ,option{cursor: pointer; vertical-align: middle; width: auto; color: #000; padding:1px 5px;font:normal 12px Tahoma, Arial, Helvetica, sans-serif;}
textarea {font:normal 12px Tahoma, Arial, Helvetica, sans-serif; cursor: text; vertical-align: middle; padding: 2px; color: #000;border-left: 1px solid #AFAEAA; border-top: 1px solid #AFAEAA; border-right: 1px solid #D5D5C8;border-bottom: 1px solid #D5D5C8; background-color:#FFF;}
input { padding:3px 6px;margin-right:2px;margin-left:2px;font:normal 12px Tahoma, Arial, Helvetica, sans-serif;}
input[type="text"],input[type="password"]{cursor: text;border-left: 1px solid #AFAEAA; border-top: 1px solid #AFAEAA; border-right: 1px solid #D5D5C8;border-bottom: 1px solid #D5D5C8;}
input[type="submit"] ,input[type="button"]{cursor: pointer;padding:1px 18px;font-family:Tahoma, Arial, Helvetica, sans-serif;font-weight:normal;font-size:12px;}
input[type="submit"]:hover ,input[type="button"]:hover {color:#D74E00;}input[type="text"]:hover ,input[type="password"]:hover{border: 1px solid #888;}
input[type="password"]:focus,input[type="text"]:focus,select:focus,textarea:focus  {background-color:#DFEFFF;border: 1px solid #84A0C0;}


/* header */
#divheader { width: 94%; margin: 5px auto 3px; padding:1px 10px;border-top: 1px solid #D7D7D7; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; border-left: 1px solid #D7D7D7;background:#F3F3F3 url(../images/div-header.png) repeat-x top left;-moz-border-radius-topleft: 10px;-webkit-border-top-left-radius: 10px;-moz-border-radius-bottomright: 10px;-webkit-border-bottom-right-radius: 10px;}
.header { width: 100%; height: 84px; padding: 0; margin:0;  }
.header .logo1 { float:left; width: 370px; display: inline; }
.header .logo2{ text-indent:4px;float:right;width: 400px; padding:22px 10px 0px 10px;}
.header .logo2 a{padding:15px 10px;font-weight:bold;font-size:160%;}
.header .logo2 a:hover {text-decoration: none;}
/* header */


/* body */
#divbody   {margin:0px auto; width: 94%;padding:10px 10px 20px 10px;border: 1px solid #BFBFBF;background:#FFF url(../images/div-body.jpg) repeat-x top left;-moz-border-radius-topright: 10px;-webkit-border-top-right-radius: 10px;-moz-border-radius-bottomleft: 10px;-webkit-border-bottom-left-radius: 10px;}
/* body */

/* middle */
#divmiddle {width:70%;float: left;display:inline;}
/* middle */	
				
/* right  menu */	
#main_menu{float:right; width:26%; padding:10px; background: #EFE7B8;border: 4px solid #FEA53D;position: relative;-moz-border-radius: 8px; border-radius:1px;}
.body_menu {text-align:center;background: #E2E1DD}
.link_menu{float: right; height: 60px; width:48%; margin:1px;border:1px solid #D6D6CE;border-top:1px solid #D6D6CE;border-bottom:2px solid #CDCDCD;background: #E2E1DD url(../images/bg-right-menu.jpg) repeat;}
.link_current {height: 60px; width:48%;margin:1px;background:#fff;} 
.link_current  a {color:#000;border-top: #FEA53D 3px solid;border-bottom: #FEA53D 3px solid;}
.link_menu a  {background:url(../images/hidbg.png) repeat-x bottom left;display: block;overflow: hidden;font-size:x-small;font-weight: bold;height: 60px;}
.link_menu img {padding:2px 0 3px 0;}
.link_menu a:hover{height:56px;text-decoration: none;background:#FEF5E2 url(../images/hidbg.png) repeat-x bottom left; color:#000;border-top: #FEA53D 3px solid;border-bottom: #FEA53D 3px solid;}
/* right  menu */	

/* pagination */
.pagination{float:right;text-align:center;margin:3px 0px 3px 3px;color:#0E509E;font-size:11px;}
.pagination li{float:right;margin-left:3px;}
.pagination a{border:1px solid #9aafe5;text-decoration:none;padding:2px 6px;}
.pagination a:hover{border-color:#2b55af;color:#0F478A;}
.currentpage{background:#2e6ab1;border:2px solid #D4D4D4;color:#FFF;padding:3px 6px;cursor: default;}
.pagination a.disablelink{cursor: default;border-color: #929292;color:#838383;padding: 2px 6px;}
.pagination a.prevnext{color:#0F478A;cursor:pointer;font-weight:bold;}
.three_dots {cursor: default; border:1px solid #9aafe5;padding:2px 3px;}
/* # pagination */

/*  buttons */
.left_button {float:left;display:inline;margin:3px 0;padding:2px 0}
.button1 ,.button2 {cursor: pointer; padding:3px 9px;margin:5px;background: #549CBF url(../images/login/btn.gif) repeat left top;border: 1px solid #BCBCBC;}
.button1:hover ,.button2:hover{	border: 1px solid #aaa; color: #fff;text-decoration: none;background: #BCBCBC url(../images/login/hoverblue.gif) repeat left top;}
/*  buttons */

/* class */
.quick, p.quick { margin:4px auto; padding:2px 0px; border: none; background-color: transparent; text-align: center;}
input.button1, input.button3,input.button2 {width: auto !important; padding: 3px 4px 3px 4px; color: #000; cursor: pointer;background: #549CBF url(../images/login/btn.gif) repeat left top;}
.clr { clear: both; overflow:hidden; height: 0;}
.dot {padding: 3px 0;background: url(../images/dot.gif) repeat-x;}
.exts {padding: 5px;font-weight:bold;font-size:11px; color: #0B55C4; }
.s_box {	width: 150px; margin:2px; border-style:solid; border-width:1px;padding:2px 4px;text-align:center; color:#484848; border-color:#F8F834; font-weight: bold;background: #FFFFF3 url(../images/info2.png) no-repeat top right;}
.s_box_tpls{width:99%;margin:2px 0; border:1px solid #6496C3; color:#000;padding:2px 4px; background-color:#FFFDD7;}
.s_box_tpls_d{margin:2px; text-align:center;padding:2px 4px 2px 4px; background:#D7D7D7 url(../images/s_box_tpls_d.png) no-repeat 96% 50%;color:#000; width:20%; cursor: pointer;}
.s_box_tpls_d:hover{color:#fff;	background-color:#FD6812; }
/* class */
	
/*  table no hover */
.no_hover_table {border-collapse: collapse; margin: 0px;	width:100%; padding: 5px; }
.no_hover_table tr {height: 24px; background-color:#F2F2F2}
.no_hover_table td {padding: 3px 5px; border-top: solid 1px #D2D2D2;border-bottom: solid 1px #E4E4E4;border-left: solid 1px #D2D2D2;border-right: solid 1px #D2D2D2;}
.no_hover_table tr:hover {background-color:transparent;}
/*  table no hover */

/* body #System Messages  */
#system-message { margin-bottom:5px}
#system-message div {font-weight: bold;font-size:11px }
/* body #System Messages  */

/* System Messages  #info*/
#system-message div.info ul {list-style: none; padding:15px 10px; border-top: 3px solid #FEA53D;border-bottom: 3px solid #FEA53D; background: #EFE7B8}
#system-message div.info  ul li {	color:000; background: url(../images/info.png) no-repeat right top ;padding-right: 35px; }
/* System Messages  #info*/

/* System Messages  #error*/
#system-message div.error ul {list-style: none; padding:15px 10px; background: #E6C0C0;border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B;}
#system-message div.error ul li{color: #c00; background: url(../images/error.png) no-repeat right top ; padding-right: 35px; }
/* System Messages  #error*/

/* System Messages  #error*/
#system-message div.msg_repair ul {background:#EFE7B8 url(../images/bg_msg_repair.png) no-repeat 20% 20% ; }
#system-message div.msg_repair ul li{background: url(../images/msg_repair.gif) no-repeat right center ; padding-right: 25px; }
/* System Messages  #error*/

/* view ../images */
.bg_img {border-collapse: collapse;width:100%; height:100px; padding:5px;}
.img {height:100px; padding:10px; cursor: pointer;}
.bg_img  tr {height: 24px; background-color:transparent;text-align:center;}
.bg_img td {padding: 3px 5px; border-top: solid 1px #D2D2D2;border-bottom: solid 1px #E4E4E4;border-left: solid 1px #D2D2D2;border-right: solid 1px #D2D2D2;text-align:center;}
.check_all {display:block;text-align:center;margin:4px auto;padding:5px;background-color:#EEE;}
/* view ../images */

/*  toolTipBox */	
#toolTipBox {
position:fixed;
display: none;
padding: 10px;
line-height:18px;
font-weight:bold;
font-size:11px;
color:#222;
background:#EFE7B8;
border: 2px solid #FEA53D;
}
/* toolTipBox */

/* footer */
#footer {position:relative; margin:0 auto; width:96%; padding:12px 0 10px;text-align: center; color: #444;}
#footer p{ margin: 0; padding: 5px 0px; text-align: center; color: #444;	font-weight:bold;font-size:11px;}
#footer img{	vertical-align: absmiddle;display: inline-block;}
#footer a.xhtml{	background-color:#FF8000; color:#FFFFFF; width:49px; height:16px;padding-top:4px;margin-right:4px;font-size:12px; font-weight:bold;display:block; text-align:center; float:left;}
#footer a.xhtml:hover{background-color:#555; color:#FFFFFF;text-decoration:none;}
#footer a.css{background-color:#555; width:40px;padding-top:1px;}
#footer a.css:hover{	background-color:#FF8000;}
/* footer */

/* border table */
#border-table {padding:10px;background-color:#FBFFFD;border: 1px double #B2B2B2;}

/* box_all */
.box_all {padding:10px;background:#FFF;border: 1px double #B2B2B2;-moz-border-radius-topleft: 14px;-webkit-border-top-left-radius: 14px;-moz-border-radius-bottomright: 14px;-webkit-border-bottom-right-radius: 14px;}
/* ## box_all */

/* all tables */
table {overflow:auto;table-layout:static;border-collapse: collapse;width:100%;padding: 5px;border:inset 1px #DFDFDF;}
tr {background-color:#F2F2F2;border-bottom:solid 1px #C8C8C8;border-top:solid 1px #C8C8C8}
td {padding:3px 5px;border-style:groove solid;border-color:#DFDFDF;border-width:1px;}
tr:hover {background-color:#FFFFDD;}
/* all tables */

/* usefull colors */
.ored, .ored:hover {background-color:#FFCACA;}
.oblue{background-color:#EDFFEA;}
.oblue td{border-top:1px solid #87C87C;border-bottom:1px solid #87C87C;}
.oblue:hover {background-color:#DEEFDB;}
.styles_exp{padding: 10px;font-weight: bold;color:#000;}
.osilver {background-color:#eee;}
.file_cp1 {width:100%;position: relative;overflow:auto;}
.small_font {padding:5px 5px 10px 5px;font-size:11px;font-weight: bold;color:#0B55C4;text-indent:34px}

#dot {margin: 0;	padding:3px;background: url(../images/dot.gif) repeat-x;}

/*tpl*/
.s_tpl_x, .s_tpl_x:focus{width:100%;direction:ltr;font-size:13px;background-color:#fff;border:1px #ccc solid;}
.s_tpl_x OPTGROUP {margin:5px 0;background-color:#EFE7B8;border-top:1px solid #FEA53D;border-bottom:1px solid #FEA53D;padding:10px;font-weight:bold;color:#003F9D}
.s_tpl_x option {direction:ltr;border-top: 1px solid #999;border-bottom: 1px solid #999;padding:4px 8px; margin:2px 0; background:#F5F5F5;position: relative;color:#FD6812;font-weight: bold;}
.s_tpl_x option:hover {border-top: 1px solid #111;border-bottom: 1px solid #111;background-color:#FD6812;color:#fff;}
/* / tpl */

/* config page */
.config_types_list{width:100%;display:inline;margin:20px auto;padding:2px 5px;}
.config_types_list div {float: right;width:45%;font-size:14px;margin:3px;padding: 5px 8px;border-top:2px solid #FEA53D;border-bottom:2px solid #FEA53D;border-left:2px solid #FBFFFD;	border-right:2px solid #FBFFFD;background-color:#EFE7B8;cursor:pointer;height:100px;text-align:center;}
.config_types_list div a{text-decoration:none;color:#003F9D;margin: 45% auto 20% auto;padding:10px;font-size:14px;text-align:center;}
.config_types_list div img {margin:1% auto 1% auto;padding:3px;text-align:center;}
.config_types_list div:hover {background-color:#FEFEFE;border:2px solid #FBFFFD;}

.title_general_conf1gs,.title_other_conf1gs {height:35px;margin-top:10px;margin-bottom:2px;padding-top:10px;font-size:18px;font-weight: bold;text-indent:45px;}
.title_general_conf1gs {background:#CBE2F3 url(../images/general_conf1gs.png) no-repeat 98% 50%;color:#35A2D8;border-top:2px solid #7CA7C8;border-bottom:2px solid #7CA7C8;border-left:1px dotted #aaa;border-right:1px dotted #aaa;}
.title_other_conf1gs{background:#F3D1C9 url(../images/other_conf1gs.png) no-repeat 98% 50%;color:#BB0000;border-top:2px solid #A66758;border-bottom:2px solid #A66758;border-left:1px dotted #aaa;border-right:1px dotted #aaa;}
/* / config page */

.imgtitle {margin-left:6px;vertical-align:middle;}

.adminstrators { background: url(../images/adminstrators.png) no-repeat 100% 70%;margin:0 auto;width:70%;padding:5px 25px;font-size:11px;font-weight: bold;}
.adminstrators a{color:red}

/* for php_info  */
.php1{font-size:10px;font-weight: bold;width:100%;direction:ltr;}
.php1 table{width:100%;text-align:left;table-layout:fixed;empty-cells:hide;margin:5px auto;}
.php1 h1,.php1 h2{text-align:left;}
.row1 {overflow:auto;}
.row2{overflow:auto;}
/* / for php_info */

.goback{ background:#EEE6B7;margin:2px auto;padding:5px 10px;font-weight: bold;}
.goback:hover{background:#fff;color:#FF8000}

/* for check_update*/
.update_title {color:#0A71D8;font-size:14px;}
.update_list {font-size:11px;}
.update_list li{list-style:square inside;}
.update_info,.update_error{list-style: none; padding:30px 8px;text-indent:35px;font-size:11px;font-weight:bold;}
.update_info{ color:000; border-top: 3px solid #FEA53D;border-bottom: 3px solid #FEA53D;background:#EFE7B8 url(../images/info.png) no-repeat 99% 50%;}
.update_error{color:#CE0000;border-top: 3px solid #DE7A7B; border-bottom: 3px solid #DE7A7B;background: #E6C0C0 url(../images/error.png) no-repeat 99% 50%;}
.link_copy {background:#E8E8E8;padding:10px; border-top:1px solid #ccc;border-bottom:1px solid #ccc;color:#666;direction:ltr;font-weight:bold;}
/* # for check_update*/


/* start view list control panel */
.list_control_panel{width:100%;}
.title_kleeja {line-height:25px;padding:5px 10px;color:#FF6600;font-size:large;font-weight: bold;background:#F0F0F0 url(../images/bg_tilestart.png) repeat-x top left;border-top: 1px solid #D2D4C9;border-bottom: 1px solid #BCBCBC;}
.option_list {list-style: none;}
.option_list li {background: url(../images/message-bar.png) repeat-x;border-top:1px solid #E9E9E9;}
.option_head {padding: 5px 10px;cursor: pointer;position: relative;}
.option_head .timestamp {float:left;}
.option_head cite {font-size:18px;color:#0B55C4;}
.option_body {padding:5px;margin-bottom:10px;display:block;background:#FFF}
.option_body table{border:none;margin:4px 0;padding:0;}
.option_body tr{border:none;background-color:transparent;}
.option_body td{border:none;}
.option_body tr:hover {background-color:transparent;}
.option_list_bottom {border-top: solid 1px #e4e4e4;	padding: 5px 0;clear: both;}
.collapse_buttons  {margin:5px 0;float: left;}
.show_all {background: url(../images/tall-down-arrow.gif) no-repeat right center;padding-right: 12px;}
.hid_all {display: none;	background: url(../images/tall-up-arrow.gif) no-repeat right center;padding-right: 12px;}
.admin_anfo_bg {background:url(../images/bg_admin_anfo.png) no-repeat -10px 4px;}
/* ## view list control panel */

/* start info user admin */
.adminimage {background: url(../images/adminusername.gif) no-repeat center;width:90px;height:78px;}
.text_info{width:74%;line-height:24px;border-bottom: 1px dashed #DFDFDF;}
.box_botton{margin:2px auto;text-align:center;}
.button_img ,.button_file{background:#EFECEC;float:right;padding:6px 10px;text-align:center;font-size:11px;font-weight: bold;border: solid 1px #D7D7D7;-moz-border-radius: 10px; border-radius:10px;}
.button_img {margin-left:10px;}
.button_img:link,.button_file:link ,.button_img:visited,.button_file:visited {color:#414042;}
.button_img:hover,.button_file:hover {color:#333;text-decoration: none;background:#FFD699;border: solid 1px #D8A861;}
/* ## info user admin  */

.fieldset_google,.fieldset_yahoo {height:56px;line-height:28px;padding:10px;background:#fff;border: 1px solid #B1B1B1;-moz-border-radius: 4px; border-radius:4px;}
.fieldset_google {background:url(../images/google.gif) no-repeat 5% 50%;}
.fieldset_yahoo {background:url(../images/yahoo.gif) no-repeat 5% 50%;}
.fieldset_google  legend ,.fieldset_yahoo  legend{color:#B1B1B1;line-height:0;}
.fieldset_google:hover {background-color:#F3F3F3;border: 1px solid #5555FF;color:#0000FF}
.fieldset_yahoo:hover {background-color:#F3F3F3;border: 1px solid #A375CF;color:#800080}

/*   start general statistics */
.general_statistics {background:url(../images/bg_general_statistics.png) no-repeat -10px 4px;}

.disk_size{padding:0;margin:0;float:left;}
.filsiz{padding:3px; font-weight:bold;font-size:x-large;color:#FF9797;text-align:center;text-decoration:line-through;vertical-align:top}
/*  #  start general statistics */

/* start box team kleeja */
.team_info{padding:5px 0;}
.team_info h2{color:#0B55C4;font-size:18px;}
.team_info p{direction:ltr;padding:0; margin-top:-20px;}
.team_info table{direction:ltr;margin-top:2px;}
.team_info tr{border: 1px dashed #DFDFDF}
.team_info td{border:none;line-height:14px;}
.team_tr {background:#fff url(../images/message-bar.png) repeat-x bottom left;}
.team_tr td{height:20px;line-height:20px}
.team_tr:hover{background-color:transparent;}
.team_info a{font-weight:700;color:#333}
/* # box team kleeja  */


#mail_here {margin:5px auto;padding:10px;font-size:118%;word-spacing:3px;line-height:22px;background:#EFE7B8;border-top: 2px solid #FEA53D;border-bottom: 2px solid #FEA53D;}
.msg_sent { }
.is_sent {}

.reports {background:#fff url(../images/bg_reports.gif) no-repeat 50% 10%;}

