* { padding: 0;margin: 0;}
body {
	background:#C8C8C8 url('../styles/default/images/body.png') no-repeat top center fixed;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:9pt;
	line-height: 1.5em;
	margin:0px auto; 
	text-align: center
}
aligny {
float : {{echo $lang['DIR']=='ltr'?'left':'right'}}
}
input {color: #333333;font-family: "Tahoma", Verdana, Helvetica, sans-serif;font-size:11px;font-weight: normal;padding: 2px;}
select {color: #333333; background-color: #FAFAFA;font-family: "Tahoma", Verdana, Helvetica, sans-serif;font-size: 1.1em;font-weight: normal;border: 1px solid #A9B8C2;padding: 1px;}
option { padding: 0 1em 0 0;}
img { border:0px } 

* html fieldset { padding: 0 10px 5px 10px;}
a {color: #3B6EBF;text-decoration: none;}
a:hover {text-decoration: underline;}



.header{  
width: 100%;
height: 22px;
line-height:22px;
background-color:#FF9900;
font-size:12px;
font-weight:400;
text-indent:20px;
letter-spacing:1px;
border-bottom:1px inset #222;
text-align:left;
}

.clr {clear: both;overflow:hidden;height:0;}

.box_body{width:80%;margin:2px auto;}


.wz{-moz-border-radius: 8px; border-radius:1px;color: #333333; background-color: #FAFAFA;font-family: "Tahoma", Verdana, Helvetica, sans-serif;font-size: 1.1em;font-weight: normal;border: 1px solid #A9B8C2;padding: 1px;}

.ul_check,.ul_check2 { 
padding: 10px;
}
.ul_check li {
font-size: 1.2em;
line-height: 2.3em
}
.ul_check2 li {
font-size: 0.9em;
line-height: 2em
}
/*language step*/
.language_choose {position: absolute;top:35%;left:36%;}

ul#choose, ul#choose ul {
  margin: 0px auto;
  list-style: none;
}

ul#choose li {
  display: block;
  float: left;
  text-indent: 0px;
  margin: 2px;
}

ul#choose li a {
  display: block;
  text-decoration: none;
}

ul#choose li {
  width: 128px;
  height: 128px;
  line-height: 50px;
  background-position: 0 0; 
}

ul#choose img {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}


.home {
	width:70%;
	padding:15px 0;
	margin:20px auto;
	background:#FEFEFE url('style/images/body_install.jpg') repeat-x top center;
	border: 1px solid #A9B8C2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.text{
color:#000059;
padding:10px 20px;
text-align:justify;
}
.submit_no,.submit_yes{
width: 75%;
font-weight:bold;
margin:2px 0;
padding: 4px 0;
}
.submit_no{color:red}
.submit_yes{color:green}
.word{
background:url('style/images/world.png') repeat-x top center;
}
.title{
width: 100%;
font-size:14px;
color:#D00000;
background-color:#E6C0C0;
padding: 7px 0px;
border-top:3px solid #DE7A7B;
border-bottom: 3px solid #DE7A7B;
float: {{echo $lang['DIR']=='ltr'?'left':'right'}};
} 
