* { padding: 0;margin: 0;}
body {background:url('style/images/bg.png') repeat fixed;font-family: Tahoma, Arial, Verdana, sans-serif, "Lucida Grande", "Lucida Sans Unicode";font-weight:bold;font-size:11px;line-height: 1.5em;margin:0px auto;text-align: center;text-shadow:#fff 0px 0px 2px;}
input {padding:2px;font-family: Tahoma, Arial, Verdana, sans-serif, "Lucida Grande", "Lucida Sans Unicode";font-size:12px;font-weight: normal;}
input[type="submit"] {cursor: pointer;padding:2px 8px;margin:3 6px;width:100px;}
select {color: #333333; background-color:#FAFAFA;border: 1px solid #A9B8C2;padding: 1px;}
option {vertical-align:middle;}
img { border:0px } 
p {line-height:20px;}

a:link,a:visited{color:#000;text-decoration:underline;}
a:hover {color:#EF5A00;text-decoration: none;}
select:focus,textarea:focus {background-color:#ffd;}

img, div{ behavior: url('style/ie6/iepngfix.htc') ;}

.ins_klj{position:fixed;bottom:0;left:0;background:url('style/images/Background.gif') no-repeat bottom left fixed;}
.box_body{width:80%;margin:2px auto;}
.clr {clear: both;overflow:hidden;height:0;}

.header{width:100%;height:25px;line-height:25px;background:url('style/images/bg_header.gif') repeat-x top center;border-bottom:1px solid #D86700;}
.header_text {float:left;display: inline;color:white;font:bold 12px Arial;letter-spacing:2px;line-height:25px;text-align:left;padding-left:3%;text-shadow: 1px 1px 2px rgb(56, 56, 56);}
.divline {height:14px;background: url("style/images/divline.png") no-repeat top center;}		

.logo {width:100%;margin:0px auto 10px auto;clear: both;}

.language_choose {position: absolute;top:38%;left:18%;overflow:hidden;}
ul#choose, ul#choose ul {margin:0;padding:0;list-style: none;}
ul#choose li {width: 128px;height: 128px;float: left;margin: 5px;text-align:center;overflow:hidden;}
ul#choose li a {display: block;text-decoration: none;}
ul#choose img {width: 100%;height: 100%;border: 0;display: block;}

.home {width:70%;padding:15px;margin:5px auto;background:#FEFEFE url('style/images/box_bg.jpg') repeat-x bottom center;border: 1px solid #B5B5B5;}
.text {color:#222;padding:10px;text-align:justify;font-size:11px;}
.sure {background:#FFFF00;color:#111;padding:4px;}

.official_yes {width:80%;padding:10px;margin:0px auto 5px auto;background:#FEFEFE url('style/images/box_bg.jpg') repeat-x bottom center;border-bottom: 1px solid #B5B5B5;}
a.official_no:link,a.official_no:visited{color:red;text-decoration:none;}
a.official_no:hover {color:red;text-decoration: none;background:#FEFEFE;}

.submit_no,.submit_yes{font-weight:bold;margin:2px 0;padding: 4px 0;}
.submit_no{color:red}
.submit_yes{color:green}
.title{width:98%;margin:0 auto;font-size:14px;color:#D80000;background-color:#EED2D2;padding: 10px 0px;border-top:1px solid #DE7A7B;border-bottom:1px solid #DE7A7B;}

.home ,.install_update{-moz-border-radius:11px;-khtml-border-radius: 11px;-webkit-border-radius: 11px;border-radius:10px;-moz-box-shadow: rgba(112,112,112,1) 0 4px 10px;-webkit-box-shadow: rgba(112,112,112,1) 0 4px 10px;-khtml-box-shadow: rgba(112,112,112,1) 0 4px 10px;box-shadow: rgba(112,112,112,1) 0 4px 10px;}
.install_update {width:50%;margin:25px auto;padding:20px 0;cursor:pointer;background:#FEFEFE url('style/images/box_bg.jpg') repeat-x bottom center;border:1px solid #B5B5B5;}
.install_update p{text-align:center;margin:10px auto;color:#FF7B00;font-size:32px;}

div.install_update:hover {background:#F9F9E8 url('style/images/xhover.gif') repeat-x bottom center;border:1px solid #FF6633;}

.licens3 {width: 500px;height:180px;direction:ltr;overflow: auto;padding:15px;margin:10px auto;background:#FCFCEF url('style/images/xhover.gif') repeat-x bottom center ;border: 1px solid #A9B8C2;text-align:justify;color:#111;}
.ul_check,.ul_check2 {list-style:none;margin:5px 0;}

.notice_check {text-align:justify;font-size:11px;border-top:1px solid #D3B25B;border-bottom:1px solid #D3B25B;background:#F9F9E8 url('style/images/xhover.gif') repeat-x bottom center;padding:6px;margin:2px 0;}
.notice_check p{	text-indent:10px;padding:2px 0;margin-top:4px;font-weight:700;}

.table_conf {width:94%;margin:6px auto;font-size:12px;font-weight:400;}
.input_conf {width:220px;direction:ltr;cursor: text;border-left: 1px solid #AFAEAA;border-top: 1px solid #AFAEAA;border-right: 1px solid #D5D5C8;border-bottom: 1px solid #D5D5C8;}
.input_conf:hover {border: 1px solid #999;}
.input_conf:focus {background-color:#ffd;border: 1px solid #D26900;}
.td_conf{width:100%;padding:1px 10px;background-color:#FFF;}

.data_table_install {width:92%;margin:5px auto;border:1px solid #F6E7E0;font-size:12px;font-weight: normal;}
.tdd {width:24%;text-align:center;}
.data_table_install input {width:90%;padding:2px 4px;border:1px solid #aaa;}
.data_table_install input:focus {background-color:#E3FCDC;border: 1px solid #B7D876;}
.data_table_install select  {border:1px solid #AF8FCE;}
.data_table_install th ,.data_table_install td {padding:4px;border-right:1px solid #aaa;border-top: 1px solid #eee;border-left:1px solid #eee;border-bottom:1px solid #aaa;}
.data_table_install th {white-space: nowrap;background:#0C91CF;font-weight:bold;line-height:22px;color:#fff;font-size:11px;}
.data_table_install  td {line-height:120%;white-space:nowrap;}
.data_table_install a,.data_table_install a:link {color:#039;}
.data_table_install th:hover a,.data_table_install td:hover a {color:#0000FF;text-decoration:underline;}
.data_table_install:hover {border-color:#B7D876;}
.data_table_install tr:hover  {background-color:#FFBBB9;color:#EC0000;}
.data_table_install tr td:hover{background-color:#FDFFB9;color:#F6580E;}

.pstrength-minchar {font-size:10px;display:inline;padding:0 8px;width:30%;}
.pstrength-bar {margin:1px 0;}

.sql_content  {margin:5px 0;padding:20px 10px;}
.sql_content ul {	list-style-type:none;text-indent:10px;}
.sql_content  ul li {height:26px;line-height:26px;color:green;font-size:12px;}

.waht_kleeja {width:68%;padding:15px;margin:5px auto;}
.waht_kleeja p{text-align:justify;color:#333;padding:6px 10px;font-size:11px;}
.w_t {color:#EF5A00;padding:3px;background:#FFFFEC url('style/images/dots.gif') repeat-x bottom center;-moz-border-radius : 5px; /* Mozilla */	-webkit-border-radius : 5px; /* Webkit */	-khtml-border-radius : 5px; /* Konqueror */	border-radius : 5px; /* CSS3 only */}
	
.title_plugin{width: 94%;margin:0 auto 10px auto;font-size:13pt;color:#537027;background-color:#ECFFD1;padding: 5px 0px;border-top:1px solid #7E9F4D;border-bottom:1px solid #7E9F4D;}
.text_plugin{color:#32490E;padding:2px 20px;text-align:justify;font-size:11px;}

.table_plugin {width:92%;margin:5px auto;border:1px solid #F6E7E0;font-size:12px;font-weight: normal;}
.table_plugin th ,.table_plugin td {padding:4px;border-right:1px solid #aaa;border-top: 1px solid #eee;border-left:1px solid #eee;border-bottom:1px solid #aaa;}
.table_plugin th {white-space:normal;text-align: center;background:#91CF0C;font-weight:bold;line-height:22px;color:#111;font-size:11px;}
.table_plugin  td {line-height:120%;white-space:normal;}
.table_plugin a,.table_plugin a:link {color:#039;}
.table_plugin th:hover a,.table_plugin td:hover a {color:#0000FF;text-decoration:underline;}
.table_plugin:hover {border-color:#B7D876;}
.table_plugin tr:hover  {background-color:#DFFFE0;color:#32490E;}
.table_plugin tr td:hover{background-color:#FDFFB9;color:#222;}

.endhome{color:#004081;background-color:#D1ECFF;padding: 20px 10px;border-top:1px solid #91BBD8;border-bottom:1px solid #91BBD8;cursor:pointer;}
.endhome:hover {background-color:#F7FBFF;border-top:1px solid #AADCFF;border-bottom:1px solid #AADCFF;cursor:pointer;}

.cp{color:#79A33A;background-color:#EDFFD1;border-top:1px solid #BCD891;border-bottom:1px solid #BCD891;}
.cp:hover {background-color:#FBFFF7;border-top:1px solid #DEFFAA;border-bottom:1px solid #DEFFAA;}
.inst_finish {width:70%;padding:10px 0;margin:10px auto 0 auto;color:#004081;text-align:justify;border-bottom: 1px solid #A9B8C2;}
.select_version {width:54%;border:1px solid #D5A920;}
 
.select_version option { color:#FF8000;background-color:#fff;border-bottom:1px dotted #D6D6D6;font-size:14px;font-weight:bold;padding:2px 10px;}
.up_ver{color:#004081;padding: 2px 6px;border-right:1px solid #91BBD8;border-left:1px solid #91BBD8;}

#scroll_div  {height:200px;overflow: auto;}
#scroll_div ul {list-style-type:none;text-indent:10px;}
#scroll_div  ul li {height:26px;line-height:26px;color:green;font-size:12px;}

/*checkboxes*/
.jquery-checkbox  {display: inline; line-height: 18px; cursor: pointer; cursor: hand;}
.jquery-checkbox .mark {display: inline;}
.jquery-checkbox img {vertical-align: middle; width: 18px; height: 18px;background: url(../admin/admin_style/images/checkbox1.png) no-repeat 0px 0px}
.jquery-checkbox-hover img{background: url(../admin/admin_style/images/checkbox1.png) no-repeat -27px 0px;}
.jquery-checkbox-checked img{background: url(../admin/admin_style/images/checkbox1.png) no-repeat -82px 0px;}
.jquery-checkbox-checked .jquery-checkbox-hover img {	background: url(../admin/admin_style/images/checkbox1.png) no-repeat -55px 0px;}
.jquery-checkbox-disabled img{background: url(../admin/admin_style/images/checkbox1.png) no-repeat 0px 0px;}
.jquery-checkbox-checked .jquery-checkbox-disabled img{background: url(../admin/admin_style/images/checkbox1.png) no-repeat 0px 0px;}

/*Changing Languages && image combobox*/
#Select_language {width:55px;float:right;}
.dd {text-align:left;float:left;	background-color:#fff;font-family:Arial, Helvetica, sans-serif;	font-size:12px;font-variant:small-caps;}
.dd .ddTitle {background:#F8F2E4;border:1px solid #B15400;padding:2px ;text-indent:5px;overflow:hidden;height:16px;}
.dd .ddTitle span.arrow {background:url(style/images/dd_arrow.gif) no-repeat 0 0; float:right; display:inline-block;width:16px; height:16px; cursor:pointer;}
.dd .ddTitle span.textTitle {text-indent:5px; overflow:hidden; line-height:16px;}
.dd .ddTitle span.textTitle img{text-align:left; padding:0 0 0 2px}
.dd .ddTitle img.selected {padding:0 0 0 2px;	vertical-align:top;}
.dd .ddChild {position:absolute;border:1px solid #B15400;border-top:none;display:none;width:auto;overflow:auto;overflow-x:hidden !important;background-color:#ffffff;}
.dd .ddChild .opta a, .dd .ddChild .opta a:visited {padding-left:10px}
.dd .ddChild a {display:block;padding:3px;text-decoration:none;color:#000;overflow:hidden;white-space:nowrap;cursor:pointer;}
.dd .ddChild a:hover {background:#FFFF00;}
.dd .ddChild a img {border:0;padding:0 2px 0 0;vertical-align:middle;}
.dd .ddChild a.selected {background:#E9E9E9;}
.hidden {display:none;}
