.pop {
  position: absolute;
  display: inline;
  }
  .pop .pop_menu {
    display: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	}
  .pop .pop_toggle {
    background-image: url(../images/header_arrow_top.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer;
}
.active .pop_menu {
  display: block;
  background-color: #fff;
  color: #000;
  position: absolute;
  width: 12em;
  border:1px solid #81C6FF;
  }
  .active .pop_menu a {
    color: #fff; }
.active .pop_toggle {
  z-index: 2000;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/header_arrow_down.png);
}
