/*
Kleeja style
*/

body {
	margin: 0;
	padding: 12;
	background: #FFFFFF url(images/img01.jpg) repeat-x left
top;
	font-size: 11px;
	font-family: "Tahoma", arial, verdana, sans-serif;
	text-align: justify;
	color: #5C5C5C;
}

h1, h2, h3 {
	margin: 0;
	text-transform: lowercase;
	font-weight: normal;
	color: #FFFFFF;
}

h1 {
	letter-spacing: -1px;
	font-size: 32px;
}

h2 {
	font-size: 23px;
}

p, ul, ol {
	margin: 0 0 2em 0;
	text-align: justify;
	line-height: 26px;
}

a {
	color: #1B75A9;
}

a:hover, a:active {
	text-decoration: none;
	color: #1B75A9;
}

a:visited {
	color: #1B75A9;
}

img {
	border: none;
}

img.left {
	float: left;
	margin-right: 15px;
}

img.right {
	float: right;
	margin-left: 15px;
}

/* Form */

form {
	margin: 0;
	padding: 0;
}

input, textarea, select {
	font-size: 13px;
	color: #333333;
}

#wrapper {
	margin: 0;
	padding: 0;
}

/* Header */

#header {
	width: 880px;
	margin: 0 auto;
	height: 60px;
	border: 10px #FFFFFF solid;
}

/* Menu */

#menu {
	float: left;
	width: 880px;
	background: url(images/img02.jpg) repeat-x left top;
	color: #FFFFFF;
	  border-bottom: 1px solid #E1E1E1; 
        padding: 5px;
        margin-bottom:9px;
}

#menu a {
	text-decoration: underline;
	font-size: 11px;
	color: #FFFFFF;
}

#menu a:hover { 
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
	color: #FFFFFF;
}

/** LOGO */

#logo {
	width: 880px;
	height: 130px;
	margin: 0 auto;
}

#logo h1, #logo h2 {
	float: left;
	margin: 0;
	padding: 50px 0 0 0px;
	line-height: normal;
}

#logo h1 { 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size:40px;
}

#logo h1 a {
	text-decoration: none;
	color: #28313A; 
}

#logo h1 a:hover { text-decoration: underline; }

#logo h2 {
	float: left;
	padding: 65px 0 0 18px;
	font: 18px Georgia, "Times New Roman", Times, serif;
	color: #28313A; 
}

#logo p a {
	text-decoration: none;
	color: #28313A;
}

#logo p a:hover { text-decoration: underline; }



/* Page */

#page {
	width: 880px;
	margin: 0 auto;
	background: #FFFFFF;
	border: 10px #FFFFFF solid;
}

/* Content */

#content {
	float: left;
	width: 620px;
	border-right: 1px dashed #DFE1E0;
}



/* Sidebar */

#sidebar {
	float: right;
	width: 230px;
	margin: 0;
	padding: 0;
}

#sidebar li {
	margin-bottom: 0px;
}
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0;
}

#sidebar h2 {
	width: 250px;
	padding: 8px 0 0 0px;
	margin-bottom: 10px;
	background: url(images/img07.jpg) no-repeat left top;
	font-size: 20px;
	color: #28313A; 
}


/* Footer */
#footer-wrap {
}

#footer {
	padding: 4px;
	width: 880px;
	margin: 0 auto;
	background: #E5E5E5;
	border: 10px #FFFFFF solid;
	text-align: center;
}

html>body #footer {
	height: auto;
}

#footer p {
	font-size: 12px;
}
/* box for some info */
input {
        font-weight: normal;
        cursor: pointer;
        vertical-align: middle;
        padding: 0 3px;
        font-size: 1.2em;
        font-family: Tahoma, Helvetica, Arial, sans-serif;
                 border: 1px solid #BCBCBC;
        background-position: 0 100%;
        color: #666666;
}
select {
        font-family: Tahoma, Helvetica, Arial, sans-serif;
        font-weight: normal;
        cursor: pointer;
        vertical-align: middle;
        border: 1px solid #666666;
        padding: 1px;
        background-color: #FAFAFA;
}

.err {
        padding: 5px;
        background-color: #FFEBE9;
        border: 1.5px solid #DD3F0E;
        margin: 10px 10px;
        font-size: 13px;
        font-family: "Tahoma", Times, serif;
}
.info {
        padding: 5px;
        background-color: #FFFFE6;
        border: 1.5px solid #E2EE0B;
        margin: 10px 10px;
        font-size: 13px;
        font-family: "Tahoma", Times, serif;
}
.result {
        padding: 5px;
        background-color: #FFFFE6;
        border: 1.5px solid #E2EE0B;
        margin: 10px 10px;
        font-size: 13px;
        font-family: "Tahoma", Times, serif;
}

/* box for some info */
.daaf {
        background-color: #FFFFD7;
        border: 2px solid #999999;
        padding: 5px;
        margin:0 auto;
        line-height: 1.5em;
        overflow: hidden;
        width:60%
}
option {
        padding-right: 1em;
}
textarea {
        font-family: "Tahoma", Verdana, Helvetica, Arial, sans-serif;
        width: 60%;
        padding: 2px;
        font-size: 1em;
        line-height: 1.4em;
}
/*
dont remove it  start
*/
div#loadbox {
        padding: 10px;
        display: none;
}
div#texttype {
        display: none;
}

h2 { 
        font-family: "Tahoma", Arial, Helvetica, sans-serif;
        font-weight: normal;
        color: #3B6EBF; 
    font-size: 1.4em;
        margin: 0.8em 0 0.2em 0;
        
        }
