* { padding: 0;margin: 0;}
body {
	background:#EAEBEF url('style/images/Background.jpg') no-repeat bottom left fixed;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:9pt;
	line-height: 1.5em;
	margin:0px auto; 
	text-align: center
}
aligny {
float : {{echo $lang['DIR']=='ltr'?'left':'right'}}
}
input {color: #333333;font-family: "Tahoma", Verdana, Helvetica, sans-serif;font-size:11px;font-weight: normal;padding: 2px;}
select {color: #333333; background-color: #FAFAFA;font-family: "Tahoma", Verdana, Helvetica, sans-serif;font-size: 1.1em;font-weight: normal;border: 1px solid #A9B8C2;padding: 1px;}
option { padding: 0 1em 0 0;}
img { border:0px } 

* html fieldset { padding: 0 10px 5px 10px;}
a {color: #3B6EBF;text-decoration: none;}
a:hover {text-decoration: underline;}

.clr {clear: both;overflow:hidden;height:0;}

.box_body{width:80%;margin:2px auto;}


.wz{-moz-border-radius: 8px; border-radius:1px;color: #333333; background-color: #FAFAFA;font-family: "Tahoma", Verdana, Helvetica, sans-serif;font-size: 1.1em;font-weight: normal;border: 1px solid #A9B8C2;padding: 1px;}

.ul_check,.ul_check2 { 
padding: 10px;
}
.ul_check li {
font-size: 1.2em;
line-height: 2.3em
}
.ul_check2 li {
font-size: 0.9em;
line-height: 2em
}
/*language step*/
.language_choose {position: absolute;top:32%;left:36%;}

ul#choose, ul#choose ul {
  margin: 0px auto;
  list-style: none;
}

ul#choose li {
  display: block;
  float: left;
  text-indent: 0px;
  margin: 2px;
}

ul#choose li a {
  display: block;
  text-decoration: none;
}

ul#choose li {
  width: 128px;
  height: 128px;
  line-height: 50px;
  background-position: 0 0; 
}

ul#choose img {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}


.home {
	width:70%;
	padding:15px 0;
	margin:20px auto;
	background:#FEFEFE url('style/images/body_install.jpg') repeat-x top center;
	border: 1px solid #A9B8C2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.text{
color:black;
padding:10px 20px;
text-align:justify;
}
.submit_no,.submit_yes{
width: 85%;
font-weight:bold;
margin:2px 0;
padding: 4px 0;
}
.submit_no{color:red}
.submit_yes{color:green}

.footer{  
width: 100%;
height: 22px;
position:absolute;bottom:0;left:0;
line-height:22px;
background-color:#FF6600;
font-size:12px;
font-weight:400;
text-indent:20px;
letter-spacing:1px;
border-top:1px inset #ccc;
text-align:left;
direction:ltr;
}

.title{
width: 94%;
margin:0 auto;
font-size:11pt;
color:#D00000;
background-color:#E6C0C0;
padding: 10px 0px;
border:1px solid #DE7A7B;
text-align: center;
}
.install_on,.update_on {
	width:35%;
	padding:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

.install_on {
	float:right;
	margin:20px 50px 10px 5px;
	background:#E8FFE8;
	border:1px solid #C1FFC1;
}

.update_on {
	float:left;
	margin:20px 10px 10px 50px;
	background:#E8E8FF;
	border:1px solid #C1C1FF;
}
.install_on a {
color:green;
}

.install_on:hover ,.update_on:hover {
	background:#fff;
	border:1px solid #FF0000;
}
.install_on a:hover ,.update_on a:hover {
text-decoration: none;
color:red;
}
.licens3 {
width: 500px; 
height:240px;
direction:ltr;
overflow: auto;
padding:15px;
margin:10px auto;
background:#FEFEFE url('style/images/body_install.jpg') repeat-x top center;
border: 1px solid #A9B8C2;
text-align:left;
color:#0043AE;
}