* { padding: 0;margin: 0;}
body {
	background:#EAEBEF url('style/images/Background.jpg') no-repeat bottom left fixed;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:9pt;
	line-height: 1.5em;
	margin:0px auto; 
	text-align: center
}
aligny {
float : {{echo $lang['DIR']=='ltr'?'left':'right'}}
}
input{
	padding:2px;
	font-family: "Tahoma", Verdana, Helvetica, sans-serif;
	font-size:11px;
	font-weight: normal;
}

select {color: #333333; background-color: #FAFAFA;font-family: "Tahoma", Verdana, Helvetica, sans-serif;font-size: 1.1em;font-weight: normal;border: 1px solid #A9B8C2;padding: 1px;}
option { padding: 0 1em 0 0;}
img { border:0px } 

* html fieldset { padding: 0 10px 5px 10px;}
a {color: #3B6EBF;text-decoration: none;}
a:hover {text-decoration: underline;}

select:focus,textarea:focus {
	background-color:#ffd;
	border: 1px solid #D26900;
}

.clr {clear: both;overflow:hidden;height:0;}

.box_body{width:80%;margin:2px auto;}


.wz{-moz-border-radius: 8px; border-radius:1px;color: #333333; background-color: #FAFAFA;font-family: "Tahoma", Verdana, Helvetica, sans-serif;font-size: 1.1em;font-weight: normal;border: 1px solid #A9B8C2;padding: 1px;}

/*language step*/
.language_choose {position: absolute;top:32%;left:36%;}

ul#choose, ul#choose ul {
  margin: 0px auto;
  list-style: none;
}

ul#choose li {
  display: block;
  float: left;
  text-indent: 0px;
  margin: 2px;
}

ul#choose li a {
  display: block;
  text-decoration: none;
}

ul#choose li {
  width: 128px;
  height: 128px;
  line-height: 50px;
  background-position: 0 0; 
}

ul#choose img {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}


.home {
	width:70%;
	padding:15px 10px;
	margin:20px auto;
	background:#FEFEFE url('style/images/body_install.jpg') repeat-x top center;
	border: 1px solid #A9B8C2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.text{
color:black;
padding:10px 20px;
text-align:justify;
}
.submit_no,.submit_yes{
width: 94%;
font-weight:bold;
margin:2px 0;
padding: 4px 0;
}
.submit_no{color:red}
.submit_yes{color:green}

.header{  
width: 100%;
height: 22px;
color:#fff;
line-height:22px;
background-color:#FF6633;
font-size:11px;
text-indent:22px;
letter-spacing:1px;
border-bottom:1px inset #222;
text-align:left;
direction:ltr;
}

.title{
width: 94%;
margin:0 auto;
font-size:11pt;
color:#D00000;
background-color:#E6C0C0;
padding: 10px 0px;
border-top:1px solid #DE7A7B;
border-bottom:1px solid #DE7A7B;
text-align: center;
}
.install_on,.update_on {
	width:38%;
	padding:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

.install_on {
	float:right;
	margin:20px 30px 10px 5px;
	background:#E8FFE8;
	border:1px solid #C1FFC1;
}

.update_on {
	float:left;
	margin:20px 10px 10px 30px;
	background:#E8E8FF;
	border:1px solid #C1C1FF;
}
.install_on a {
color:green;
}

.install_on:hover ,.update_on:hover {
	background:#fff;
	border:1px solid #FF0000;
}
.install_on a:hover ,.update_on a:hover {
text-decoration: none;
color:red;
}
.licens3 {
width: 500px; 
height:240px;
direction:ltr;
overflow: auto;
padding:15px;
margin:10px auto;
background:#FEFEFE url('style/images/body_install.jpg') repeat-x top center;
border: 1px solid #A9B8C2;
text-align:left;
color:#0043AE;
}

.ul_check,.ul_check2 {
list-style:none;
padding: 10px;
}
.ul_check li {
line-height:2em
}
.ul_check2 li {
line-height: 2em
}
.notice_check {
	text-align:justify;
	font-size:11px;
	border-top:1px solid #D8D8A2;
	border-bottom:1px solid #D8D8A2;
	background-color:#FFFFE6;
	padding:3px 10px;
	text-indent:5px;
	margin:2px 0;
}
.table_conf {
	width:94%;
	margin:6px auto;
	font-size:12px;
	font-weight:400;
}
.input_conf {
	width:200px;
	direction:ltr;
	cursor: text;
	border-left: 1px solid #AFAEAA;
	border-top: 1px solid #AFAEAA;
	border-right: 1px solid #D5D5C8;
	border-bottom: 1px solid #D5D5C8;
}
.input_conf:hover {
	border: 1px solid #999;
}
.input_conf:focus {
	background-color:#ffd;
	border: 1px solid #D26900;
}
.td_conf{
	width:100%;
	padding:0 10px;
	background-color:#DDDDFF;
	text-align:{{echo $lang['DIR']=='rtl'?'right':'left'}};
}