/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/

*{margin:0;padding:0;}


/*  START FOR ONLINE */
.onlineall ,.onlinevisitor ,.onlineusers {float:right;margin-left:4px;margin-right:4px;}
/*  #  END FOR ONLINE */

/* tabs */
.tabbertab {border:0px solid #aaa;}
ul.tabbernav li a{padding-top:5px;padding-bottom:5px;padding-right:14px;padding-left:14px; margin-left:5px;border:0px}
ul.tabbernav li a:hover{padding-top:5px;padding-bottom:5px;padding-right:14px;padding-left:14px;text-decoration:none;}
ul.tabbernav li.tabberactive a{padding-top:5px;padding-bottom:5px;padding-right:14px;padding-left:14px;}
ul.tabbernav li.tabberactive a:hover{text-decoration:none;}
/* # tabs  */

/* divx */
#divx {background-color:#C8C8C8;}
/* #  divx */

/* pagination */
.pagination {padding:6px;}
.paging {background:#C8C8C8 url(../images/headlinebg.png) repeat-x center right;margin:0 2px;padding:3px 6px;}
.here_page {background:#FFF8C6 url(../images/headlinebg.png) repeat-x center right;margin:0 2px;padding:3px 6px; }
.here_page ,.paging:hover{background:#FFF8C6 url(../images/headlinebg.png) repeat-x center right;}
/* pagination */

.left_button{padding:5px;}

/*-- start Profile template >> profile.html  */
#profile .boxdata .bq {line-height:16px;padding:1px 5px;}
#profile .boxdata .in{line-height:16px;padding:1px 5px;margin-right:10px;}
/*-- End Profile template >> profile.html   */

/* ALL buttons */
#buttons ,.buttons{padding:4px 10px;}
/* ## ALL buttons */

/**  start The main menu at the top **/        
#top_menu {width: 100%;height: 43px}
#top_menu  .m3nu {width: 80%;height: 43px;font-size: 12px;font-weight: bold;list-style-type: none;margin: 0 auto;}
#top_menu  ul.m3nu li {float: left;}
#top_menu  ul.m3nu li a {height: 43px;color: #777;text-decoration: none;        display: block;float: left;padding: 8px 15px 0;}
#top_menu  ul.m3nu li a:hover {color: #333;background: url(../images/current-bg.gif) top left repeat-x;}
#top_menu  ul.m3nu li a.current{color: #FFF;background: url(../images/current-bg.gif) top left repeat-x;padding:5px 15px;}
/** # End The main menu at the top **/  