/*
# Powered by Kleeja .... Kleeja.com
*/
.onlineall ,.onlinevisitor ,.onlineusers {float:left;margin-left:4px;margin-right:4px;}
#profile .boxdata{float:left;width:31%;height:220px;}
#profile .boxdata  .in{margin-left:18px;}