* {
    padding: 0;
    margin: 0;
} 

html {
        font-size: 100%;
        /* Always show a scrollbar for short pages - stops the jump when the scrollbar appears. non-IE browsers */
        height: 100%;
        margin-bottom: 1px;
}
body {
    background: #fff;
	font: .74em "Tahoma" Verdana, Arial, sans-serif;
	line-height: 1.5em; 
    margin: 0;
    padding: 12px 0;
}
a {
	color: #3B6EBF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


#wrap {
margin: 20px auto;
width: 724px;
background: #fff url('images/midd.jpg');
background-repeat: repeat-y;
}

#top { 
background: #fff url('images/topp.jpg');
height: 26px;
}

#content {
padding: 0 40px 0 40px;
}

#bottom {

background: #fff url('images/bott.jpg');
height: 20px;
}


.header {
height: 100px;
background: #85ACF7 url('images/top_bg.gif');

}

.header h1 {
        /* Forum name */
        font-family: "Tahoma", Trebuchet MS, Arial, Helvetica, sans-serif;
        margin-right: 200px;
        color: #FFFFFF;
        margin-top: 15px;
        font-weight: bold;
        font-size: 2em;
}
.header h1 a { font-size: 22px; color: #FFF; text-decoration: none;}
.header h2 {
        /* Forum header titles */
        font-family: "Tahoma", Trebuchet MS, Arial, Helvetica, sans-serif;
        font-weight: normal;
        color: #3f3f3f;
        font-size: 2em;
        margin: 0.8em 0 0.2em 0;
}

.breadcrumbs { 
    background: #F6F9FB; 
	border-bottom: 1px solid #E1E1E1; 
	padding: 5px;
}
	
.middle {
	float: right;
	width: 59%;
	margin: 0 10px;
	padding: 1% 1%;
	text-align: justify;
}

.right {
	float: right;
	width: 30%;
	margin: 0 10px;
	padding: 1% 1%;
	
}

.right ul {
	padding: 20px 0 15px 20px;
	margin:0;
}

.right li {
	margin-bottom:5px;
	list-style-type: square;
	color: #3B6EBF;
}

.middle h2 { color: #3B6EBF; font-size: 16px; margin-bottom: 10px; margin-top: 10px;}
.right h2 { color: #3B6EBF; font-size: 14px; margin-top: 15px;}


#clear {
	display: block;
	clear: both;
	width: 100%;
	height:1px;
	overflow:hidden;
}

#footer {
	text-align: center;
	color: #666;
}
textarea {
        font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
        font-size: 0.85em;
        width: 60%;
        padding: 2px;
}

label {
        cursor: pointer;
        font-size: 0.85em;
        padding: 0 5px 0 0;
}
fieldset {
        margin: 15px 0;
        padding: 10px;
        border-top: 1px solid #D7D7D7;
        border-right: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        border-left: 1px solid #D7D7D7;
        background-color: #FFFFFF;
        position: relative;
		/* rounded corners for firefox .. love u saanina ;) */
		-moz-border-radius: 8px; border-radius:1px;

}
* html fieldset {
        padding: 0 10px 5px 10px;
}
.rtl fieldset {
        border-top: 1px solid #D7D7D7;
        border-right: 1px solid #D7D7D7;
        border-bottom: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
}
legend {
        padding: 1px 0;
        font-family: Tahoma,arial,Verdana,Sans-serif;
        font-size: .9em;
        font-weight: bold;
        color: #115098;
        margin-top: -.4em;
        position: relative;
        text-transform: none;
        line-height: 1.2em;
        top: 0;
        vertical-align: middle;
}
/* Hide from macIE \*/
legend { top: -1.2em; }
/* end */

* html legend {
        margin: 0 0 -10px -7px;
        line-height: 1em;
        font-size: .85em;
}
/* Holly hack, .rtl comes after html */
* html .rtl legend {
        margin: 0;
        margin-right: -7px;
}

input, textarea {
        font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
        font-size: 0.90em;
        font-weight: normal;
        cursor: text;
        vertical-align: middle;
        padding: 2px;
        color: #111111;
        border-left: 1px solid #AFAEAA;
        border-top: 1px solid #AFAEAA;
        border-right: 1px solid #D5D5C8;
        border-bottom: 1px solid #D5D5C8;
        background-color: #E3DFD8;
}
.rtl input, .rtl textarea {
        border-left: 1px solid #D5D5C8;
        border-top: 1px solid #AFAEAA;
        border-right: 1px solid #AFAEAA;
        border-bottom: 1px solid #D5D5C8;
}
select {
        font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
        font-size: 0.85em;
        font-weight: normal;
        font-style: normal;
        cursor: pointer;
        vertical-align: middle;
        width: auto;
        color: #000;
}

textarea {
        font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
        font-size: 0.85em;
        width: 60%;
        padding: 2px;
}

label {
        cursor: pointer;
        font-size: 0.85em;
        padding: 0 5px 0 0;
}

fieldset.quick, p.quick {
        margin: 0 0 5px;
        padding: 5px 0 0; 
        border: none;
        background-color: transparent;
        text-align: right;
}

.rtl fieldset.quick, .rtl p.quick {
        text-align: left;
}
a.button1, input.button1, input.button3,
a.button2, input.button2 {
        width: auto !important;
        padding: 1px 3px 0 3px;
        font-family: "Tahoma", Lucida Grande, Verdana, Helvetica, Arial, sans-serif;
        color: #000;
        font-size: 0.85em;
        background: #EFEFEF url("images/button.gif") repeat-x top;
        cursor: pointer;
}