/**
 * Specific CSS file 
 * Kleeja Dev. team.
 * Colors :
 * light: F7F7ED
 * dark : 6F7072
 * orange: F78F20
 */

/* start: menu */
#LogoKLJ { margin: 25px 8px; }
#menu, #menu_left{
    width: 212px;
    margin-top: 0px; 
    margin-left: 0px; 
    margin-bottom: 80px;
	}
#menu {	
	float: right; 
}
#menu ul li, #menu_left ul li { position: relative;}
#menu ul li a, #menu_left ul li a,
#menu ul li a:hover, #menu ul li a.seTooltip, #menu_left ul li a:hover, #menu_left ul li a.seTooltip { 
    display:block;
	outline: none;
	cursor: pointer;
	text-decoration: none;
	font: 12px Tahoma, arial, Helvetica, sans-serif;
	padding:6px 5px 6px 0;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #fef4e9;
	border: solid 1px #727272;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#505557), to(#3D4245));
	background: -moz-linear-gradient(top,  #505557,  #3D4245);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#505557', endColorstr='#3D4245'); }
#menu ul li a:hover, #menu ul li a.seTooltip, #menu_left ul li a:hover, #menu_left ul li a.seTooltip { 	display:block;
	padding:6px 10px 6px 0;
	border: solid 1px #da7c0c;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20'); }
#menu_left{
    float: left; 
	}
	
/* end: menu*/

/* start: content */
#content{
	position:absolute;
	left:267px;
	width:785px;
	height:100%;
	margin:20px 0 20px 20px;
	padding-bottom:50px;
	
}
	#content .big-box{
		border:1px solid #ccc;
		background-color:#fff;
		padding:10px 8px;
		margin-top:10px;
		width:100%;
		margin-bottom:10px;
	}

	#content h1{
		color:#6F7072;
		font-size:22px;
		padding:1px 1px 10px 1px;
		border-bottom:1px solid #eee;
		font-weight:normal;
		margin-bottom: 10px;
	}
	#content .section {
		padding:6px 0;
		}
	#content .section h3{
		color:#000;
		font-size:12px;
		font-weight:bold;
		float:left;
		margin:0; padding:0;
		line-height:120%;
		width:40%;
		vertical-align:middle;
	}
	#content .section .box{
		color:#000;
		font-size:12px;
		float:right;
		width:50%;
		text-align:center; 
	}
	#content .hr{
			width:100%;
			margin:20px auto;
			clear:both;
			border-bottom:1px solid #eee;
		}
	#content .br{
			width:100%;
			margin:30px auto;
			clear:both;
		}
	#content .menu_but_in_content{
		font-size:16px;
		line-height:140%
	}

	
	#content table{
		width:100%;
		
	}
	#content table td{
		text-align:center;
		vertical-align:middle;
		padding:3px;
	}
	#content table .first, #content .first{
		background: #ccc url('../images/input.png') repeat-x;
		height:25px;
	}
	
	#content h2{
		font-size:13px;
		
		margin:10px 0;
	}

.note-done{
color:#000;
background-color: #DAF0F6;
background-image: -webkit-gradient(linear, left top, left bottom, from(#DAF0F6), to(#71CAEA));
background-image: -webkit-linear-gradient(top, #DAF0F6, #71CAEA);
background-image: -moz-linear-gradient(top, #DAF0F6, #71CAEA);
background-image: -ms-linear-gradient(top, #DAF0F6, #71CAEA);
background-image: -o-linear-gradient(top, #DAF0F6, #71CAEA);
padding: 15px;
width:750px;
margin: 0 0 20px 0; -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25); -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25); box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);

}

#system-message .info, .note-info{
color:#000;
background-color: #fefcaf;
background-image: -webkit-gradient(linear, left top, left bottom, from(#fefcaf), to(#fffeda));
background-image: -webkit-linear-gradient(top, #fefcaf, #fffeda);
background-image: -moz-linear-gradient(top, #fefcaf, #fffeda);
background-image: -ms-linear-gradient(top, #fefcaf, #fffeda);
background-image: -o-linear-gradient(top, #fefcaf, #fffeda);
padding: 15px;
width:767px;
margin: 0 0 20px 0; -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25); -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25); box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

#system-message .error, .note-error{
color:#000;
background-color: #FFAFAF;
background-image: -webkit-gradient(linear, left top, left bottom, from(#FFAFAF), to(#FFD8D8));
background-image: -webkit-linear-gradient(top, #FFAFAF, #FFD8D8);
background-image: -moz-linear-gradient(top, #FFAFAF, #FFD8D8);
background-image: -ms-linear-gradient(top, #FFAFAF, #FFD8D8);
background-image: -o-linear-gradient(top, #FFAFAF, #FFD8D8);
padding: 15px;
margin: 0 0 20px 0; -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25); -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25); box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}


.note-info strong, .note-error strong, .note-done strong{
	font-weight:bold;
}



/* end: content */

/* start: admin_start.html */
.firstime-text{
	font-size:12px;
}
.firstime-list{
	font-size:12px;
	list-style-type:decimal;
}

.firstime-button{
	float:left;
}
/* end: admin_start.html */

/* start: admin_calls.html*/

/* end: admin_calls.html*/

/* start: admin_styles.html*/
.quick_edit_tpls{
	
}
.quick_edit_tpls td {
	text-align:left;
}
/* end: admin_styles.html*/

/* start: admin_show_tpls.html*/
.s_tpl_x{
	padding:5px;
	width:95%;
}
/* end: admin_show_tpls.html*/


/* start: admin_chack_update.html */
.update_title {color:#0A71D8;font-size:14px;}
.update_list {font-size:11px;}
.update_list li{list-style:square inside; padding:5px;}
.link_copy {background:#E8E8E8;padding:10px; border-top:1px solid #ccc;border-bottom:1px solid #ccc;color:#666;direction:ltr;font-weight:bold;}
/* end: admin_chack_update.html */

/* start: admin_reports.html */
.report-show{
	border:1px solid #F78F20;
	background-color:#F7F7ED;
	padding:8px;
}
	.report-show .email-for-msg{
		background-color:#6F7072;
		width:auto;
		color:#F7F7ED;
		padding:2px;
		
	}
	.report-show .text-for-msg{
		margin-top:6px;
	}
/* end: admin_reports.html */
/* start: admin_cslls.html */
.call-show{
	border:1px solid #F78F20;
	background-color:#F7F7ED;
	padding:8px;
}
	.call-show .email-for-msg{
		background-color:#6F7072;
		width:auto;
		color:#F7F7ED;
		padding:2px;
		
	}
	.call-show .text-for-msg{
		margin-top:6px;
	}
/* end: admin_cslls.html */




/* start: admin_login.html */
#login_body{
	background:transparent url(../images/1.png) repeat;
	margin:0 auto;
}
#login_warp{
	margin:250px auto;
	width:340px;
	font-family:tahoma;
	font-size:13px;
	text-align:center;
}

#login_top{ 
	width:95%;
	position:fixed;
	top:0;
	left:0;
	padding:20px;
}
	#login_top .title_login{
			float:right;
		}
	#login_top .return_login{
			float:left;
		}

#login_warp .acp_login_box{
		margin-top:40px;
	}
	#login_warp .acp_login_box .login-name{
		margin: 9px;
		font-size:11px;
	}
	#login_warp .acp_login_box .login-name span{
		font-size:14px;
		margin:0 5px;
	}
	
	#login_warp .acp_login_box input{

		width:130px;
		padding:5px;
		font-size:12px;
		color:#999;
	}

	
	#login_warp .acp_login_box .submit_go{
		width:40px;
		margin:0 2px;
		text-align:center;
		cursor:pointer;
		color:#fff;
	
	}
	
/* end: admin_login.html */


.tit_con { 
       background: url(../images/mune_bg.jpg) repeat-x; 
       height: 36px; 
		width:100%;
       -moz-box-shadow: 0 1px 0 #fff; 
       -webkit-box-shadow: 0 1px 0 #fff; 
       box-shadow: 0 1px 0 #fff;
     
  }
/* Start top navKLJ */
#topKLJ { height: 34px; display: block; }
.fixed { position: fixed; background: url(../images/topKLJ.jpg) repeat; width: 100%; color: #eeeeee; border-bottom: 1px solid #f47a20; z-index: 999; }
.wrap_topKLJ { width: 980px; margin: auto; }
.fix { clear: both; }
.welcome { float: right; }
.welcome img { float: right; margin: 8px 8px 8px 0 }
.welcome span { padding: 11px 5px; display: block; white-space: nowrap; float: left; font-size: 11px; }
.userNav { float: left; z-index: 6000; position: relative; font-size: 11px; }
.userNav ul { margin-left: 2px; }
.userNav ul li { display: inline; float: right; position: relative; cursor: pointer; border-left: 1px solid #2f2f2f; }
.userNav ul li:first-child { border-right: 1px solid #2f2f2f; }
.userNav ul li a { color: #eeeeee; text-decoration: none; display: block; float: right; }
.userNav ul li:hover, .selected { background: #212121; }
.userNav ul li span { display: block; padding: 11px 8px 8px 14px; float: right; }
.userNav ul li img { float: right; display: block; margin: 13px 14px 11px 2px; }
.numberTop{ text-align: center; background: url(../images/number.png) repeat-x; display: inline-block; padding: 1px 5px; color: #fff; -moz-border-radius: 2px; -webkit-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px; float: left; margin: 10px -5px 10px 15px; font-size: 11px; line-height: 14px; }
.numberTop { margin: 10px -5px 10px 15px; padding: 1px 5px!important; }