/**
* Right-To-Left CSS file
*/


/* global.css */
body{
	direction:rtl;
	text-align: right;
}

#pagination { text-align:left;  float:left; }


#sign_ajax,#sign_ajax_error{
	right:40%;
}

/* byname.css */

#menu{
	right:0;
	background:transparent url('../images/menu_bg_rtl.png') repeat-y;
	left:auto;
}

	#menu .current-title{
		text-align:left;
	}
	#menu .bottom-logo{
		right:0.5%;
		left:auto;
	}
	#menu .current-items ul li{
		text-align: left;
		padding-left:9px;
	}

	#menu .current-items #navlist .active {
		background: #D0F4FF url('../images/menu_bg_current_rtl.png') repeat-y 98% 0;
	}

	#menu .top-bar .home{
		float:right;
	}
	#menu .top-bar .cats{
		float:left;
		text-align:left;
	}
	#menu .top-bar .home ul{
		right:9px;
		left:auto;
	}
		#menu .top-bar .home ul li{
			text-align:right;
		}
		#menu .top-bar .home ul li a .kbubbles{
			margin-left:5px;
		}

#content{
	right:267px;
	left:auto;
	margin:20px 20px 20px 0;
}

	#content .section h3{
		float:right;
	}
	#content .section .box{
		text-align:right;
		float:left;
	}
	#content .menu_but_in_content li .kbubbles{
			margin-left:5px;
	}
	
.note-done, #system-message .info, .note-info, #system-message .error, .note-error{
	background-position:99% 50%;
	padding-right:35px;
}

.quick_edit_tpls td {
	text-align:right;
}