/*
# Tweaks for left-to-right direction
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/

/* header logo */
#header .logo2{
padding-left: 60px;width: 300px;
	background: url(../images/adminopen.png) no-repeat left center; 
}
/* header logo */

 /* middle */
 #divmiddle { float: left;}
 #divmiddle .title { padding: 4px 5px 4px 35px; background-position:left;}
 #divmiddle .welcome span{padding-left:5px;}
 /* middle */	
 
 				
 /* right  menu */	
 #rightmenu{ float: left;}
 #rightmenu .link-menu{ float: left; }
 /* right  menu */	
 
.s_box {background-position:top left;}

 /* last visit */					
#info-last-visit {float: left; }
#info-last-visit li {text-align: left;}
 /* last visit */	

/* System Messages  #info*/
#system-message div.info  ul li { padding-left: 35px; }
 #system-message div.info  ul li { background-position: left top;}
/* System Messages  #info*/
 
 /* System Messages  #error*/
 #system-message div.error  ul li { padding-left: 35px; }
 #system-message div.error ul li{ background-position: left top ;}
 /* System Messages  #error*/
 	
 /*  toolTipBox */	
 #toolTipBox {text-align:left;}
 /* toolTipBox */
 
 /* pagination */
.pagination {float:left;}
.paging {  margin-left: 5px; }
-.here_page { margin-left: 5px;}
 /* pagination */
 
#disk_size .t_disk_size{padding:2px 10px 2px 35px;background-position:0% 40%;}

#other-info .t_info{background-position:0% 40%;}

/* config page */
.config_types_list div {float:left}

.title_general_conf1gs,.title_other_conf1gs {background-position:2% 50%;}

.adminstrators { background-position:0% 60%;}
