/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/
option {padding-left: 1em;}
caption, th, td {text-align:left}
img.left {float:right;margin-left:15px;}
img.right {float:left;margin-right:15px;}
.line {background-position:left top}
.title-x {float:left}
.safe_code {background:#F9F5F0 url(../images/saf3_code_ltr.gif) no-repeat 100% 50%;}
#top_menu {background-position:top right}
#top_menu  .m3nu {margin-right:0%;margin-left:10%;}
#top_menu  .m3nu ul{float:left;}
#top_menu  .m3nu li {float:left;margin:0 0 0 5px;}
#top_menu  .m3nu li a {float: left;}
#content {float:right}
#right_menu{float:left}
#right_menu .list{margin-left:4px;margin-right:16px;}
#right_menu .list img{padding-right:5px;padding-left:0px;}
#system-message dd.info  ul li ,#system-message dd.error ul li{background-position:left top;}
#data_file {float:left}
#data_file_down {float:right}
.stats  {background-position:98% 50%;}
#content_index_body  {float:right}
#index_body{background-position:right top;}
.bn_up {margin-right:4px;margin-left:10px;}
.tabbertab {-moz-border-radius-topleft:0px;-webkit-border-topleft-radius:0px;-moz-border-radius-topright:10px;-webkit-border-topright-radius:10px;}
ul.tabbernav li a{margin-left:0px;margin-right:4px;}
.online{float:left}
.onlineall ,.onlinevisitor ,.onlineusers {float:left;margin-right:3px;margin-left:0px;}
.onlineall  {background-position:2% 50%;padding-left:20px;padding-right:10px;}
.name_users{float:left;}
.pagination{float:left;margin:3px 3px 3px 0px;}
.pagination li{float:left;margin-left:0;margin-right:3px;}

/* login template >> login.html */
.login {	background-position:90% 50%;}
.title_login {background-position:1% 50%;}
.box_login {	background-position:90% 50%;}
.username,.password {padding-left:0;	padding-right:20px;	background-position:99% 50%;}
.button_login{float:right;margin-left:0;margin-right:25px;}
.remme{float:left;}
.forget_pass {background-position:2% 50%;}
/* # login template >> login.html  */

/* captcha stuff*/
#kleeja_img_captcha {
	float:left;
}
/* # captcha stuff*/


#boxfileuser  .box_user {float:left;}
#boxfileuser  .us3r_n4me {float:right;}
#filecplink  .copylink {float:left;width:42%;}
#filecplink .link_user{float:right;}
.tabledata .odd  {text-align:left}
.reg_table {background-position:85% 50%}
.get_password{background-position:85% 50%}
.call{background-position:90% 50%}
.rebort{background-position:90% 50%}
#profile .boxdata{float:left}
#profile .boxdata .in{margin-right:0%;margin-left:8%;}
.file_cp {background-position:75% 45%}
.left_button{float:right}
.file_cp  .odd  ,.file_cp  .nbr {text-align:left}
.user_img img{padding-left:0px;padding-right:5px}
.visitor_img img{padding-left:0px;padding-right:5px}
.index_info  li {background-position:left top}
.index_err li {background-position:left top }
#footerlinksleft ul{float:right}
#footer .Copyrights {float:left;}
.admin_cp_link {width:30%;line-height:24px;float:left;margin:5px 0;}
.admin_cp_link span{padding:4px 30px;}
.wait {font-size:250%}
.thumb_div_tag {width:20%;}