/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/

img.left {float: left;margin-right:15px;}
img.right {float: right;margin-left:15px;}

/* clear */
.clr {clear:both;overflow:hidden;height:0;}

/* line dot */
.dot {padding:5px 0;background: url(../images/dot.gif) repeat-x;}

/* line */
.line {background:url(../images/line.png) repeat-x right top;height:6px;margin:1px 1px 7px 1px}

/* start site name and titles all */
.title-x {float:right;width:98%;background:#DFDFDF url(../images/headline_bg.png) repeat-x top right;padding:10px 6px;}
.title-x strong{padding:10px 6px;font-size:12px;color:#333;text-shadow: 0px 1px rgb(247, 247, 247);}
.title-x a {color:#C95A12;}
.title-x a:hover {color:#000;}
/* # END site name and titles all */

/* safe code all box */
.safe_code {margin:5px 0;padding:10px;border:1px solid #ECCEBB;background:#F9F5F0 url(../images/saf3_code01.gif) no-repeat 0% 50%;}
.safe_code span {padding-right:4px;color:#FF5A00}
.safe_code input[type="text"]{padding:3px 3px;font-size:12px;}
.safe_code input[type="text"]:focus {background-color: #ffd ;border: 1px solid #D26900;direction:ltr;padding:3px 3px;font-size:12px;}
.explain {font-size:xx-small;font-style:italic;color:#858585}
/* # end safe code all box */

/** LOGO */
#logobody {width:90%;margin:0 auto;}
.logo {width:500px;height:84px;margin:2px 0;}
/* #  LOGO */

/**  start The main menu at the top **/        
#top_menu {width: 100%;height: 43px;background: url(../images/menu-bg.gif) repeat-x top left;margin-top:5px}
#top_menu  .m3nu {width: 80%;height: 43px;font-size: 12px;font-weight: bold;list-style-type: none;margin: 0 auto;}
#top_menu  ul.m3nu li {display: block;float: right;margin:0 5px 0 0;}
#top_menu  ul.m3nu li a {height: 43px;color: #777;text-decoration: none;        display: block;float: left;padding: 8px 15px 0;}
#top_menu  ul.m3nu li a:hover {color: #333;background: url(../images/current-bg.gif) top left repeat-x;}
#top_menu  ul.m3nu li a.current{color: #FFF;background: url(../images/current-bg.gif) top left repeat-x;padding:5px 15px;}
/** # End The main menu at the top **/        

/*  wrapper body */
#wrapper {width:90%;height:100%;margin:10px auto 4px auto;}
/*  # end wrapper body */

/* box  ALL templates  */
#content {float: left;width: 70%;padding:10px 30px;margin:10px auto 20px auto;color:#444;background-color:#E8E8E8;border:1px solid #F5F5F5;-moz-border-radius:8px;-webkit-border-radius:8px;-khtml-border-radius:8px;border-radius:8px;}
/* # end box  ALL templates  */

/* System Messages body */
#system-message  { margin: 10px 0;}
#system-message dd {font-weight: bold; text-indent: 30px; }
#system-message dd.info ul ,#system-message dd.error ul{list-style:square;padding:5px 10px;list-style-position:inside;}
#system-message dd.info ul {border-top: 3px solid #FEA53D;border-bottom: 3px solid #FEA53D;background-color: #EFE7B8;}
#system-message dd.info  ul li {color: #444;background: url(../images/info.png) no-repeat right top;padding:3px;}
#system-message dd.error ul {background-color: #E6C0C0;border-top: 3px solid #DE7A7B;border-bottom: 3px solid #DE7A7B;}
#system-message dd.error ul li{color:#c00;background: url(../images/error.png) no-repeat right top;padding:3px}
/* ##  End  System Messages */

/*  right menu */
#right_menu{width:10%;float:right;padding:5px;}
#right_menu .list{margin-left:16px;width: 180px;}
#right_menu .list ul{list-style-type: none;}
#right_menu .list span{background:url(../images/menu-right-top.png) no-repeat;height:36px;width:160px;display:block;color:#000;padding:0px 10px;font-weight:bold;text-align:left;border-bottom: 1px solid #666;}
#right_menu .list b{background:url(../images/menu_right_bottom.png) no-repeat;height:37px;width:160px;display:block;padding:0px 10px;font-weight:bold;color: #F1F7E1;}
#right_menu .list img{padding:0px 0px 0px 5px;}
#right_menu .list a{background-color:#767676;font: bold 11px tahoma;padding: 5px 10px;display: block;width:160px;color:#fff;text-decoration:none;border-bottom: 1px solid #666;}
#right_menu .list a:hover{color: #111;background:#767676 url(../images/right_menu.png) repeat;}
#right_menu .list a:active {background:#999}
/* #  right menu */

/* extras  header and  footer template */
#extras_header,#extras_footer {width:100%;margin:8px auto;padding:10px;text-align:center;}
/*# END extras  header and  footer template */

/* divx */
#divx {padding:1px 0 2px 0;position:fixed;left:5%;bottom:0%;text-align:center;color:#555;text-shadow: 0px 1px rgb(247, 247, 247)}
#divx a,#divx a:link{color:#CF6600;}
#divx a:hover{color:#000;}
/* #  divx */

/* start Downlod template >> download.html */
#file-info {height:230px;margin:5px auto;}
#data_file {width:46%;height:220px;float:left;background:#C0C0C0 url(../images/bg_tabbertab.png) repeat-x top left;padding:10px;-moz-border-radius:6px;-webkit-border-radius:6px;-khtml-border-radius:6px;border-radius:6px;}
#data_file .data_file p {color:#F0502E;font-size:26px;}
#data_file .t {color:#555;background:#ccc;font-size:12px;text-align:center;border:1px solid #f2f2f2;border-right:5px solid #CCC;border-left:5px solid #CCC;margin-top:10px;padding:2px 5px;}
#data_file .nup {font-size:18px}
#data_file ul.data_menu {list-style:none;margin:0;}
#data_file ul.data_menu li {display:block;background:url(../images/bg_tabbertab_1.png) repeat-x top left;padding:2px 5px 2px 10px;margin-bottom:1px;border-right:5px solid #CCC;border:1px solid #f2f2f2;font-weight:700;color:#333;text-decoration:none;}
#data_file ul.data_menu li b {color:#040476;}
#data_file_down {float:right;display:inline;margin-left:10px;width:45%;height:220px;background:#fff url(../images/bg_tabbertab.png) repeat-x bottom left;padding:10px;-moz-border-radius:6px;-webkit-border-radius:6px;-khtml-border-radius:6px;border-radius:6px;}
#data_file_down .find_x {color:#2B8800;font-size:22px;text-align:center;}
#data_file_down .find_image {text-align:center;}
.fileReport {text-align:center;border-top:2px solid #FFBFBF;border-bottom:2px solid #FFBFBF;cursor:pointer;background-color:#FFE6E6;margin:10px auto;padding:3px 10px;}
.fileReport a {color:#D88181;font-size:110%;}
.fileReport a:hover {color:#111;}
.fileReport:hover {background-color:#E8E8E8;color:#111;}
.wait {color:#F04C2D;font-size:300%;font-weight:700;padding:3px 10px;text-align:center;}
#download {text-align:center;margin:4px auto;}
#download  div{margin-top:1px;}
#download a {background:#A2C900;border-top:3px solid #6C9F01;border-bottom:3px solid #6C9F01;color:#fff;font-size:100%;font-weight:700;padding:10px 30px;}
#download a:hover {background:#77AA02;}
/* # End Downlod template >> download.html */

/* stats template >> stats.html */
#stats  {border:1px solid #CFDFFF;margin:5px 0;padding:10px;font-size:11px;font-weight:700;background:#F0F3F9 url(../images/stats.png) no-repeat 10% 50%;}
#stats ul {list-style:circle;list-style-position:inside}
#stats  ul li span{color:#FF3300;padding:1px}
#stats .st i{font-size:12px;font-weight:normal;margin-bottom:5px;padding:4px 8px;color: #444;border-bottom:1px solid #ccc;}
/* #  stats template >> stats.html  */

/* rules template >> rules.html */
#rules  {background:#F0F3F9;border:1px solid #CFDFFF;padding:10px;font-size:11px;font-weight:700;}
#rules ul {list-style:square;list-style-position:inside;text-indent:30px;}
#rules  ul li {color:#336699;padding:1px}
#rules .rut {clear:both;height:16px;margin-bottom:3px;border-bottom:1px solid #fff;color:#FF0000;padding:4px 0px}
/* #  rules template >> rules.html  */

/* start index body  >> index_body.html  */
#content_index_body  {float: left;width: 70%;padding:5px 30px;}
#index_body{background:url(../images/index_body.png) no-repeat left top;}
.wolcome_msg {width:76%;text-indent:40px;font-size:10px;color:#777;text-shadow: 0px 1px rgb(247, 247, 247);padding:3px 6px;}
.siten4me{font-size:13px;padding:3px;color:#BE1111}
.agree{font-size:10px;font-weight:bold;padding:1px 6px;}
.zx,.zl {cursor:pointer;padding:4px;}
.zx a:hover,.zl a:hover {background:#FEEA00}
.bn_up {margin-right:60px;margin-top:-8px;}
.url {margin-top:3px;height:15px;direction:ltr;color:#DD6F00}
.inum {text-align:center;color:#888;}
.input_num {background:#FFF;border: 1px solid #B3B9C4;font:normal 10px tahoma,Arial,sans-serif;outline:1px solid #ccc;padding:2px 0;}
#loadbox {padding:10px;display:none;}
.waitloading{color:#004DAA;margin:5px}
/* tabs */
.tabber {width:100%}
.tabberlive {margin-top:2px;margin-bottom:2px;}
.tabberlive .tabbertabhide {display:none;}
.tabbertab {width:70%;height:100%;padding:20px;background:#E8E8E8 url(../images/bg_tabbertab_1.png) repeat-x top left;border:1px solid #aaa;-moz-border-radius-bottomleft: 10px;-webkit-border-bottom-left-radius: 10px;-moz-border-radius-bottomright: 10px;-webkit-border-bottom-right-radius: 10px;}
.bg {background:#C0C0C0 url(../images/bg_tabbertab.png) repeat-x top left}
ul.tabbernav{ padding:5px 0; font: bold 11px tahoma, sans-serif;}
ul.tabbernav li{ list-style: none; display: inline;}
ul.tabbernav li a{ padding:5px 14px; margin-left: 5px; border: 1px solid #aaa;background:#F68618;text-decoration: none;-moz-border-radius-topleft: 10px;-webkit-border-top-left-radius: 10px;-moz-border-radius-topright: 10px;-webkit-border-top-right-radius: 10px;}
ul.tabbernav li a:link {color:#fff;font-weight:normal;}
ul.tabbernav li a:hover{background:#FF6633;}
ul.tabbernav li.tabberactive a{ padding:5px 14px;border-bottom: 1px solid #fff;background-color:#fff;}
ul.tabbernav li.tabberactive a:link{color: #666;font-weight:bold;}
ul.tabbernav li.tabberactive a:hover{color:#F68618;}
/* # tabs  */

/*  START FOR ONLINE */
.online{width:100%;float:right;padding:4px 0;margin-bottom:3px;}
.onlineall ,.onlinevisitor ,.onlineusers {display:inline;padding:5px 10px;border:1px outset #E2E2E2;-moz-border-radius:6px;-webkit-border-radius:6px;-khtml-border-radius:6px;border-radius:6px;}
.onlineall  {background:url(../images/number_online_all.gif) no-repeat 98% 50%;padding-right:20px;color:#CC3300}
.onlinevisitor{color:#000}
.onlineusers{color:#555}
.name_users{background:#FFF3DF;margin-bottom:7px;margin-top:4px;display:block;float: right;color:#555;padding:3px 14px;border:1px inset #444;-moz-border-radius:6px;-webkit-border-radius:6px;-khtml-border-radius:6px;border-radius:6px;}
/*  #  END FOR ONLINE */

/*  ALL inputs */
.input_link,.input_field {background: #FFFFFF;border: 1px solid #B3B9C4;font:normal 12px tahoma,Arial,sans-serif;padding:2px;}
.input_field:hover,.safe_code input:hover,.input_link:hover{border: 1px solid #999}
.input_field:focus,.safe_code input:focus,.input_link:focus{border: 1px solid #D26900;background:#ffd}
/* ALL inputs */

/* ALL buttons */
#buttons ,.buttons{margin-top:2px;outline:0;cursor: pointer;padding:4px 20px;font: normal 12px Tahoma, Arial, sans-serif;
background:#FF9933 url(../images/headline_bg.png) repeat-x top right;color:#111;border:1px solid #999;-moz-border-radius:10px;-webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px;}
#buttons:hover ,.buttons:hover{background:#FFCC33;color: #111;border:1px solid #666;text-decoration:none;}
/* ## ALL buttons */

/* pagination */
.pagination {margin:2px 0;float:right;}
.pagination  a{padding:3px 9px;color:#333;}
.paging {background:#C8C8C8 url(../images/headline_bg.png) repeat-x center right;border: 1px solid #999;font-size:10px;text-align:center;}
.here_page ,.paging:hover,.paging {-moz-border-radius-topleft: 10px;-webkit-border-top-left-radius: 10px;-moz-border-radius-bottomright: 10px;-webkit-border-bottom-right-radius: 10px;}
.here_page ,.paging:hover{padding:3px 9px;border: 1px solid #888;font-size:10px;color:#BD5900;background:#FFF8C6 url(../images/headline_bg.png) repeat-x center right;text-align:center;text-decoration:none;}
/* ## pagination */

/* footer template */
#footer{ width: 100%;margin:2px auto;}
#footerlinksleft ul{width:350px;float:left;}
#footerlinksleft li{float:left;font-size:11px; font-weight:normal;}
#footerlinksleft ul li a{padding:2px 4px; color:#5C5C5C; }
#footerlinksleft ul li a:hover,#footer .Copyrights  a:hover,#footer .page_stats a:hover{background:#787878;color:#fff;-moz-border-radius:4px;}
#footer .Copyrights {float:right;padding:3px 0;color:#666;}
#footer .page_stats { margin-top:10px;margin-bottom:24px;float:left;color:#999;}
#footer .googleanalytics {margin-top:10px;margin-bottom:24px;padding:10px; text-align:center;}
/*start Option to control panel */
.admin_cp_link span{margin:10px 0;float:right;padding:7px 50px; background:url(../images/adminPan.gif) no-repeat center left;font-weight:bold; border:1px solid #858585;-moz-border-radius:8px;-webkit-border-radius:8px;-khtml-border-radius:8px;border-radius:8px;}
.admin_cp_link {color:#2B2B2B; cursor:pointer;text-decoration:none;}
.admin_cp_link:hover  {color:#fff;text-decoration:none;}
/* # footer template */

/* login template >> login.html */
#bg_log1n{margin:5px 0;padding:15px 10px;color:#444;background:#F9F1EC url(../images/log1n.png) no-repeat 10% 50%;border:1px solid #FFD8BF}
#login .login {width:280px}
#login .login td{padding-bottom:5px;}
#login a {color:#C03C2D;font-size: 12px;padding: 3px 6px;}
#login .title_login {color:#D80505;padding-bottom:5px}
#login .username,#login .password{padding-left:20px;padding:2px;width:180px;font-size: 12px;}
#login  .username{background:#fff url(../images/username.gif) no-repeat 1px 2px;}
#login  .password{background:#fff url(../images/password.gif) no-repeat 1px 2px;}
#login  .forget_pass  {display:inline;margin:1px; color:#C03C2D;}
#login  .forget_pass a:hover {color:#FF2020;}        
#login  .remme{color: #000;border: 1px solid #999;font:normal 9px Tahoma, Helvetica, Arial, sans-serif;}
/* # login template >> login.html  */

/* captcha stuff*/
#kleeja_img_captcha {cursor:pointer;}
/* # captcha stuff*/

/*-- start  box user name and all files  >> fileuser.html  */
#boxfileuser ,#filecplink {display:block;background:#ddd;margin:3px auto;padding:10px;border:2px ridge #eee;}
#boxfileuser  .box_user,#boxfileuser  .us3r_n4me {display:inline;height:60px;padding:10px;background:#EDF1F8 url(../images/imguser.png) no-repeat 96% 50%;border:1px solid #bbb;-moz-border-radius:20px;-webkit-border-radius:20px;-khtml-border-radius:20px;border-radius:20px;}
#boxfileuser  .box_user {width:46%;float: right;}
#boxfileuser  .us3r_n4me {width:45%;background:#EDF1F8 url(../images/boxfileuser.png) no-repeat 96% 50%;float: left;}
#boxfileuser  .public {width:60%;margin:5px auto 5px 15px;background:#DFDFDF;padding:5px 10px;color:#555;border:1px dashed #EDF1F8;font-weight:normal;}
#boxfileuser .uname{color:#006CD8;font: bold 18px tahoma,Verdana, Helvetica, sans-serif;text-align:center}
#boxfileuser .nums{font-size:32px;text-align:center}
#filecplink  .copylink {float:right;padding:3px 6px;color:#D20000;font: bold 12px tahoma,sans-serif;}
#filecplink .link_user{float:left;width:290px;padding:2px;direction:ltr;}
.tabledata {width:100%;background-color:#CECECE;color:#111;font-size:11px;border:2px ridge #eee;}
.tabledata th ,.tabledata td {padding:5px;border-right:1px solid #aaa;border-top: 1px solid #eee;border-left:1px solid #eee;border-bottom: 1px solid #aaa; text-align:center; }
.tabledata .odd  {background:#D4D0C8; text-align:right;width:50%;}
.tabledata thead th {white-space: nowrap;background:#888 url(../images/headline_bg.png) repeat-x center right; font-weight: bold;line-height:180%;color:#fff}
.tabledata tbody td {line-height:180%;font-weight:700;white-space: nowrap;}
.tabledata a,.tabledata a:link {color:#039;}
.tabledata a:visited {color:#555;text-decoration:line-through;}
.tabledata th:hover a,.tabledata td:hover a {color:#039;text-decoration:none;}
.tabledata:hover {border-color:#FF6600}
.tabledata tr:hover {background-color:#FF6600;color:#fff}
.tabledata thead tr:hover th,.tabledata thead th:hover {background:#888 url(../images/headline_bg.png) repeat-x center right;cursor:default;color:#fff}
.tabledata tr th:hover,.tabledata tr td:hover {background-color:#fff;color:#039;cursor:crosshair}
/*-- #  end box user name and all files  >> fileuser.html  */

/* register template >> register.html */
.reg_table{background:#F0F3F9 url(../images/register.png) no-repeat 15% 50%;border:1px solid #CFDFFF;margin:5px 0;padding:15px 10px;}
.reg_table td{width:130px;padding-bottom:5px;}
.reg_table td input{width:180px;}
/*#  register template >> register.html */

/* back password template >> get_pass.html */
#bg_get_password{background:#F0F3F9 url(../images/get_password.png) no-repeat 15% 50%;border:1px solid #CFDFFF;margin:5px 0;padding:15px 10px;}
.get_pass{color:#BF0000;margin-bottom:10px;font-weight:bold;}
/* # back password template >> get_pass.html */

/* call and file report templates */
.call{background:#F0F3F9 url(../images/call.png) no-repeat 10% 50%;border:1px solid #CFDFFF;margin:5px 0;padding:15px 10px;}
.call label ,.rebort label {display:block;font-weight:bold;margin:5px 0;}
.call input ,.rebort input {padding: 2px;border:1px solid #999;font: bold 12px tahoma, Verdana, sans-serif;color:#666;}
.call textarea,.rebort textarea {width:300px;padding:2px;font: bold 12px tahoma, Verdana, sans-serif;border:1px solid #999;height:100px;display:block;color:#666;}
.rebort{background:#F0F3F9 url(../images/file_rebort.png) no-repeat 10% 50%;border:1px solid #CFDFFF;margin:5px 0;padding:15px 10px;}
.urlcolor{background:#FFCDCD}
/* # call and file report templates */        

/*-- start Profile template >> profile.html  */
#profile  select,#profile  option{background:#FFD;color: #000;font: bold 11px Tahoma, Helvetica, Arial, sans-serif;}
#profile .boxdata{float:right;width:31%;height:200px;border:1px solid #bbb;background-color:#DDD;margin:2px 10px 2px 0;}
#profile .boxdata p  {padding:2px;text-align:center;}
#profile .boxdata .tit{background:#F68618 url(../images/headline_bg.png) repeat-x top right;padding:10px;margin:1px;font:bold 12px tahoma, sans-serif;color:#111;text-align:center;}
#profile .boxdata .bq {color:#111;line-height:26px;padding:0 5px;}
#profile .boxdata .in{color:#111;line-height:26px;padding:2px 5px;margin-right:8%;}
#profile .boxdata .biguser {color:#D61B1B;line-height:30px;padding:5px;font: bold 14px tahoma, sans-serif;text-align:center;}
.buttons_center {line-height:24px;padding:5px;text-align:center;margin:3px auto;}
/*-- End Profile template >> profile.html   */

/*-- start user control panel  Files  >> filecp.html  */
.file_cp {background:#DADADA url(../images/table_file_cp.png) no-repeat 15% 45%;color:#000;width:100%;border:1px solid #C2C2C2}
.file_cp td {padding:6px 8px;white-space: pre-wrap}
.file_cp th {padding:8px;white-space:pre-wrap;}
.left_button{float:left;margin:2px 0}
.file_cp  .odd  {text-align:right;width:76%;}
.file_cp  .nbr  {font-size:11px;text-align:right;}
.file_cp thead th,.file_cp tfoot th,.file_cp tbody td {border-right: 1px solid #aaa;border-top: 1px solid #eee;border-left:1px solid #eee;border-bottom: 1px solid #aaa;font-weight:bold;text-align:center}
.file_cp thead th{background:#F68618 url(../images/headline_bg.png) repeat-x center right;}
.file_cp tfoot th{background:#bbb url(../images/headline_bg.png) repeat-x center right;}
.file_cp tbody tr:hover td{border-top:1px solid #aaa;border-bottom:1px solid #eee;}
.file_cp  a { color:#444; }
.file_cp  a:link {color:#666;}
.file_cp a:visited {color:#000;}
.file_cp  a:hover {color:#D2691E;text-decoration:line-through;}
/*-- # end  user control panel  Files  >> filecp.html  */

/* template list of files allowed > guide.html */
#guide {width:100%;}
.guide_user_th ,.guide_visitor_th{line-height:14px;padding:10px 15px;font-size:13px;font-weight:700;text-align:center;color:#fff;}
.guide_user_th  {background:#767676 url(../images/headline_bg.png) repeat-x top right;}
.guide_visitor_th {background:#A71515 url(../images/headline_bg.png) repeat-x top right}
.user_box,.guide_user_th ,.guide_visitor_th,.user_img,.visitor_img {-moz-border-radius:9px;-webkit-border-radius:9px;-khtml-border-radius:9px;border-radius:9px;}
.user_box{padding:10px;margin:3px 0px;background-color:#CECECE;border:1px double gray;}
.user_img,.user_n4me,.visitor_img {display:block;font-size:14px;font-weight:700;color:#111;padding:5px 8px;}
.user_img {background-color:#E1E1E1;border:1px double #bbb;}
.user_n4me{display:inline;}
.user_img img{padding-left:5px}
.user_ext{line-height:18px;padding:4px 8px;background:#E8E8E8 url(../images/headline_bg.png) repeat-x top right;margin:2px 0;border-bottom: 1px solid #bbb;border-top: 1px solid #bbb;}
.user_ext_color{font:bold 12px tahoma, sans-serif;color:#222;margin:2px;}
.user_ext_lang{font:normal 12px tahoma, sans-serif;color:#000;margin:2px;}
.visitor_box{background-color:#FFE6E7;border:1px #EDC3C3 double;}
.visitor_img {background-color:#FDEEEF;border:1px #FFC9CD double;}
.visitor_img img{padding-left:5px}
.visitor_n4me{color:#D61320;}
.visitor_ext{background:#FDEEEF url(../images/headline_bg.png) repeat-x top right;border-bottom: 1px solid #E1B9B9;border-top: 1px solid #E1B9B9;}
.visitor_ext_color{color:#CE0000;}
.visitor_ext_lang{color:#000;}
/* #  template list of files allowed > guide.html */


.thumb_div_tag {margin:2px auto;}
.thumb_div_tag img{background:#FFF;border:1px solid #D20000;padding:5px}


.index_info {
display:block;
width:73%;
border-top: 3px solid #84A0C0;
border-bottom: 3px solid #84A0C0;
color:#004776;
background:#C2D3E7 url(../images/info_f.png) no-repeat 99% 2%;
padding:10px;
text-indent:30px;
}
.index_err {
display:block;
width:75%;
border-top: 3px solid #DE7A7B;
border-bottom: 3px solid #DE7A7B;
color:#c00;
background:#E6C0C0 url(../images/err.png) no-repeat 98% 50%;
padding:5px;
text-indent:30px;
}
.index_err strong,.index_info  strong {
vertical-align:middle;
line-height:25px
}

.all_boxes{width:98%;color:#004776;border:1px solid #80FFFF;outline:1px solid #84A0C0;direction:ltr}
.all_boxes:focus {background-color:#D9FDFF;border: 1px solid #005F9D;color:#111}

.debug_kleeja{
width:80%;
margin:0 auto;
background-color:#fff;
border:1px #666 solid;
margin-top:20px;
margin-bottom:20px;
}
.debug_kleeja fieldset{
margin:0 auto;
width:80%;
}



