/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/

img.left {
	float: left;
	margin-right:15px;
}
img.right {
	float: right;
	margin-left:15px;
}
.clr {
	clear: both;
	overflow:hidden;
	height:0;
}
.dot {
	padding:5px 0;
	background: url(../images/dot.gif) repeat-x;
}
.line {
	background:url(../images/line.png) repeat-x right top;
	height:6px;
	margin:3px auto;
}

/** LOGO */
#logobody {
	width: 90%;
	margin:0 auto; 
	padding:0;
}
#logobody .logo {
	width: 50%;
	margin:0;
	padding: 10px 40px 10px 10px;
}
#logobody .logo a:link ,.logo a:visited ,.logo a:hover ,.logo a:active {
	background-color: transparent;
}

/**  start The main menu at the top **/	
#top_menu {
	width: 100%;
	height: 43px;
	background: url(../images/menu-bg.gif) top left repeat-x;  
}
#top_menu  .m3nu { 
	width: 80%; 
	height: 43px;  
	font-size: 12px; 
	font-weight: bold; 
	list-style-type: none; 
	margin: 0 auto ;
 }
#top_menu  ul.m3nu li { 
	display: block; 
	float: right; 
	margin: 0 5px 0 0 ; 
	padding:0;
}
#top_menu  ul.m3nu li a { 
	height: 43px; 
	color: #777; 
	text-decoration: none; 
	display: block; 
	float: left; 
	padding: 8px 15px 0;
}
#top_menu  ul.m3nu li a:hover {
	color: #333;
	background: url(../images/current-bg.gif) top left repeat-x;
}
#top_menu  ul.m3nu li a.current{
	color: #FFF;
	background: url(../images/current-bg.gif) top left repeat-x;
	padding:5px 15px;
}
/** # End The main menu at the top **/	


#wrapper { 
	width: 90%;
	height: 100%;
	margin:15px auto;
	padding:0;
}

#right_menu{
	width:10%;
	float:right;
	padding:5px;

}
#right_menu .list{
	margin-left:16px;
	width: 180px;
}
#right_menu .list ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#right_menu .list span{
	background:url(../images/menu-right-top.png) no-repeat;
	height:36px;
	width:160px;
	display:block;
	padding:0px 10px;
	line-height:35px;
	font-weight:bold;
	text-align:left;
	color: #000;
	border-bottom: 1px solid #666;
}
#right_menu .list b{
	background:url(../images/menu_right_bottom.png) no-repeat;
	height:37px;
	width:160px;
	display:block;
	padding:0px 10px;
	font-weight:bold;
	color: #F1F7E1;
}
#right_menu .list img{
	padding:0px 0px 0px 5px;
}
#right_menu .list a{
	background-color:#767676;
	font: bold 11px tahoma;
	padding: 5px 10px;
	display: block;
	width: 160px;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #666;
}

#right_menu .list a:hover{
	color: #111;
	background:#767676 url(../images/right_menu.png) repeat;
}
#right_menu .list a:active {
	background: #fff
}


/* extras  header */
#extras_header {
	width: 90%;
	margin: 0 auto;

}

/* extras  footer */
#extras_footer {
	width: 90%;
	margin: 0 auto;
}


/* Content */

#content {
	float: left;
	width: 77%;
}


#title-x b{
width: 90%;
	float:right;
	color: #000;
	padding:0 0 6px 0;
    margin:3px ;
	font-size: 18px; 
	font-weight: normal; 
	color: rgb(89, 89, 89); 
	text-shadow: 0px 1px rgb(247, 247, 247);
}

#title-x a {
	color:#D86800;
}

#title-x a:hover { 
	color: #000;background:transparent;
}


/* Footer */
.Copyrights {
	margin:0 auto 2px auto; 
	padding:6px; 
	text-align: center;
	color:#666;
}



#fixed {margin:0; position:fixed; left:45%; bottom:2px;padding: 4px; text-align: left;
color: rgb(89, 89, 89); text-shadow: 0px 1px rgb(247, 247, 247)
}
#fixed a ,#fixed a:link{color:#CF6600;}
#fixed a:hover{color:#000;background:transparent;}




/*start Option to control panel */

#adminPan{
width: 90%;
margin:2px}
#adminPan ul {
	margin:0;
	padding:0;
	list-style:none;
	}
#adminPan li {
	display:inline;
	margin:0;
	padding:0;
	}
#adminPan a {
	float:right;
	background:url(../images/tableftF.png) no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	}
#adminPan a span {
	float:left;
	display:block;
	background:url(../images/tabrightF.png) no-repeat right top;
	padding:9px 25px 8px 25px;
	color:#fff;
	}
	

#adminPan a span {float:none;}
#adminPan a:hover span {color:#FFFFFF;}
#adminPan a:hover {background-position:0% -43px;}
#adminPan a:hover span {background-position:100% -43px;}

/* box for some info */

.fileReport {
	width: 40%;
	margin:7px ; 
	padding:6px; 
	text-align: right;
	border: 1px solid #939393;
	-moz-border-radius: 8px; border-radius:1px;
	cursor:pointer;
	background-color: #CBCBCB;
}

.fileReport a{
	color:#CB0101;
	font-size: 18px; 
	font-weight: 700; 
}
.fileReport a:hover,.fileReport:hover{
	background-color:#E2E2E2;
}

#featured {
width: 560px;
margin:7px ; 
background: url(../images/ftrd2.png) repeat-y;
}
#ftdtop {
background:url(../images/ftrd1.png) no-repeat; height:26px;
}
#ftdbtm {
background:url(../images/ftrd3.png) no-repeat; height:24px;
}
#featured .ftdcontent {
padding:0 20px 0 20px;
}

.wait{
	color:#CB0101;
	font-size: 30px; 
	font-weight: 700; 
}

.err {padding: 5px;background-color: #FFEBE9;border: 1.5px solid #DD3F0E;margin: 10px 10px;
        font-size: 13px;font-family: "Tahoma", Times, serif;}
.info {padding: 5px;background-color: #FFFFE6;border: 1.5px solid #E2EE0B;margin: 10px 10px;
		font-size: 13px;font-family: "Tahoma", Times, serif;
}
.result {padding: 5px;background-color: #FFFFE6; border: 1.5px solid #E2EE0B;
        margin: 10px 10px;font-size: 13px; font-family: "Tahoma", Times, serif;
}

/* box for some info */
.daaf {background-color: #FFFFD7;border: 2px solid #999999; padding: 5px; margin:0 auto;
        line-height: 1.5em;overflow: hidden;width:60%}
		

/*
dont remove it  start
*/
div#loadbox {padding: 10px;display: none;}

div#texttype {display: none;}


/*boxes after uploading : see kljuploder.php for more details*/
/*all boxes will take this class*/
.all_boxes{width: 500px;height: 50px;}
/* delete code box */
.del_box {

}
/* thumb box */
.thumb_box {

}
/* image link box */
.img_box {

}
/* image bbcode box */
.img_bbc_box {

}
/* file link box */
.file_box {

}
/* file bbcode box */
.file_bbc_box {

}

/*thumb after uploading <img>, and <div> tags*/
.thumb_img_tag{	width:100px; height:100px}
.thumb_div_tag {	text-align:center;}





.row1, td.row1 , tr.row1 , b.row1{ 
 width: 25%;
	
	color: #333;
font: bold 11px tahoma,Verdana, Helvetica, sans-serif;
	padding: 5px;


}
.row2, td.row2, tr.row2 , b.row2{ 
    width: 50%;

	color: #333;
	padding: 5px;
font: bold 11px tahoma,Verdana, Helvetica, sans-serif;

}



.roundedcornr_box_899064 {
   background: #d8d8d8;
}
.roundedcornr_top_899064 div {
   background: url(../images/roundedcornr_899064_tl.png) no-repeat top left;
}
.roundedcornr_top_899064 {
   background: url(../images/roundedcornr_899064_tr.png) no-repeat top right;
}
.roundedcornr_bottom_899064 div {
   background: url(../images/roundedcornr_899064_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_899064 {
   background: url(../images/roundedcornr_899064_br.png) no-repeat bottom right;
}

.roundedcornr_top_899064 div, .roundedcornr_top_899064, 
.roundedcornr_bottom_899064 div, .roundedcornr_bottom_899064 {
   width: 100%;
   height: 15px;
   font-size: 1px;
}
.roundedcornr_content_899064 { margin: 0 15px; }


#download{
width: 90%;
margin:2px}
#download ul {
	margin:0;
	padding:0;
	list-style:none;
	}
#download li {
	display:inline;
	margin:0;
	padding:0;
	}
#download a {
	float:right;
	background:url(../images/left_download.png) no-repeat left top;
	margin:0;
	padding:0 0 0 4px;
	text-decoration:none;
	}
#download a span {
	float:left;
	display:block;
	background:url(../images/download.png) no-repeat right top;
	padding:9px 40px 9px 10px;
	color:#fff;
	}
	

#download a span {float:none;}
#download a:hover span {color:#000;}
#download a:hover {background-position:0% -43px;}
#download a:hover span {background-position:100% -43px;}
