/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/

img.left {float: left;margin-right:15px;}
img.right {float: right;	margin-left:15px;}

/** LOGO */
.clr {clear: both;overflow:hidden;height:0;}

/** line dot */
.dot {padding:5px 0;	background: url(../images/dot.gif) repeat-x;}

/** line */
.line {background:url(../images/line.png) repeat-x right top;height:6px;	margin:3px auto;}

/** LOGO */
#logobody {width:90%;margin:0 auto;	padding:0;}
#logobody .logo {width:500px;height:84px;margin:2px 0;}
#logobody .logo a:link ,.logo a:visited ,.logo a:hover ,.logo a:active {	background-color: transparent;}
/* #  LOGO */

/**  start The main menu at the top **/	
#top_menu {width: 100%;height: 43px;	background: url(../images/menu-bg.gif) top left repeat-x;margin-top:5px}
#top_menu  .m3nu {width: 80%;height: 43px;font-size: 12px;font-weight: bold;list-style-type: none;margin: 0 auto;}
#top_menu  ul.m3nu li {display: block;float: right;margin: 0 5px 0 0 ;padding:0;}
#top_menu  ul.m3nu li a {height: 43px;color: #777;text-decoration: none;display: block;float: left;padding: 8px 15px 0;}
#top_menu  ul.m3nu li a:hover {color: #333;background: url(../images/current-bg.gif) top left repeat-x;}
#top_menu  ul.m3nu li a.current{color: #FFF;background: url(../images/current-bg.gif) top left repeat-x;padding:5px 15px;}
/** # End The main menu at the top **/	

/*  wrapper body */
#wrapper {width: 90%;height: 100%;margin:15px auto;padding:0;}

/*  right menu */
#right_menu{width:10%;float:right;padding:5px;}
#right_menu .list{margin-left:16px;width: 180px;}
#right_menu .list ul{	padding: 0;	margin: 0;list-style-type: none;}
#right_menu .list span{ background:url(../images/menu-right-top.png) no-repeat;height:36px;width:160px;
	display:block;padding:0px 10px;line-height:35px;font-weight:bold;text-align:left;color: #000;border-bottom: 1px solid #666;}
#right_menu .list b{	background:url(../images/menu_right_bottom.png) no-repeat;height:37px;width:160px;
	display:block;padding:0px 10px;font-weight:bold;color: #F1F7E1;}
#right_menu .list img{padding:0px 0px 0px 5px;}
#right_menu .list a{	background-color:#767676;font: bold 11px tahoma;padding: 5px 10px;display: block;width: 160px;
	color: #fff;text-decoration: none;border-bottom: 1px solid #666;}
#right_menu .list a:hover{color: #111;background:#767676 url(../images/right_menu.png) repeat;}
#right_menu .list a:active {background: #fff}
/* #  right menu */

/* extras  header */
#extras_header {	width: 100%;margin:0 auto;padding:5px;}

/* fixed */
#fixed {background:#C8C8C8;margin:0; position:fixed; left:40px; bottom:2px;padding:1px; 
	   text-align: left; color: rgb(89, 89, 89); text-shadow: 0px 1px rgb(247, 247, 247)}
#fixed a ,#fixed a:link{color:#CF6600;}
#fixed a:hover{color:#000;background:transparent;}
/* # #  fixed */


#filecp td{padding:5px;border-bottom:1px solid #ddd;}


/* System Messages body */
#system-message  { margin: 10px 0;}
#system-message dd {font-weight: bold; text-indent: 35px; }

/* System Messages  info*/
#system-message dd.info ul {
list-style: none;
padding:5px 10px;
border-top: 3px solid #FEA53D;
border-bottom: 3px solid #FEA53D;
background-color: #EFE7B8;
}
#system-message dd.info  ul li {
color: #444;
background: url(../images/info.png) no-repeat right top ;
padding:5px
}

/* System Messages  error */
#system-message dd.error ul {
list-style: none;
padding:5px 10px;
background-color: #E6C0C0;
border-top: 3px solid #DE7A7B;
border-bottom: 3px solid #DE7A7B;
}
#system-message dd.error ul li{
color:#c00;
background: url(../images/error.png) no-repeat right top;
padding:5px
}
#system-message dd.info_f ul {
width:74%;
list-style: none;
padding:5px 10px;
border-top: 3px solid #4277B7;
border-bottom: 3px solid #4277B7;
background-color:#C0D2E8;}
#system-message dd.info_f ul li {
color:#07387A;
background:url(../images/info_f.png) no-repeat top right;
padding:5px
}
#system-message dd.error ul li a:hover, 
#system-message dd.info ul li a:hover,#system-message dd.info_f ul li a:hover
{ color:#000;background:transparent;text-decoration:underline;}
/* ##  End  System Messages */


/* Downlod template */
#file-info {height:220px;margin:5px auto;}
#data_file {float:right;width:50%;margin-left:10px;}
#data_file .data_file p {color:#F0502E;font-size:26px;}
#data_file .t {color:#555;background:#ccc;font-size:12px;text-align:center;
			border:1px solid #f2f2f2;border-right:5px solid #CCC;border-left:5px solid #CCC;
			margin-top:10px;padding:2px 5px;}
#data_file .nup {font-size:18px}
#data_file ul.data_menu {list-style:none;margin:0;}
#data_file ul.data_menu li {margin-bottom:1px;border:1px solid #f2f2f2;display:block;font-weight:700;color:#333;
			text-decoration:none;background:#f2f2f2;border-right:5px solid #CCC;padding:2px 5px 2px 10px;}
#data_file ul.data_menu li b {color:#040476;}
#data_file_down {width:45%;float:left;}
#data_file_down .find_x,#data_file_down .find_image {color:#2B8800;font-size:22px;text-align:center;}

/* file report */
.fileReport {text-align:center;border-top:2px solid #CFCFCF;border-bottom:2px solid #CFCFCF;
			cursor:pointer;background-color:#E2E2E2;margin:10px auto;padding:3px 10px;}
.fileReport a {color:#111;font-size:110%;}
.fileReport a:hover,.fileReport:hover {background-color:#C7C7C7;color:#111;}
.fileReport:hover {border-top:2px solid #999;border-bottom:2px solid #999;}

.wait {color:#F04C2D;font-size:300%;font-weight:700;padding:5px 10px;}

/* button Downlod */
#download {text-align:center;height:50px;margin:12px auto;}
#download a {background:#FEC008 url(../images/bg_download.png) repeat-x top right;border-top:3px solid #9B7500;
			border-bottom:3px solid #9B7500;color:#9B7500;font-size:100%;font-weight:700;padding:20px;}
#download a:hover {background:#FFD65D;color:#000;}
/* # End Downlod template */


/* stats template */
#stats  {margin:10px 20px;font-size:11px;font-weight:700;background:url(../images/stats.png) no-repeat 1% 2%;}
#stats ul {list-style:circle;list-style-position:outside}
#stats  ul li b{color:#A24000;padding:1px}
#stats .st i{font-size:12px;font-weight:700;padding:4px 8px;color: #222;border-bottom:1px solid #222;}
/* #  stats template */


.agree{font-size:xx-small;padding:3px 6px;}
.zx,.zl {cursor:pointer;padding:4px;}
.zx a:hover,.zl a:hover {background-color:transparent;border-right:1px solid #F5F5F5;border-left:1px solid #F5F5F5;}


div#loadbox {padding: 10px;display: none;}


#usercp {padding:10px;}
#usercp  .imguser{background:url(../images/imguser.png) no-repeat top right;width:50%}
#usercp  .imguser b{padding-right:80px;}
#usercp .daaf{background:#EDF8F4;padding:10px;border:2px solid #CDDFFF;width:50%;
		-moz-border-radius-topleft: 10px; 
		-webkit-border-top-left-radius: 10px;
		-moz-border-radius-topright: 10px; 
		-webkit-border-top-right-radius: 10px;
}
#usercp .uname{color:#006CD8;padding-right:80px;padding-left:10px;padding-top:10px;
  font: bold 22px tahoma,Verdana, Helvetica, sans-serif;text-shadow: 0px 1px rgb(247, 247, 247);}
#usercp  .copylink{background:#EDF0F8;font: bold 11px tahoma,Verdana, Helvetica, sans-serif;color:#1A6AF8;padding:4px 40px;}

.usercp {background:#F8F4ED;padding:10px;border:1px solid #FFECCD}
 
 
 
 .input_link,.input_field,.input_num   { 
	background: #FFFFFF url(../css/images/input_bg.gif) repeat-x;
	border: 1px solid #B3B9C4;
	font:normal 12px tahoma, Helvetica,  sans-serif;}
.input_link {padding:2px 4px;}
.input_field {height:18px;padding:4px 2px 0 2px;}
.input_num {	padding:2px;}
.input_field:focus, .input_field:hover ,
.input_link:focus, .input_link:hover{border: 1px solid #7E8993;background-color:#ffd;}


/* extras  footer template */
#extras_footer {	width: 100%;margin: 0 auto; padding:5px;}
/*# extras  footer template */

/* footer template */
#footer{ width: 100%;margin:5px auto;padding: 5px;}
#footerlinksleft ul{width:350px;float:left;}
#footerlinksleft li{float:left;font-size:11px; font-weight:normal;}
#footerlinksleft ul li a{padding:0 5px 0; color:#5C5C5C; }
#footerlinksleft ul li a:hover,#footer .Copyrights  a:hover,#footer .page_stats a:hover{background:#fff;color:#111;}
/* Copyrights */
#footer .Copyrights {float:right;padding:6px;color:#666;}
/* footr stats */
#footer .page_stats { margin-top:10px;margin-bottom:24px;float:left;color:#999;}
/* googleanalytics */
#footer .googleanalytics {margin-top:10px;margin-bottom:24px;padding:10px; text-align:center;}

/*start Option to control panel */
#adminPan{margin:25px}
#adminPan ul{float:right;width: 178x;height:45px;margin-bottom:8px;}
#adminPan li {background:url(../images/adminPan.gif) no-repeat center left;padding:6px 20px;
font-size:12px; font-weight:bold; border:1px solid #858585;}
#adminPan a {color:#2B2B2B;}
#adminPan a:hover  {color:#000;background-color:transparent;}
/* # footer template */


/* connection template */
.call form {margin:10px; background:url(../images/call.png) no-repeat 20% 50%;}
.call label {display:block;font-weight:bold;margin:5px 0;}
.call input {padding: 2px;border:1px solid #999;font: bold 12px tahoma, Verdana, sans-serif;color:#666;}
.call textarea {width:300px;padding:2px;font: bold 12px tahoma, Verdana, sans-serif;border:1px solid #999;
	height:100px;display:block;color:#666;}
/*# connection template */


/* pagination */
.pagination {margin:8px 0;float:right;}
.pagination  a{padding:3px 9px;color: #2B2B2B;}
.paging {background:#C8C8C8;-moz-border-radius-topleft: 10px;-webkit-border-top-left-radius: 10px;-moz-border-radius-bottomright: 10px; 
		-webkit-border-bottom-right-radius: 10px;border: 1px solid #2B2B2B;font-size: 10px;text-align:center;}
.here_page ,.paging:hover{padding:3px 9px;border: 1px solid #2B2B2B; font-size: 10px;color:#2B2B2B;
        background:#FFBA00;text-align:center;}
/* ## pagination */


/* ALL buttons */
#buttons ,.buttons{cursor: pointer;padding:4px 20px;font: normal 12px Tahoma, Helvetica, Arial, sans-serif;
background:url(../images/buttons-bg.gif) repeat-x left top;color: #555;border:1px solid #999;}
#buttons{margin-top:10px;}
.buttons {margin-top:2px;}
#buttons:hover ,.buttons:hover{background:#B0B1B1;color: #111;border:1px solid #666;}
/* ## ALL buttons */


#register{background:url(../images/register.png) no-repeat 10% 24%;}
.reg_table{border: 2px solid #D1C2A8;margin:5px 0;padding:10px;width:60%;background:#F8F4ED;}
.reg_table td{width:130px;padding-bottom:5px;}
.reg_table td input {width:180px;}
#bg_get_password{background:url(../images/get_password.png) no-repeat 10% 24%;}
.get_pass{color:#BF0000;margin-bottom:10px;}


/* login template */

#bg_log1n{
float:right;
width: 40%;
padding:10px 30px;
margin:1% 12% 2% 2%;
color:#444;
background:#E8E8E8 url(../images/get_password.png) no-repeat 10% 34%;
border:1px solid #F5F5F5;-moz-border-radius: 8px;border-radius:1px;}

#login {	float: right;width: 220px;}
#login label {display: block;margin-bottom: 2px;}
#login a {color:#C03C2D;font-size: 12px;padding: 3px 6px;}
#login .title_login {background:#fff;color:#D80505;width: 200px;padding:2px 5px;}
#login .username,#login .password{padding-left:20px;padding-top:2px;height:18px;width:180px;font-size: 12px;}
#login  .username{background:#fff url(../images/username.gif) no-repeat 1px 2px;}
#login  .password{background:#fff url(../images/password.gif) no-repeat 1px 2px;}
#login  .forget_pass  { background:#E0E0E0;float:left;margin:5px 0 0 10px; color:#C03C2D;}
#login  .forget_pass a:hover {color:#FF2020;background-color:transparent;}	
#login  .remme{background:#FFBA00;color: #000;border: 1px solid #999;font:normal 9px Tahoma, Helvetica, Arial, sans-serif;}
#login .remme option{background: #FFBA00;color: #000;}
/* # login template */

/* captcha stuff*/
#kleeja_img_captcha {cursor: pointer;}
/* # captcha stuff*/



.safe_code {	
border: 2px solid #B7D1A8;
background:#F1F8ED url(../images/saf3_code01.png) no-repeat 20px 15px ;
margin:5px 0;
padding:10px;
width:60%;
}
.safe_code b  {padding-right:4px;color:#408000}
.safe_code input  {padding:2px;height:18px;}
.explain {font-size:xx-small;font-style: italic;}



/* tabs */
.tabber {width:100%}
.tabberlive {margin-top:2px;margin-bottom:2px;}
.tabberlive .tabbertabhide {display:none;}
.tabbertab {width:70%;height:100%;padding:20px;
		border:1px solid #aaa;
		background:#DAE3F5 url(../images/bg_tabbertab.png) repeat-x top left;
		-moz-border-radius-bottomleft: 10px;
		-webkit-border-bottom-left-radius: 10px;
		-moz-border-radius-bottomright: 10px; 
		-webkit-border-bottom-right-radius: 10px;}
.bg {background:#F5E8DA url(../images/bg_tabbertab_1.png) repeat-x top left;}

ul.tabbernav{ padding:5px 0; font: bold 11px tahoma, sans-serif;}
ul.tabbernav li{ list-style: none; display: inline;}
ul.tabbernav li a{ padding:5px 14px; margin-left: 5px; border: 1px solid #aaa;
		background:#FFFDBB;text-decoration: none;
 		-moz-border-radius-topleft: 10px; 
		-webkit-border-top-left-radius: 10px;
		-moz-border-radius-topright: 10px; 
		-webkit-border-top-right-radius: 10px;}

ul.tabbernav li a:link {color: #777;}
ul.tabbernav li a:hover{color:#222;}

ul.tabbernav li.tabberactive a{ padding:5px 14px;border-bottom: 1px solid #E8E8E8;background-color:#E8E8E8;}
ul.tabbernav li.tabberactive a:link{color: #222;}
ul.tabbernav li.tabberactive a:hover{color: #999;}

/* #tabs */



#guide { 
width:100%;
padding: 5px;
margin: 10px;
}

#guide .visitor ,#guide .visitor_x,#guide .users,#guide .users_x{ 
width:50%;
}

#guide .visitor { 
background: #767676;
font: bold 12px tahoma, sans-serif;
color:#eee;
text-align: center;	
padding: 5px
}

#guide .visitor_x { 
background: #CECECE;
font: bold 11px tahoma, sans-serif;
color:#555;
padding:5px;
}
#guide .visitor_xx {
font: bold 12px tahoma, sans-serif;
color:#005900;
padding:5px;
border-bottom: 1px dashed #555;
margin:5px auto;
text-align: right;
}
#guide .visitor_ext{
color:#111;
padding:5px;
margin:5px auto;
}
#guide .visitor_ext1{
color:#E10000;
padding:5px;
margin:5px 0;
}

#guide .users { 
background:url(../images/bar_bg.gif) repeat-x bottom right;
font: bold 12px tahoma, sans-serif;
color:#111;
text-align: center;	
padding: 5px;
}
#guide .users_x {
background: #C8C8C8;
font: bold 11px tahoma, sans-serif;
color:#005900;
padding:5px 25px 10px 0;
}


/* content index body   */
#content_index_body  {float: left;width: 70%;padding:5px 30px;}

/* index body  */
#index_body{background:url(../images/index_body.png) no-repeat left top;}

/* Content */
#content {float: left;width: 70%;padding:10px 30px;margin:10px auto 20px auto;color:#444;
background-color:#E8E8E8;border:1px solid #F5F5F5;-moz-border-radius: 8px;border-radius:1px;}

/* title */
.title-x strong{float:right;padding:2px 4px;margin:1px 0;font-size:12px; 
color:#418300;text-shadow: 0px 1px rgb(247, 247, 247);}
.title-x a {color:#C95A12;}
.title-x a:hover {color: #000;background:transparent;}

/*-- start Profile template  */
#userdata  select,#userdata  option{background:#FED300;color: #000;font: bold 12px Tahoma, Helvetica, Arial, sans-serif;}
#userdata .userdata {float:right;width:30%;height:200px;border:1px solid #D6D6D6;background-color:#DDD;margin:0 5px;}
#userdata p  {padding:2px;text-align:center;}
#userdata .tit{background:url(../images/bar_bg.gif) repeat-x bottom right;padding:5px;margin:1px;font: bold 12px tahoma, sans-serif;color: #444;text-align:center;}
#userdata p.bq {color:#111;line-height:26px;padding:0 5px;}
#userdata .in{color:#111;line-height:26px;padding:2px 5px;margin-right:12px;}
#userdata p.biguser {color:#D61B1B;line-height:30px;padding:5px;font: bold 18px tahoma, sans-serif;text-align:center;}
#userdata .buttons_center {line-height:40px;padding:5px;text-align:center;margin:6px auto;}
/*-- End Profile template  */

