/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/
* {
padding-top:0px; 
padding-right:0px; 
padding-bottom:0px; 
padding-left:0px; 
margin-top:0px; 
margin-right:0px; 
margin-bottom:0px; 
margin-left:0px; 
} 

body {
font-family:tahoma,verdana,arial,sans-serif;
	font-size:11px;font-weight: bold; }
/* all root */
h2 {padding-top:2px; 
padding-right:6px; 
padding-bottom:2px; 
padding-left:0px; 
}
p {padding-top:0px; 
padding-right:0px; 
padding-bottom:0px; 
padding-left:0px; 
margin-top:0px; 
margin-right:0px; 
margin-bottom:0px; 
margin-left:0px; }

ul{margin-bottom:4px;}
img {margin-right:1px; }

textarea {
padding-top:2px; 
padding-right:2px; 
padding-bottom:2px; 
padding-left:2px;
}
label { 
padding-top:0px; 
padding-right:5px; 
padding-bottom:0px; 
padding-left:0px;
}
fieldset { 
margin-top:5px; 
margin-right:0px; 
margin-bottom:5px; 
margin-left:0px; 
padding-top:20px; 
padding-right:20px; 
padding-bottom:20px; 
padding-left:20px;
}
legend {
padding-top:1px; 
padding-right:0px; 
padding-bottom:1px; 
padding-left:0px;
}
input, textarea { 
padding-top:2px; 
padding-right:2px; 
padding-bottom:2px; 
padding-left:2px;
}
select ,option{
padding-top:1px; 
padding-right:3px; 
padding-bottom:1px; 
padding-left:3px;
}

/* all root */

/* header */
#divheader { 
padding-top:10px; 
padding-right:10px; 
padding-bottom:10px; 
padding-left:10px; 
margin-top:20px; 
margin-right:auto; 
margin-bottom:0px; 
margin-left:auto;
}
#header { 
padding-top:0; 
padding-right:0; 
padding-bottom:0; 
padding-left:0; 
margin-top:0; 
margin-right:0; 
margin-bottom:0; 
margin-left:0;
  }
#header .logo1 { 
padding-top:8px; 
padding-right:0px; 
padding-bottom:0px; 
padding-left:0px; 
margin-top:0; 
margin-right:0; 
margin-bottom:0; 
margin-left:0;
}
#header .logo2{
padding-top:20px; 
padding-right:50px; 
padding-bottom:20px; 
padding-left:10px; 
margin-top:0; 
margin-right:0; 
margin-bottom:0; 
margin-left:0;
}
/* header */


/* body */
#divbody   {
padding-top:10px; 
padding-right:10px; 
padding-bottom:10px; 
padding-left:5px; 
margin-top:5px; 
margin-right:auto; 
margin-bottom:5px; 
margin-left:auto;

}
/* body */


/* middle */
#divmiddle {
float:right;
width: 68%;
margin-top:0px; 
margin-right:10px; 
margin-bottom:0px; 
margin-left:10px;
}
#divmiddle .welcome {
padding-top:4px; 
padding-right:8px; 
padding-bottom:4px; 
padding-left:8px; 
margin-top:10px; 
margin-right:2px; 
margin-bottom:10px; 
margin-left:2px;
}
#divmiddle .title {
padding-top:4px; 
padding-right:8px; 
padding-bottom:4px; 
padding-left:8px; 
margin-top:2px; 
margin-right:0px; 
margin-bottom:5px; 
margin-left:0px;
}
/* middle */	

				
/* right  menu */	
#rightmenu{ 
padding-top:10px; 
padding-right:10px; 
padding-bottom:10px; 
padding-left:10px; 
margin-top:16px; 
margin-right:5px; 
margin-bottom:5px; 
margin-left:5px;
}

#rightmenu .link-menu{
padding-top:0px; 
padding-right:0px; 
padding-bottom:0px; 
padding-left:0px; 
margin-top:1px; 
margin-right:1px; 
margin-bottom:1px; 
margin-left:1px;
}
#rightmenu  .link-menu-current {	
padding-top:0px; 
padding-right:0px; 
padding-bottom:0px; 
padding-left:0px; 
margin-top:1px; 
margin-right:1px; 
margin-bottom:1px; 
margin-left:1px;
} 

#rightmenu .link-menu a { 
display: block;	
padding-top:5px; 
padding-right:5px; 
padding-bottom:5px; 
padding-left:5px; 
}
/* right  menu */	
	
/*  buttons */
.button1 ,.button2 {
padding-top:3px; 
padding-right:9px; 
padding-bottom:3px; 
padding-left:9px; 
margin-top:5px; 
margin-right:5px; 
margin-bottom:5px; 
margin-left:5px;
}
/*  buttons */

	
/* class */
fieldset.quick, p.quick { 
padding-top:5px; 
padding-right:0px; 
padding-bottom:0px; 
padding-left:0px; 
margin-top:0px; 
margin-right:0px; 
margin-bottom:5px; 
margin-left:0px;
}
input.button1, input.button3,input.button2 {
padding-top:3px; 
padding-right:4px; 
padding-bottom:3px; 
padding-left:4px; 
}


.exts {	
padding-top:5px; 
padding-right:5px; 
padding-bottom:5px; 
padding-left:5px; 
margin-top:0px; 
margin-right:0px; 
margin-bottom:0px; 
margin-left:0px;
}
.s_box {
padding-top:2px; 
padding-right:4px; 
padding-bottom:2px; 
padding-left:1px; 
margin-top:2px; 
margin-right:2px; 
margin-bottom:2px; 
margin-left:2px;
}
.s_box_tpls{
padding-top:2px; 
padding-right:4px; 
padding-bottom:2px; 
padding-left:4px; 
margin-top:2px; 
margin-right:2px; 
margin-bottom:2px; 
margin-left:2px;
}
.s_box_tpls_d{
padding-top:2px; 
padding-right:4px; 
padding-bottom:2px; 
padding-left:4px; 
margin-top:2px; 
margin-right:2px; 
margin-bottom:2px; 
margin-left:2px;
}
/* class */
	
/*  table no hover */
.tab-no-hover {
padding-top:5px; 
padding-right:5px; 
padding-bottom:5px; 
padding-left:5px; 
margin-top:0px; 
margin-right:0px; 
margin-bottom:0px; 
margin-left:0px;
 }

.tab-no-hover td {
padding-top:3px; 
padding-right:5px; 
padding-bottom:3px; 
padding-left:5px; 
}
/*  table no hover */
	
/* last visit */					
#info-last-visit { 
width: 49%; 
font-size:11px;
padding-top:1px; 
padding-right:1px; 
padding-bottom:1px; 
padding-left:1px; 
margin-top:1px; 
margin-right:1px; 
margin-bottom:1px; 
margin-left:1px;
}
#info-last-visit li {	
padding-top:5px; 
padding-right:10px; 
padding-bottom:5px; 
padding-left:10px; 
}

/* last visit */	

/* other info  */
#other-info{ 
padding-top:10px; 
padding-right:10px; 
padding-bottom:10px; 
padding-left:10px; 
margin-top:6px; 
}
#other-info ul {
padding-top:3px; 
padding-right:3px; 
padding-bottom:3px; 
padding-left:3px; 
 }

#other-info .t_info{
padding-top:2px; 
padding-right:30px; 
padding-bottom:2px; 
padding-left:30px; 
}
#other-info td{line-height:18px;}

/* other info  */

/* other info  */
#disk_size{
padding-top:10px; 
padding-right:10px; 
padding-left:10px; 
margin-top:10px; 
position: relative;
}
#disk_size ul { 
padding-top:6px; 
padding-right:0px; 
padding-bottom:6px; 
padding-left:6px; 
}
#disk_size .t_disk_size{ 
padding-top:2px; 
padding-right:0px; 
padding-bottom:2px; 
padding-left:10px; 
}
/* other info  */

/*  disk_size */
#disk_size .tab-size {
padding-top:5px; 
padding-right:5px; 
padding-bottom:0px; 
padding-left:5px;
border-width:0px; 
}
#disk_size .tab-size tr { 	
	height: 20px;}
#disk_size .tab-size td {
padding-top:3px; 
padding-right:5px; 
padding-bottom:3px; 
padding-left:5px; 
}
/*  disk_size */

/* body #System Messages  */
#system-message { 
margin-top:10px; 
margin-right:0px; 
margin-bottom:5px; 
margin-left:0px;
}
/* body #System Messages  */

/* System Messages  #info*/
#system-message div.info ul {
padding-top:15px; 
padding-right:8px; 
padding-bottom:15px; 
padding-left:8px; 
}
/* System Messages  #info*/

/* System Messages  #error*/
#system-message div.error ul {
padding-top:15px; 
padding-right:8px; 
padding-bottom:15px; 
padding-left:8px;}
/* System Messages  #error*/
	
/* view ../images */
.bg_img { padding-top:5px; 
padding-right:5px; 
padding-bottom:5px; 
padding-left:5px;}
/* view ../images */

/*  toolTipBox */	
#toolTipBox {
width:180px; 
height:85px;
font-size:11px;
line-height:18px;
display: none;
position:absolute; 
padding-top:10px; 
padding-right:10px; 
padding-bottom:10px; 
padding-left:10px; 
}
/* toolTipBox */

/* pagination */
.pagination {
padding-top:5px; 
padding-right:6px; 
padding-bottom:5px; 
padding-left:6px; 
margin-top:10px; 
margin-right:0px; 
margin-bottom:10px; 
margin-left:0px;
}
.paging { 
border-width:1px ;
border-style:solid;
border-color: #6496c3;
margin-right: 5px;
padding-top:3px; 
padding-right:6px; 
padding-bottom:3px; 
padding-left:6px; 
}

.here_page {
border-width:1px ;
border-style:solid;
border-color: #6496c3; 
margin-right: 5px; 
padding-top:3px; 
padding-right:6px; 
padding-bottom:3px; 
padding-left:6px;
}
/* pagination */

/* footer */
#footer {
padding-top:12px; 
padding-right:0px; 
padding-bottom:10px; 
padding-left:0px; 
margin-top:0px; 
margin-right:auto; 
margin-bottom:0px; 
margin-left:auto;
}
#footer p{
padding-top:5px; 
padding-right:0px; 
padding-bottom:5px; 
padding-left:0px; 
}

#footer a.xhtml{
margin-bottom:6px;
}
#footer a.xhtml:hover{
margin-bottom:6px;}
/* footer */

/* border table */
#border-table {
width:96%;
padding-top:10px; 
padding-right:10px; 
padding-bottom:10px; 
padding-left:10px; 
position: static;}

/* all tables */
table {padding-top:5px; 
padding-right:5px; 
padding-bottom:5px; 
padding-left:5px; 
border-style:solid;border-color:#AAA;border-width:1px;}
tr {height: 18px; border-bottom:solid 1px #E0E0E0;}
td {
padding-top:5px; 
padding-right:5px; 
padding-bottom:5px; 
padding-left:5px; 
border-left:solid 1px #E0E0E0;}
/* all tables */

/* usefull colors */


.styles_exp{
padding-top:10px; 
padding-right:10px; 
padding-bottom:10px; 
padding-left:10px; 
}


.file_cp1 {
margin-top:5px; 
margin-right:0px; 
margin-bottom:5px; 
margin-left:0px;
}

.small_font {
padding-top:5px; 
padding-right:6px; 
padding-bottom:5px; 
padding-left:6px; 
}

#dot {
padding-top:3px; 
padding-right:3px; 
padding-bottom:3px; 
padding-left:3px; 
}

/*tpl*/

.s_tpl_x OPTGROUP {
padding-top:10px; 
padding-right:10px; 
padding-bottom:10px; 
padding-left:10px; 
margin-top:5px; 
margin-right:0px; 
margin-bottom:5px; 
margin-left:0px;
}
.s_tpl_x option {
padding-top:4px; 
padding-right:8px; 
padding-bottom:4px; 
padding-left:8px; 
margin-top:1px; 
margin-right:0px; 
margin-bottom:2px; 
margin-left:0px;
}

/* / tpl */

/* config page */
.config_types_list{
padding-top:2px; 
padding-right:5px; 
padding-bottom:2px; 
padding-left:5px; 
margin-top:20px; 
margin-right:0px; 
margin-bottom:20px; 
margin-left:0px;
}
.config_types_list div {
padding-top:5px; 
padding-right:8px; 
padding-bottom:4px; 
padding-left:5px; 
margin-top:3px; 
margin-right:3px; 
margin-bottom:3px; 
margin-left:3px;
}
.config_types_list div a{
padding-top:10px; 
padding-right:10px; 
padding-bottom:10px; 
padding-left:10px; 
margin-top:45%; 
margin-right:auto; 
margin-bottom:20%; 
margin-left:auto;
}
.config_types_list div img {
padding-top:3px; 
padding-right:3px; 
padding-bottom:3px; 
padding-left:3px; 
margin-top:1%; 
margin-right:auto; 
margin-bottom:1%; 
margin-left:auto;
}

/* / config page */
.adminstrators { 
padding-top:5px; 
padding-right:25px; 
padding-bottom:5px; 
padding-left:25px; 
}


/* for php_info  */

.php1 table{
margin-top:5px ; 
margin-right:auto; 
margin-bottom:5px ; 
margin-left:auto;
}
/* / for php_info */

.goback{ 
padding-top:5px; 
padding-right:10px; 
padding-bottom:5px; 
padding-left:10px; 
margin-top:2px; 
margin-right:auto; 
margin-bottom:2px; 
margin-left:auto;
}

