
/* css admin login template */
input {width:272px;padding:2px;cursor: text;border-left: 1px solid #AFAEAA;border-top: 1px solid #AFAEAA;border-right: 1px solid #D5D5C8;border-bottom: 1px solid #D5D5C8;font:normal 22px Tahoma, Arial, Helvetica, sans-serif;}
.submit_go {width:120px;font:normal 16px Tahoma, Arial, Helvetica, sans-serif;}
.web2{margin:0 15px;}
.logo_cp {margin:15px auto 5px auto;}
.web2{float:left;}
/* ###  css admin login template  */
