/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/

* {
padding-top:0px; 
padding-right:0px; 
padding-bottom:0px; 
padding-left:0px; 
margin-top:0px; 
margin-right:0px; 
margin-bottom:0px; 
margin-left:0px; 
} 
input{background-color:#D8D8D8}
input:focus{background-color:#CCFFFF ;border: 1px solid #6699FF;}
/* border table */
#border-table {
width:96%;
padding-top:10px; 
padding-right:10px; 
padding-bottom:10px; 
padding-left:10px; 
position: static;
}

/* all tables */
td {padding: 6px 5px ;border-style:groove solid;border-color:#DFDFDF;border-width:1px;}
/* all tables */