/* Powered by Kleeja .... Kleeja.com # 2007 -2009  */
/* Powered by Kleeja .... Kleeja.com # 2007 -2009  */
input[type="submit"] {float:right;}
.site_name a:hover{padding-right:0;padding-left:20px;}
.site_name img,.cp_kleeja img{padding-left:0;padding-right:8px;}
.system-message div.error ul li{background-position:left center;}