/*
# Tweaks for left-to-right direction
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/
small{font-weight:normal;font-size:9px;}
#header .logo2{padding-left:60px;background-position:left center;}
#divmiddle {float:left}
#divmiddle .title {letter-spacing:0px;}
#divmiddle .welcome span{padding-left:0px;}
#rightmenu{float:left;}
#rightmenu .link-menu{float:left;}
#rightmenu .linkhome{float:left;}
.s_box {background-position:top left;}
#info-last-visit {float:left;margin-right:5px;margin-left:0px}
#info-last-visit li {text-align: left;}
#other-info .t_info{background-position:0% 40%;}
#disk_size .t_disk_size {padding-left:0}
#system-message div.info  ul li ,#system-message div.error  ul li {padding-left: 35px;}
#system-message div.info  ul li ,#system-message div.error ul li {background-position: left top;}
#toolTipBox {text-align:left;}
.arr_paging{float:left}
.pagination {float:left;}
.paging {margin-left: 5px; }
.here_page {margin-left: 5px;}
.here_page ,.paging:hover,.paging {float:left}
#border-table {float:left;}
.config_types_list div {float:left}
.title_general_conf1gs,.title_other_conf1gs {background-position:2% 50%;}
.adminstrators { background-position:0% 60%;}
.imgtitle {margin-left:0}
.update_info ,.update_error{background-position:1% 50%;}
.left_button {float:right}
.small_font {font-size:12px;font-weight:normal;}