/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/
/* import stylesheets and hide from ie/mac \*/
@import url("ltr_reset.css");
@import url("ltr.css");
/* end import/hide */