/*admin_header*/
.navbar-static-top {
  margin-bottom: 19px;
}
.icon-for-menu {
	background-repeat:no-repeat !important;
    background-position: center center;
}


/*admin_img*/
.max-thumbnail-size{
	max-width:150px;
	height:auto;
	margin:5px;
}

.thumbnail-selected{
	border:1px solid red;
}

.kcheck {
	margin:0;
}

#search-one-item{
	width:50%;
}
.img-info-box{
	font-size:11px;
}

/*admin_users*/
.user-group-box{
	padding:4px;
}

/*general*/
.popover {
	max-width: 800px;
	width: auto;
}
