
        
/*startfile*/        
* {
    padding: 0;
    margin: 0;
} 

html {
        font-size: 100%;
        /* Always show a scrollbar for short pages - stops the jump when the scrollbar appears. non-IE browsers */
        height: 100%;
        margin-bottom: 1px;
}

body {
        font-family: "Tahoma", arial, verdana, sans-serif;
        color: #323D4F;
        background-color: #CCCCCC;
    font-size: 11px;
    margin: 0;
    padding: 12px 0;
        
 }
 
a {
        color: #306090;
}
a:hover {
        color: #F48A00;
}


img {
     border: none;
}

h2 { 
        font-family: "Tahoma", Arial, Helvetica, sans-serif;
        font-weight: normal;
        color: #3B6EBF; 
    font-size: 1.4em;
        margin: 0.8em 0 0.2em 0;
        
        }



#wrap {
        margin: 20px auto;
        width: 720px;
}


#header {
        width:50%;
        margin-bottom:5px;
}


#content {
        padding: 0 40px 0 40px;
}




#clear {
        display: block;
        clear: both;
        width: 100%;
        height:1px;
        overflow:hidden;
}

#footer {
        text-align: center;
        color: #666;
        direction:ltr;
}


.middle{
        width: 60%;
        margin: 0 auto;
        padding: 1% 1%;
        float:left;
}

.breadcrumbs { 
    background: #F6F9FB url('images/bg1.gif');
        border-bottom: 1px solid #E1E1E1; 
        padding: 5px;
        margin-bottom:9px;
        
}
        

.right {
        float: right;
        width: 29%;
        margin: 0 1px;
        padding: 1% 1%;
        margin-left: 20px;

}

.right ul {
        padding: 20px 0 15px 20px;
        margin:0;
}

.right li {
        margin-bottom:5px;
        list-style-type: none;
        color: #3B6EBF;
}


.err {
        padding: 5px;
        background-color: #FFEBE9;
        border: 1.5px solid #DD3F0E;
        margin: 10px 10px;
        font-size: 13px;
        font-family: "Tahoma", Times, serif;
}
.info {
        padding: 5px;
        background-color: #FFFFE6;
        border: 1.5px solid #E2EE0B;
        margin: 10px 10px;
        font-size: 13px;
        font-family: "Tahoma", Times, serif;
}
.result {
        padding: 5px;
        background-color: #FFFFE6;
        border: 1.5px solid #E2EE0B;
        margin: 10px 10px;
        font-size: 13px;
        font-family: "Tahoma", Times, serif;
}

/* box for some info */
.daaf {
        background-color: #FFFFD7;
        border: 2px solid #999999;
        padding: 5px;
        margin:0 auto;
        line-height: 1.5em;
        overflow: hidden;
        width:60%
}

/* rodded corners box  */
.roundedcornr_box_459680 { background: #ffffff;}
.roundedcornr_top_459680 div { background: url(images/roundedcornr_459680_tl.png) no-repeat top left;}
.roundedcornr_top_459680 { background: url(images/roundedcornr_459680_tr.png) no-repeat top right;}
.roundedcornr_bottom_459680 div {  background: url(images/roundedcornr_459680_bl.png) no-repeat bottom left;}
.roundedcornr_bottom_459680 { background: url(images/roundedcornr_459680_br.png) no-repeat bottom right;}
.roundedcornr_top_459680 div, .roundedcornr_top_459680, 
.roundedcornr_bottom_459680 div, .roundedcornr_bottom_459680 { width: 100%; height: 30px;font-size: 1px;}
.roundedcornr_content_459680 { margin: 0 2px; }
.roundedcornr_box_561671 {background: #f5f5f5; min-height: 3em;        width: auto;}
.roundedcornr_box_561672 { background: #f5f5f5;width: 100%;}
.roundedcornr_top_561671 div { background: url(images/roundedcornr_561671_tl.png) no-repeat top left;}
.roundedcornr_top_561671 { background: url(images/roundedcornr_561671_tr.png) no-repeat top right;}
.roundedcornr_bottom_561671 div { background: url(images/roundedcornr_561671_bl.png) no-repeat bottom left;}
.roundedcornr_bottom_561671 {  background: url(images/roundedcornr_561671_br.png) no-repeat bottom right;}
.roundedcornr_top_561671 div, .roundedcornr_top_561671, 
.roundedcornr_bottom_561671 div, .roundedcornr_bottom_561671 { width: 100%; height: 15px; font-size: 1px;}
.roundedcornr_content_561671 { margin: 0 15px; }

/* forms */
input {
        font-weight: normal;
        cursor: pointer;
        vertical-align: middle;
        padding: 0 3px;
        font-size: 1.2em;
        font-family: Tahoma, Helvetica, Arial, sans-serif;
                 border: 1px solid #BCBCBC;
        background-position: 0 100%;
        color: #666666;
}
select {
        font-family: Tahoma, Helvetica, Arial, sans-serif;
        font-weight: normal;
        cursor: pointer;
        vertical-align: middle;
        border: 1px solid #666666;
        padding: 1px;
        background-color: #FAFAFA;
}
option {
        padding-right: 1em;
}
textarea {
        font-family: "Tahoma", Verdana, Helvetica, Arial, sans-serif;
        width: 60%;
        padding: 2px;
        font-size: 1em;
        line-height: 1.4em;
}

table{
                width: 60%;
}

.row1 {
        background-color:#dadada;
}

.row2 {
        background-color:#F5F5F5;
}

.paging{
                background-color: #F9F9F9;
                border: 1px solid #666666;
                font-size: 14px;
                color: #666666;
                padding: 0px 3px 0px 3px;
                margin: 1px;
                width: 4px;
                height: 4px;
}
.here_page{
                background-color: #666666;
                color: #FFFFFF;
                font-size: 14px;
                color: #FFFFFF;
                padding: 0px 3px 0px 3px;
                margin: 1px;
                width: 4px;
                height: 4px;
}


/*
dont remove it  start
*/
div#loadbox {
        padding: 10px;
        display: none;
}
div#texttype {
        display: none;
}

/*dont remove it  end*/

        

/*boxes after uploading : see kljuploder.php for more details*/
/*all boxes will take this class*/
.all_boxes{
	width: 400px;
	height: 50px;
}
/* delete code box */
.del_box {

}
/* thumb box */
.thumb_box {

}
/* image link box */
.img_box {

}
/* image bbcode box */
.img_bbc_box {

}
/* file link box */
.file_box {

}
/* file bbcode box */
.file_bbc_box {

}

/*thumb after uploading <img>, and <div> tags*/
.thumb_img_tag{
	width:100px; 
	height:100px
}
.thumb_div_tag {
	text-align:center;
}
