/*admin_header*/
.navbar-static-top {
  margin-bottom: 19px;
}
.icon-for-menu {
	background-repeat:no-repeat !important;
    background-position: center center;
}
/*Other*/
.form-control{
	width: auto;
	display: inline;
}
.other_info p{
	margin: 0;
	padding: 0;
	line-height: 2px;
	float: left;
	font-weight: 800;
}
.other_info p.text-primary{
	margin-left: 5px;
	font-weight: 400;
}
.last_visit{
	text-transform: uppercase;
}
#sitename, #siteurl, #sitemail, #sitemail2, #closemsg, #time_zone,
#del_f_day, #user_system, #cookie_name, cookie_path, #cookie_domain,
#imagefolder, #imagefolderexts, #total_size, #foldername, #prefixname,
#decode, #id_form, #thmb_dim_w, #thmb_dim_h, #livexts,
#welcome_msg, #googleanalytics, #cookie_path{
	display: inline;
	  height: 34px;
	  padding: 6px 12px;
	  font-size: 14px;
	  line-height: 1.428571429;
	  color: #555555;
	  vertical-align: middle;
	  background-color: #ffffff;
	  border: 1px solid #cccccc;
	  border-radius: 4px;
	  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#sitename:focus, #siteurl:focus, #sitemail:focus, #sitemail2:focus, #closemsg:focus, #time_zone:focus,
#del_f_day:focus, #user_system:focus, #cookie_name:focus, cookie_path:focus, #cookie_domain:focus,
#imagefolder:focus, #imagefolderexts:focus, #total_size:focus, #foldername:focus, #prefixname:focus,
#decode:focus, #id_form:focus, #thmb_dim_w:focus, #thmb_dim_h:focus, #livexts:focus,
#welcome_msg:focus, #googleanalytics:focus, #cookie_path:focus{
	 border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#register, #siteclose, #cookie_secure, #mod_writer, #imagefoldere, #filesnum_show
#del_url_file{
	margin:0 4px;
}
.delf_caution{
	color: #d9534f;
	font-weight: 800;
	padding-left: 8px;
}
.clear{
	clear: both;
	width: 100%;
	overflow: hidden;
}
/*Side Bar*/
.side_anchor{
	color: #fff;
	background-color: #428bca;
 	border-color: #357ebd;
 	transition : .5s all ease;
 	-o-transition : .5s all ease;
 	-moz-transition : .5s all ease;
 	-webkit-transition : .5s all ease;
 	text-shadow : 0 1px 1px rgba(0,0,0,.4);
 	border-bottom: 1px solid rgba(255,255,255,.1);
}
.side_anchor:hover{
	border-color: #357ebd;
}
ul.side{
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	overflow: hidden;
}
.cpindex{
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.cpindex:active{
	color: #999999;
	text-shadow : 0 1px 1px #fff;
}

/*Images cotrol MSG*/
ul.nav_img{
	margin: 0;
	padding: 0;
}

ul.nav_img li{
	text-align: left;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	position: relative;
}
.Kload{
	float: left;
}
.Kload img{
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 50%;
	box-shadow: 0 4px 4px rgba(0,0,0,.3);
}
.info{
	float: left;
	margin-left: 10px;
}
.info span{
	color: #202020;
	text-shadow : 0 1px 1px #fff;
}
label.del{
	width: 100%;
}
.delete{
	right: 20px;
	position: absolute;
	top: 60px;
}