/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/

img.left {float: right;margin-left:15px;}
img.right {float: left;margin-right:15px;}

.line {background-position:left top;}

h2 {font-size: 22px; font-weight: bold; color:#BE1111; text-shadow: 0px 1px rgb(247, 247, 247);margin: 5px 0}
caption, th, td {text-align: left;}
option {padding-left: 1em;}


/** LOGO */
#logobody .logo {width:500px;height:84px;float: left;}

/**  start The main menu at the top **/
#top_menu {background-position: top right;}
#top_menu  ul.m3nu li {float: left;margin-left:2px;}
#top_menu  ul.m3nu li a {float: right;padding: 8px 15px;}
#top_menu  ul.m3nu li a:hover { background-position: top right;}
#top_menu  ul.m3nu li a.current{background-position: top right;padding:5px 15px;}
/** # End The main menu at the top **/  

/* start site name and titles all */
.title-x {float:left;}
/* # END site name and titles all */

#right_menu{float:left;}
#right_menu .list{margin-right:16px;}
#right_menu .list span{padding:0px 0 0 10px;;text-align:right;}
#right_menu .list b{ padding:0px 0 0 10px;}
#right_menu .list img{padding:0px 5px 0px 0px;}
#right_menu .list a{padding: 5px 0 0 10px;}

/* Content */
#content {float: right;}

/* safe code all box */
.safe_code {background:#F9F5F0 url(../images/saf3_code_ltr.gif) no-repeat 100% 50%;}
/* # end safe code all box */

#stats{background-position: 98% 50%;}

/*-- start user control panel  Files  >> filecp.html  */
.file_cp {background-position:80% 45%;}
.left_button{float:right;}
.file_cp  .odd  {text-align:left;}
.file_cp  .nbr  {text-align:left;}
/*-- # end  user control panel  Files  >> filecp.html  */

.call { background-position:84% 50%}

/* System Messages body */
#system-message dd {text-indent:40px; }
#system-message dd.info  ul li {background-position:1% 10%}
#system-message dd.error ul li{background-position:1% 10%}
#system-message dd.info_f ul li {background-position:1% 10%}
/* ##  End  System Messages */

/* online */
.name_users {float:left;}
.left_button{float:right;}

/* pagination */
.pagination {float:left;}
/* ## pagination */

/* divx */
#divx {width:28%;position:fixed;left:0px;bottom:0px;}
/* #  divx */

/* register template >> register.html */
.reg_table{background-position:90% 50%;margin:5px 0;padding:15px 10px;}
/*#  register template >> register.html */

/* footer template */
#footer{margin:2px auto;}
#footer .page_stats {margin-top:10px;margin-bottom:10px;}
/*start Option to control panel */
.admin_cp_link span{padding:7px 25px;}
.admin_cp_link {width:100%;float:right;margin-top:5px;margin-bottom:10px}
/* # footer template */

/* login template >> login.html */
#bg_log1n{background-position:90% 50%;}
#login .username,#login .password{padding-right:20px;}
#login  .username,#login  .password{background-position:100% 50%}
#login .login {width:300px}
/* # login template >> login.html  */

/* back password template >> get_pass.html */
#bg_get_password{background-position:90% 50%}
/* # back password template >> get_pass.html */
		
/*-- start Profile template >> profile.html  */
#profile .boxdata{float:left;}
#profile .boxdata  .in{margin-left:22px;}
/*-- End Profile template >> profile.html   */

/*-- start  box user name and all files  >> fileuser.html  */
#boxfileuser  .box_user,#boxfileuser  .us3r_n4me {background-position:5% 50%}
#boxfileuser  .box_user {float: left;}
#boxfileuser  .us3r_n4me {background-position:5% 50%;float: right;}
#boxfileuser  .public {margin:5px 15px 5px auto;}
#boxfileuser .uname{font-size:22px;margin:8px auto;}
#boxfileuser .nums{font-size:32px;margin:5px auto;}
#filecplink  .copylink {float:left;}
#filecplink .link_user{float:left;}
.tabledata {float:left;}
.tabledata .odd  {text-align:left}
/*-- #  end box user name and all files  >> fileuser.html  */

/* start Downlod template >> download.html */
#data_file {float:left;}
#data_file_down {float:right;margin-left:5px;}
.wait {font-size:250%;}
/* # End Downlod template >> download.html */

/*  START FOR ONLINE */
.onlineall ,.onlinevisitor ,.onlineusers {float:left;margin-left:4px;margin-right:4px;}
.onlineall  {background-position:4% 50%;padding-left:25px;}
.name_users{float:left;}
/*  #  END FOR ONLINE */

/* start index body  >> index_body.html  */
#index_body{background-position:right top;}
#content_index_body  {float:right;}
.bn_up {margin-left:60px;margin-top:-8px;}

.rebort{background-position:86% 50%;}
