/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/

/*  START FOR ONLINE */
.onlineall ,.onlinevisitor ,.onlineusers {float:left;margin-left:4px;margin-right:4px;}
/*  #  END FOR ONLINE */


#profile .boxdata .in{width:13%;}
