/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/



   

/* divx */
#divx {width:20%;position:absolute;left:70px;bottom:40px;text-align:left;line-height:15px}
/* #  divx */

/* ALL buttons */
#buttons ,.buttons{background:#FFA500 url(../images/headlinebg.png) repeat-x top right;padding:4px 5px;}
/* ## ALL buttons */

/* start Downlod template >> download.html */
#data_file {background:#DFDFDF}
#data_file ul.data_menu li {background:#E6E7FF;}
#data_file_down {background:#DFDFDF;}
#download a {margin:10px auto;height:16px;padding:5px 30px;}
/* # End Downlod template >> download.html */

/* back password template >> get_pass.html */
#bg_get_password{background:#FAF8EA url(../images/getpassword.png) no-repeat 15% 50%}
/* # back password template >> get_pass.html */

/* register template >> register.html */
.reg_table{background:#F0F3F9 url(../images/regiser.png) no-repeat 15% 50%;}
/*#  register template >> register.html */

/* login template >> login.html */
#bg_log1n{background:#F9F1EC url(../images/logn.png) no-repeat 10% 50%;}
/* # login template >> login.html  */

/* pagination */
.pagination {padding:6px;}
.paging {background:#C8C8C8 url(../images/headlinebg.png) repeat-x center right;margin:0 2px;padding:3px 6px;}
.here_page {background:#FFF8C6 url(../images/headlinebg.png) repeat-x center right;margin:0 2px;padding:3px 6px; }
.here_page ,.paging:hover{background:#FFF8C6 url(../images/headlinebg.png) repeat-x center right;}
/* pagination */

/*-- start user control panel  Files  >> filecp.html  */
.file_cp thead th{background:#F68618 url(../images/headlinebg.png) repeat-x center right;}
/*-- # end  user control panel  Files  >> filecp.html  */

/*-- start  box user name and all files  >> fileuser.html  */
#boxfileuser ,#filecplink {background:#fff;}
#boxfileuser  .box_user,#boxfileuser  .us3r_n4me {display:inline;background:#DFDFDF url(../images/imguser.png) no-repeat 96% 50%;}
#boxfileuser  .us3r_n4me {background:#DFDFDF url(../images/boxfileuser.png) no-repeat 96% 50%;}
#boxfileuser  .public {width:64%;margin:5px auto 5px 1px;background:#EDF1F8;padding:5px 10px;color:#555;border:1px dashed #EDF1F8;font-weight:normal;}
#filecplink {height:100%;}
.tabledata thead th {background:#F68618 url(../images/headine_bg.png) repeat-x center right;}
/*-- #  end box user name and all files  >> fileuser.html  */

.left_button{padding:5px;}

/* template list of files allowed > guide.html */
.guide_user_th  {background:#bbb url(../images/headine_bg.png) repeat-x top right;}
.guide_visitor_th {background:#A71515 url(../images/headine_bg.png) repeat-x top right}
.user_ext{background:#E8E8E8 url(../images/headlne_bg.png) repeat-x top right}
.visitor_ext{background:#FDEEEF url(../images/headlie_bg.png) repeat-x top right;}
/* #  template list of files allowed > guide.html */

/* call and file report templates */
.call{background:#F0F3F9 url(../images/cal.png) no-repeat 10% 50%}
.rebort{background:#F3F1E2 url(../images/file_rbort.png) no-repeat 10% 50%;}
/* # call and file report templates */     

/* stats template >> stats.html */
#stats  {background:url(../images/sats.png) no-repeat 2% 35%;}
/* #  stats template >> stats.html  */

/*-- start Profile template >> profile.html  */
#profile .boxdata{float:left;width:28%;height:220px;border:1px solid #bbb;background-color:#DDD;margin:5px;}
#profile .boxdata .tit{background:#F68618 url(../images/headline_bg.png) repeat-x top right;padding:10px;margin:1px;font:bold 12px tahoma, sans-serif;color:#111;text-align:center;}
#profile .boxdata .in{margin-right:10px;}

/*-- End Profile template >> profile.html   */

.all_boxes textarea{margin-top:10px;padding:5px; }

/* box  ALL templates  */
#content {float:right;width:68%}
/* # end box  ALL templates  */