/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/
* {padding: 0; margin: 0;} 
body {
	background: #FFFFFF url(images/background.jpg) top left no-repeat fixed;
	font: bold 11px Tahoma, Arial, Helvetica, sans-serif; 
	text-align: justify;color: #5C5C5C;border-top: 4px solid #D86800;}

h1, h2, h3 {
	margin: 0;
	text-transform: lowercase;
	font-weight: normal;
	color: #FFFFFF;
}

h1 {
	letter-spacing: -1px;
	font-size: 32px;
}

h2 {
	font-size: 23px;
}

p, ul, ol {
	margin: 0;
	text-align: justify;
	line-height: 26px;
}

a:link, body_alink
{
	color: #004080;
	text-decoration: none;
}
a:visited, body_avisited
{
	color: #004080;
	text-decoration: none;
}
a:hover, a:active, body_ahover
{
	color: #FFFFFF;
	text-decoration: none;
	background: #004080;
}
input:focus, textarea:focus {background-color: #ffd ;border: 1px solid #666;}

img {
	border: none;
}

img.left {
	float: left;
	margin-right: 15px;
}

img.right {
	float: right;
	margin-left: 15px;
}

.clear {clear: both !important}

/* Form */

form {
	margin: 0;
	padding: 0;
}

input, textarea, select {
	font-size: 13px;
	color: #333333;
}

#wrapper {
	width: 100%;
	height: 100%;
margin: 0; 
	padding: 0;
}

/* Header */

#header {
	width: 850px;
	margin: 0 auto;
	height: 60px;
}

/* Menu */

#menu {
	float: right;
	width: 850px;
	color: #FFFFFF;
    padding: 5px;
    margin-bottom:9px;
}

#menu a {
	text-decoration: underline;
	font-size: 11px;
	color: #FFFFFF;
}

#menu a:hover { 
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
	color: #FFFFFF;
}

/** LOGO */

#logo {
	width: 430px; float: right; margin:0; padding: 10px 40px 10px 10px;
    background: #F3F3F3 url(images/div-header.jpg) repeat-x; 
	-moz-border-radius-topleft: 50px;-webkit-border-top-left-radius: 50px;
	}

#logo a {
	margin: 0;padding: 0px;	line-height: normal;
	text-decoration: none;color: #28313A; }

#logo a:hover { 
	background: transparent; text-decoration: underline; }

.clr {clear: both;overflow:hidden;height:0;}
	
#topnav_box {width: 100%;height: 33px;margin:0;background: #FFA63C;text-align: center;float: left;padding:5px 0 5px 0;border-top:1px solid #FF7B00;border-bottom:1px solid #FF7B00;}
#topnav {width: 850px;font-size: 11px;text-align: right;margin: auto}
#topnav ul li {display: block;list-style-type: none;font-size: 11px;float: right;margin: 2px 0 2px 20px;text-align: center}
#topnav ul li a {display: block; color: #363636;padding:2px 15px;text-align: center; -moz-border-radius: 5px;-webkit-border-radius:5px}
#topnav ul li.special a {background-color:#848282; color:#fff}
#topnav ul li.special a:hover {background-color: #444;color: white}
#topnav ul li.special a:active {background: #fff; color:#547DA3}
#topnav ul li a:hover {background-color: #FFF1E6; color: #B15500; text-decoration: none}
#topnav ul li a:active {background: #fff}



#sidebar {float: right;width: 240px; margin:0;padding:10px;}
#sidebar li {margin-bottom: 0px;}
#sidebar ul {	margin: 0;padding: 0;list-style: none;}
#sidebar li li {margin: 0;}
#sidebar h2 {width: 250px;padding: 8px 0 0 0px;margin-bottom: 10px;background: url(images/img07.jpg) no-repeat left top;	font-size: 20px;color: #28313A; }


/* Page */
#page {
	width: 850px;
	margin: 0 auto;
}

/* Content */

#content {
	float: left;
	width: 580px;
	border-right: 1px dashed #DFE1E0;
}




/* Footer */
#footer-wrap {
}

#footer {
	padding: 4px;
	width: 850px;
	margin: 0 auto;
	text-align: center;
}

html>body #footer {
	height: auto;
}

#footer p {
	font-size: 12px;
}

/* Option to control panel */
#adminPan{float:left;width:250px; height:60px;  position:absolute; left:15px; bottom:30px; margin:0 auto; padding:0;}
#adminlink{ float:left; width:237px; height:62px; position:relative; margin:13px 0 0 0; background:url(images/icon2-nor.gif) 0 0 no-repeat;}
#adminlink h2{width:90px; height:10px; display:block; position:absolute; left:114px; top:0px; margin:14px 0 5px 0px; font:bold 16px/14px arial, "Times New Roman", Times, serif; color:#666; z-index:1; text-transform:uppercase;}
#adminlink p{width:130px; height:10px; display:block; position:absolute; font: bold 11px tahoma,verdana,arial,sans-serif; color:#2E5000; margin:34px 41px 0 0px; z-index:1; }
#adminlink a{text-decoration:none; display:block; width:237px; height:62px;}
#adminlink a:hover{ border: 1px solid #999999;cursor: pointer;text-decoration:none; background:url(images/icon2-hover.gif) no-repeat 0 0;}


/* box for some info */
input {
        font-weight: normal;
        vertical-align: middle;
        padding: 0 3px;
        font-size: 1.2em;
        font-family: Tahoma, Helvetica, Arial, sans-serif;
        border: 1px solid #BCBCBC;
        background-position: 0 100%;
        color: #666666;
}
select {
        font-family: Tahoma, Helvetica, Arial, sans-serif;
        font-weight: normal;
        cursor: pointer;
        vertical-align: middle;
        border: 1px solid #666666;
        padding: 1px;
        background-color: #FAFAFA;
}

.err {
        padding: 5px;
        background-color: #FFEBE9;
        border: 1.5px solid #DD3F0E;
        margin: 10px 10px;
        font-size: 13px;
        font-family: "Tahoma", Times, serif;
}
.info {
        padding: 5px;
        background-color: #FFFFE6;
        border: 1.5px solid #E2EE0B;
        margin: 10px 10px;
        font-size: 13px;
        font-family: "Tahoma", Times, serif;
}
.result {
        padding: 5px;
        background-color: #FFFFE6;
        border: 1.5px solid #E2EE0B;
        margin: 10px 10px;
        font-size: 13px;
        font-family: "Tahoma", Times, serif;
}

/* box for some info */
.daaf {
        background-color: #FFFFD7;
        border: 2px solid #999999;
        padding: 5px;
        margin:0 auto;
        line-height: 1.5em;
        overflow: hidden;
        width:60%
}
option {
        padding-right: 1em;
}
textarea {
        font-family: "Tahoma", Verdana, Helvetica, Arial, sans-serif;
        width: 60%;
        padding: 2px;
        font-size: 1em;
        line-height: 1.4em;
}
/*
dont remove it  start
*/
div#loadbox {
        padding: 10px;
        display: none;
}
div#texttype {
        display: none;
}

h2 { 
        font-family: "Tahoma", Arial, Helvetica, sans-serif;
        font-weight: normal;
        color: #3B6EBF; 
    font-size: 1.4em;
        margin: 0.8em 0 0.2em 0;
        
        }

/*boxes after uploading : see kljuploder.php for more details*/
/*all boxes will take this class*/
.all_boxes{
	width: 400px;
	height: 50px;
}
/* delete code box */
.del_box {

}
/* thumb box */
.thumb_box {

}
/* image link box */
.img_box {

}
/* image bbcode box */
.img_bbc_box {

}
/* file link box */
.file_box {

}
/* file bbcode box */
.file_bbc_box {

}

/*thumb after uploading <img>, and <div> tags*/
.thumb_img_tag{
	width:100px; 
	height:100px
}
.thumb_div_tag {
	text-align:center;
}

