/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/

*{margin:0;padding:0;}

/* start site name and titles all */
.title-x {background:url(../images/headline_bg.png) repeat-x top right;}
/* # END site name and titles all */

/*  right menu */
#right_menu .list span{background:#6B6B6B url(../images/menuright-top.png) no-repeat;height:18px;}
#right_menu .list b{background:#6B6B6B url(../images/menuightbottom.png) no-repeat;height:12px;}
#right_menu .list a:hover{background:#B2B2B2 url(../images/rigtmenu.png) repeat;}
/* #  right menu */

/*  START FOR ONLINE */
.onlineall ,.onlinevisitor ,.onlineusers {float:right;margin-left:4px;margin-right:4px;}
/*  #  END FOR ONLINE */

/**  start The main menu at the top **/        
#top_menu  .m3nu {margin-right:auto;margin-left:auto;}
#top_menu  ul.m3nu li {margin-right:5px;}
#top_menu  ul.m3nu li a {padding-top:8px;padding-right:15px}
#top_menu  ul.m3nu li a.current{padding-top:12px;padding-right:15px}
/** # End The main menu at the top **/        

/* start index body  >> index_body.html  */
#index_body{background:url(../images/indexbody.png) no-repeat left top;}
.agree{text-align:right;}
.bn_up  input{margin-right:20px;}
/* tabs */
.tabbertab {width:74%;border:0px solid #aaa;}
ul.tabbernav li a{padding-top:5px;padding-bottom:5px;padding-right:14px;padding-left:14px; margin-left:5px;border:0px}
ul.tabbernav li a:hover{padding-top:5px;padding-bottom:5px;padding-right:14px;padding-left:14px;text-decoration:none;}
ul.tabbernav li.tabberactive a{padding-top:5px;padding-bottom:5px;padding-right:14px;padding-left:14px;}
ul.tabbernav li.tabberactive a:hover{text-decoration:none;}
/* # tabs  */

/* divx */
#divx {position:absolute;right:90px;bottom:100px;background-color:#C8C8C8;}
/* #  divx */

/* ALL buttons */
#buttons ,.buttons{background:#FFA500 url(../images/headlinebg.png) repeat-x top right;padding:4px 10px;}
/* ## ALL buttons */

/* start Downlod template >> download.html */
#data_file {background:#DFDFDF}
#data_file ul.data_menu li {background:#E6E7FF;}
#data_file_down {background:#DFDFDF;}
#download a {margin:10px auto;height:16px;padding:5px 30px;}
/* # End Downlod template >> download.html */

/* back password template >> get_pass.html */
#bg_get_password{background:#FAF8EA url(../images/getpassword.png) no-repeat 15% 50%}
/* # back password template >> get_pass.html */

/* register template >> register.html */
.reg_table{background:#F0F3F9 url(../images/regiser.png) no-repeat 15% 50%;}
/*#  register template >> register.html */

/* login template >> login.html */
#bg_log1n{background:#F9F1EC url(../images/logn.png) no-repeat 10% 50%;}
/* # login template >> login.html  */

/* pagination */
.pagination {padding:6px;}
.paging {background:#C8C8C8 url(../images/headlinebg.png) repeat-x center right;margin:0 2px;padding:3px 6px;}
.here_page {background:#FFF8C6 url(../images/headlinebg.png) repeat-x center right;margin:0 2px;padding:3px 6px; }
.here_page ,.paging:hover{background:#FFF8C6 url(../images/headlinebg.png) repeat-x center right;}
/* pagination */

/*-- start user control panel  Files  >> filecp.html  */
.file_cp thead th{background:#F68618 url(../images/headlinebg.png) repeat-x center right;}
/*-- # end  user control panel  Files  >> filecp.html  */

/*-- start  box user name and all files  >> fileuser.html  */
#boxfileuser ,#filecplink {background:#fff;}
#boxfileuser  .box_user,#boxfileuser  .us3r_n4me {background:#DFDFDF url(../images/imguser.png) no-repeat 96% 50%;}
#boxfileuser  .us3r_n4me {background:#DFDFDF url(../images/boxfileuser.png) no-repeat 96% 50%;}
#boxfileuser  .public {background:#EDF1F8}
#filecplink {height:100%;}
.tabledata thead th {background:#F68618 url(../images/headine_bg.png) repeat-x center right;}
/*-- #  end box user name and all files  >> fileuser.html  */

.left_button{padding:5px;}

/* template list of files allowed > guide.html */
.guide_user_th  {background:#669933 url(../images/headine_bg.png) repeat-x top right;}
.guide_visitor_th {background:#A71515 url(../images/headine_bg.png) repeat-x top right}
.user_ext{background:#F2F9F0 url(../images/headlne_bg.png) repeat-x top right}
.visitor_ext{background:#FDEEEF url(../images/headlie_bg.png) repeat-x top right;}
/* #  template list of files allowed > guide.html */

/* call and file report templates */
.call{background:#F0F3F9 url(../images/cal.png) no-repeat 10% 50%}
.rebort{background:#F3F1E2 url(../images/file_rbort.png) no-repeat 10% 50%;}
/* # call and file report templates */     

/* stats template >> stats.html */
#stats  {background:url(../images/sats.png) no-repeat 2% 35%;}
/* #  stats template >> stats.html  */

/*-- start Profile template >> profile.html  */
#profile .boxdata .tit{background:#F68618 url(../images/hedline_bg.png) repeat-x top right;}
#profile .boxdata .bq {line-height:16px;padding:1px 5px;}
#profile .boxdata .in{line-height:16px;padding:1px 5px;margin-right:10px;}
/*-- End Profile template >> profile.html   */

.all_boxes textarea{margin-top:10px;padding:5px; }
