.guide_user_th  {background:#bbb url(../images/headinebg.png) repeat-x top right;}
.guide_visitor_th {background:#FF7B00 url(../images/headinebg.png) repeat-x top right}
.user_ext{background:#E8E8E8 url(../images/headlnebg.png) repeat-x top right}
.visitor_ext{background:#FDF8EE url(../images/headliebg.png) repeat-x top right;}
#content_index_body,#content  {width:68%}
.tabledata thead th {background:#F68618 url(../images/headinebg.png) repeat-x center right;}
.tabbertab {border:0px;}ul.tabbernav li a{border:0px}
input  {
	font-family: "Tahoma", Arial, Verdana, sans-serif, Lucida Grande, Lucida Sans Unicode;
	font-weight:normal;
	font-size:12px;
}