/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/
option {padding-left: 1em;}
caption, th, td {text-align:left}
img.left {float:right;margin-left:15px;}
img.right {float:left;margin-right:15px;}
.line {background-position:left top}
.title-x {float:left}
.safe_code {background:#F9F5F0 url(../images/saf3_code_ltr.gif) no-repeat 100% 50%;}
#top_menu {background-position:top right;}
#top_menu  ul.m3nu li {float: left}
#top_menu  ul.m3nu li a {float: right}
#content {float:right}
#right_menu{float:left}
#right_menu .list{margin-left:4px;margin-right:16px;}
#right_menu .list img{padding-left:5px;}
#system-message dd.info  ul li ,#system-message dd.error ul li{background-position:left top;}
#data_file {float:left}
#data_file_down {float:right}
#stats  {background-position:90% 50%;}
#content_index_body  {float:right}
#index_body{background-position:right top;}
.bn_up {margin-right:4px;margin-left:10px;}
.tabbertab {-moz-border-radius-topleft:0px;-webkit-border-topleft-radius:0px;-moz-border-radius-topright:10px;-webkit-border-topright-radius:10px;}
ul.tabbernav li a{margin-left:0px;margin-right:5px;}
.online{float:left}
.onlineall ,.onlinevisitor ,.onlineusers {float:left;margin-right:3px;margin-left:0px;}
.onlineall  {background-position:2% 50%;padding-left:20px;padding-right:10px;}
.name_users{float:left;}
.here_page ,.paging {float:left}
#bg_log1n{background-position:90% 50%;text-align:left}
#login .login {width:300px;float:left;}
#login .username,#login .password{background-position:99% 50%; padding-right:20px;padding-left:2px;}
#boxfileuser  .box_user,#boxfileuser  .us3r_n4me {background-position:4% 50%}
#boxfileuser  .box_user {float:left}
#boxfileuser  .us3r_n4me {background-position:4% 50%;float:right;}
#boxfileuser  .public {margin:5px 15px 5px auto}
#filecplink  .copylink {float:left}
.tabledata .odd  {text-align:left}
.reg_table {background-position:85% 50%}
#bg_get_password{background-position:85% 50%}
.call{background-position:90% 50%}
.rebort{background-position:90% 50%}
#profile .boxdata{float:left}
#profile .boxdata .in{margin-right:0%;margin-left:8%;}
.file_cp {background-position:75% 45%}
.left_button{float:right}
.file_cp  .odd  ,.file_cp  .nbr {text-align:left}
.user_img img{padding-left:0px;padding-right:5px}
.visitor_img img{padding-left:0px;padding-right:5px}
.index_info ,.index_err {background-position:1% 2%}
#footerlinksleft ul{width:22%;float:right;line-height:20px;}
#footer .Copyrights {float:left;}
.admin_cp_link span{float:left;padding:7px 30px;}
.wait {font-size:250%}