/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/
/* remember to define focus styles! */
html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td 
{margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;}
* {padding: 0; margin: 0;} 
body { background:#C8C8C8 url(../images/body.png) top center no-repeat fixed;font: bold 11px Tahoma, Arial, Helvetica, sans-serif;text-align: justify;color: #5C5C5C;line-height: 1;}
h1, h2, h3 {	margin: 0;text-transform:lowercase;font-weight: normal;color: #FFFFFF;}
h1 {	letter-spacing: -1px; font-size: 32px;}
h2 {font-size: 14px; font-weight: bold; color:#BE1111; text-shadow: 0px 1px rgb(247, 247, 247);margin: 5px 0}
p, ul, ol { margin: 0; text-align: justify; line-height: 26px;list-style: none;}
a:link, body_alink {color: #666;text-decoration: none;padding:2px;}
a:visited, body_avisited {color: #666;	text-decoration: none;padding:2px;}
a:hover, a:active, body_ahover {color:#D2691E;text-decoration:underline;padding:2px;}
input:focus, textarea:focus {background-color: #ffd ;border: 1px solid #D26900;}
option {padding-right: 1em;}
textarea { width: 60%;padding: 2px;font-size: 1em;line-height: 1.4em;}
input {font-weight: normal; vertical-align: middle; padding: 0 3px;font-size: 1.2em;outline:1px solid #ccc;
        border: 1px solid #BCBCBC;  background-position: 0 100%;color: #111;}
select {font-weight: normal;cursor: pointer;
        vertical-align: middle;border: 1px solid #666666;padding: 1px;background-color: #FAFAFA;}
img {border: none;}
form { margin: 0;	padding: 0;}
input, textarea, select {font-size: 13px;	color: #333333;}
:focus {	outline: 0;}

table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: right;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}