/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/

img.left {float: left;margin-right:15px;}
img.right {float: right;margin-left:15px;}

/* clear */
.clr {clear:both;overflow:hidden;height:0;}

/* line dot */
.dot {padding:5px 0;background: url(../images/dot.gif) repeat-x;}

/* line */
.line {background:url(../images/line.png) repeat-x right top;height:6px;margin:1px 1px 7px 1px}

/* start site name and titles all */
.title-x {float:right;width:98%;background:url(../images/headline_bg.png) repeat-x top right;padding:10px 6px;}
.title-x strong{padding:10px 6px;font-size:12px;color:#333;text-shadow: 0px 1px rgb(247, 247, 247);}
.title-x a {color:#C95A12;}
.title-x a:hover {color:#000;background:transparent;}
/* # END site name and titles all */

/* safe code all box */
.safe_code {width:60%;margin:5px 0;padding:10px;border: 2px solid #B7D1A8;background:#F1F8ED url(../images/saf3_code01.png) no-repeat 8px 12px ;}
.safe_code b  {padding-right:4px;color:#408000}
.safe_code input  {padding:2px;height:18px;}
.explain {font-size:xx-small;font-style:italic;}
/* # end safe code all box */

/** LOGO */
#logobody {width:90%;margin:0 auto;}
.logo {width:500px;height:84px;margin:2px 0;}
.logo a:link ,.logo a:visited ,.logo a:hover ,.logo a:active {background-color: transparent;}
/* #  LOGO */

/**  start The main menu at the top **/	
#top_menu {width: 100%;height: 43px;background: url(../images/menu-bg.gif) repeat-x top left;margin-top:5px}
#top_menu  .m3nu {width: 80%;height: 43px;font-size: 12px;font-weight: bold;list-style-type: none;margin: 0 auto;}
#top_menu  ul.m3nu li {display: block;float: right;margin:0 5px 0 0;}
#top_menu  ul.m3nu li a {height: 43px;color: #777;text-decoration: none;	display: block;float: left;padding: 8px 15px 0;}
#top_menu  ul.m3nu li a:hover {color: #333;background: url(../images/current-bg.gif) top left repeat-x;}
#top_menu  ul.m3nu li a.current{color: #FFF;background: url(../images/current-bg.gif) top left repeat-x;padding:5px 15px;}
/** # End The main menu at the top **/	

/*  wrapper body */
#wrapper {width:90%;height:100%;margin:10px auto 4px auto;}
/*  # end wrapper body */

/* box  ALL templates  */
#content {float: left;width: 70%;padding:10px 30px;margin:10px auto 20px auto;color:#444;background-color:#E8E8E8;border:1px solid #F5F5F5;-moz-border-radius:8px;border-radius:1px;}
/* # end box  ALL templates  */

/* System Messages body */
#system-message  { margin: 10px 0;}
#system-message dd {font-weight: bold; text-indent: 35px; }
#system-message dd.info ul ,#system-message dd.error ul,#system-message dd.info_f ul {list-style: none;padding:5px 10px;}
#system-message dd.info ul {border-top: 3px solid #FEA53D;border-bottom: 3px solid #FEA53D;background-color: #EFE7B8;}
#system-message dd.info  ul li {color: #444;background: url(../images/info.png) no-repeat right top;padding:5px}
#system-message dd.error ul {background-color: #E6C0C0;border-top: 3px solid #DE7A7B;border-bottom: 3px solid #DE7A7B;}
#system-message dd.error ul li{color:#c00;background: url(../images/error.png) no-repeat right top;padding:5px}
#system-message dd.info_f ul {width:74%;border-top: 3px solid #4277B7;border-bottom: 3px solid #4277B7;background-color:#C0D2E8;}
#system-message dd.info_f ul li {color:#07387A;background:url(../images/info_f.png) no-repeat top right;padding:5px}
#system-message dd.error ul li a:hover,#system-message dd.info ul li a:hover,#system-message dd.info_f ul li a:hover{color:#000;background:transparent;text-decoration:underline;}
/* ##  End  System Messages */

/*  right menu */
#right_menu{width:10%;float:right;padding:5px;}
#right_menu .list{margin-left:16px;width: 180px;}
#right_menu .list ul{list-style-type: none;}
#right_menu .list span{background:url(../images/menu-right-top.png) no-repeat;height:36px;width:160px;display:block;color:#000;padding:0px 10px;line-height:35px;font-weight:bold;text-align:left;border-bottom: 1px solid #666;}
#right_menu .list b{background:url(../images/menu_right_bottom.png) no-repeat;height:37px;width:160px;display:block;padding:0px 10px;font-weight:bold;color: #F1F7E1;}
#right_menu .list img{padding:0px 0px 0px 5px;}
#right_menu .list a{background-color:#767676;font: bold 11px tahoma;padding: 5px 10px;display: block;width:160px;color:#fff;text-decoration:none;border-bottom: 1px solid #666;}
#right_menu .list a:hover{color: #111;background:#767676 url(../images/right_menu.png) repeat;}
#right_menu .list a:active {background:#fff}
/* #  right menu */

/* extras  header and  footer template */
#extras_header,#extras_footer {width:100%;margin:8px auto;padding:10px;text-align:center;}
/*# END extras  header and  footer template */

/* fixed */
#fixed {background:#C8C8C8;position:fixed;left:5%;bottom:1%;text-align: left;color:#898989);text-shadow: 0px 1px rgb(247, 247, 247)}
#fixed a,#fixed a:link{color:#CF6600;}
#fixed a:hover{color:#000;background:transparent;}
/* #  fixed */

/* start Downlod template >> download.html */
#file-info {height:220px;margin:5px auto;}
#data_file {float:right;width:50%;margin-left:10px;}
#data_file .data_file p {color:#F0502E;font-size:26px;}
#data_file .t {color:#555;background:#ccc;font-size:12px;text-align:center;border:1px solid #f2f2f2;border-right:5px solid #CCC;border-left:5px solid #CCC;margin-top:10px;padding:2px 5px;}
#data_file .nup {font-size:18px}
#data_file ul.data_menu {list-style:none;margin:0;}
#data_file ul.data_menu li {margin-bottom:1px;border:1px solid #f2f2f2;display:block;font-weight:700;color:#333;text-decoration:none;background:#f2f2f2;border-right:5px solid #CCC;padding:2px 5px 2px 10px;}
#data_file ul.data_menu li b {color:#040476;}
#data_file_down {width:45%;float:left;}
#data_file_down .find_x,#data_file_down .find_image {color:#2B8800;font-size:22px;text-align:center;}
.fileReport {text-align:center;border-top:2px solid #CFCFCF;border-bottom:2px solid #CFCFCF;cursor:pointer;background-color:#E2E2E2;margin:10px auto;padding:3px 10px;}
.fileReport a {color:#111;font-size:110%;}
.fileReport a:hover,.fileReport:hover {background-color:#C7C7C7;color:#111;}
.fileReport:hover {border-top:2px solid #999;border-bottom:2px solid #999;}
.wait {color:#F04C2D;font-size:300%;font-weight:700;padding:5px 10px;}
#download {text-align:center;height:50px;margin:12px auto;}
#download a {background:#FEC008 url(../images/bg_download.png) repeat-x top right;border-top:3px solid #9B7500;border-bottom:3px solid #9B7500;color:#9B7500;font-size:100%;font-weight:700;padding:20px;}
#download a:hover {background:#FFD65D;color:#000;}
/* # End Downlod template >> download.html */

/* stats template >> stats.html */
#stats  {margin:10px 20px;font-size:11px;font-weight:700;background:url(../images/stats.png) no-repeat 1% 20%;}
#stats ul {list-style:circle;list-style-position:outside}
#stats  ul li b{color:#A24000;padding:1px}
#stats .st i{font-size:12px;font-weight:700;padding:4px 8px;color: #999;border-bottom:1px solid #999;}
/* #  stats template >> stats.html  */

/* start index body  >> index_body.html  */
#content_index_body  {float: left;width: 70%;padding:5px 30px;}
#index_body{background:url(../images/index_body.png) no-repeat left top;}
.wolcome_msg {width:70%;font-size:10px;}
.siten4me{font-size:14px;padding:3px 6px;color:#999}
.agree{font-size:xx-small;padding:3px 6px;}
.zx,.zl {cursor:pointer;padding:4px;}
.zx a:hover,.zl a:hover {background-color:transparent;border-right:1px solid #F5F5F5;border-left:1px solid #F5F5F5;}

/*  START FOR ONLINE */
.online{width:100%;float: right;padding:4px 0;margin-bottom:3px;}
.number_online_all ,.online_visitor ,.online_users {display:inline;color:#F9F9F9;padding:5px 12px;border:1px solid #E2E2E2;-moz-border-radius:6px;}
.number_online_all span,
.online_users span,
.online_visitor span {font:bold 12px sans-serif,Helvetica,Tahoma,  Arial, sans-serif;color:#eee;}	
.number_online_all  {background:#D2534B url(../images/number_online_all.gif) no-repeat right center;}
.online_visitor{background:#958853 url(../images/online_visitor.gif) no-repeat right center;}
.online_users{background:#92A5C4 url(../images/online_users.gif) no-repeat right center;}
.name_users{margin-bottom:7px;display:block;background:#92A5C4;float: right;color:#fff;padding:3px 12px;border:1px solid #E2E2E2;-moz-border-radius:6px;}
/*  #  END FOR ONLINE */

/* tabs */
.tabber {width:100%}
.tabberlive {margin-top:2px;margin-bottom:2px;}
.tabberlive .tabbertabhide {display:none;}
.tabbertab {width:70%;height:100%;padding:20px;background:#D5DFF4 url(../images/bg_tabbertab_1.png) repeat-x top left;border:1px solid #aaa;-moz-border-radius-bottomleft: 10px;-webkit-border-bottom-left-radius: 10px;-moz-border-radius-bottomright: 10px;-webkit-border-bottom-right-radius: 10px;}
.bg {background:#fff url(../images/bg_tabbertab.png) repeat-x top left;}
ul.tabbernav{ padding:5px 0; font: bold 11px tahoma, sans-serif;}
ul.tabbernav li{ list-style: none; display: inline;}
ul.tabbernav li a{ padding:5px 14px; margin-left: 5px; border: 1px solid #aaa;background:#999;text-decoration: none;-moz-border-radius-topleft: 10px;-webkit-border-top-left-radius: 10px;	-moz-border-radius-topright: 10px;-webkit-border-top-right-radius: 10px;}
ul.tabbernav li a:link {color:#555;}
ul.tabbernav li a:hover{color:#111;background:#aaa;}
ul.tabbernav li.tabberactive a{ padding:5px 14px;border-bottom: 1px solid #E8E8E8;background-color:#E8E8E8;}
ul.tabbernav li.tabberactive a:link{color: #999;}
ul.tabbernav li.tabberactive a:hover{color: #222;}
/* # tabs  */

/*  ALL inputs */
.input_link,.input_field,.input_num   {background: #FFFFFF url(../css/images/input_bg.gif) repeat-x;border: 1px solid #B3B9C4;font:normal 12px tahoma, Helvetica,  sans-serif;}
.input_link {padding:2px 4px;}
.input_field {height:18px;padding:4px 2px 0 2px;outline:1px solid #bbb;}
.input_num {	padding:2px;}
.input_field:focus, .input_field:hover ,
.input_link:focus, .input_link:hover{border: 1px solid #7E8993;background-color:#ffd;}
/* ALL inputs */

/* ALL buttons */
#buttons ,.buttons{cursor: pointer;padding:4px 20px;font: normal 12px Tahoma, Helvetica, Arial, sans-serif;background:#E5E5E5 url(../images/headline_bg.png) repeat-x top right;color:#111;border:1px solid #999;-moz-border-radius:10px;}
#buttons{margin-top:10px;}.buttons {margin-top:2px;}
#buttons:hover ,.buttons:hover{background:#B0B1B1;color: #111;border:1px solid #666;}
/* ## ALL buttons */

/* pagination */
.pagination {margin:8px 0;float:right;}
.pagination  a{padding:3px 9px;color: #2B2B2B;}
.paging {background:#C8C8C8;-moz-border-radius-topleft: 10px;-webkit-border-top-left-radius: 10px;-moz-border-radius-bottomright: 10px;-webkit-border-bottom-right-radius: 10px;border: 1px solid #2B2B2B;font-size: 10px;text-align:center;}
.here_page ,.paging:hover{padding:3px 9px;border: 1px solid #2B2B2B; font-size: 10px;color:#2B2B2B;background:#FFBA00;text-align:center;}
/* ## pagination */

/* footer template */
#footer{ width: 100%;margin:2px auto;}
#footerlinksleft ul{width:350px;float:left;}
#footerlinksleft li{float:left;font-size:11px; font-weight:normal;}
#footerlinksleft ul li a{padding:2px 4px; color:#5C5C5C; }
#footerlinksleft ul li a:hover,#footer .Copyrights  a:hover,#footer .page_stats a:hover{background:#787878;color:#fff;-moz-border-radius:4px;}
#footer .Copyrights {float:right;padding:3px 0;color:#666;}
#footer .page_stats { margin-top:10px;margin-bottom:24px;float:left;color:#999;}
#footer .googleanalytics {margin-top:10px;margin-bottom:24px;padding:10px; text-align:center;}

/*start Option to control panel */
#adminPan{margin:10px 0;float:right;cursor:pointer;}
#adminPan p {background:url(../images/adminPan.gif) no-repeat center left;padding:2px 50px;-moz-border-radius:8px;font-size:12px; font-weight:bold; border:1px solid #858585;}
#adminPan a {color:#2B2B2B;}
#adminPan a:hover  {color:#A80000;background-color:transparent;}
/* # footer template */

/* login template >> login.html */
#bg_log1n{float:right;width: 40%;padding:10px 30px;margin:1% 12% 2% 2%;color:#444;background:#E8E8E8 url(../images/get_password.png) no-repeat 10% 50%;border:1px solid #F5F5F5;-moz-border-radius: 8px;border-radius:1px;}
#login {	float: right;width: 220px;}
#login label {display: block;margin-bottom: 2px;}
#login a {color:#C03C2D;font-size: 12px;padding: 3px 6px;}
#login .title_login {background:#fff;color:#D80505;width: 200px;padding:2px 5px;}
#login .username,#login .password{padding-left:20px;padding-top:2px;height:18px;width:180px;font-size: 12px;}
#login  .username{background:#fff url(../images/username.gif) no-repeat 1px 2px;}
#login  .password{background:#fff url(../images/password.gif) no-repeat 1px 2px;}
#login  .forget_pass  { background:#E0E0E0;float:left;margin:5px 0 0 10px; color:#C03C2D;}
#login  .forget_pass a:hover {color:#FF2020;background-color:transparent;}	
#login  .remme{background:#FFBA00;color: #000;border: 1px solid #999;font:normal 9px Tahoma, Helvetica, Arial, sans-serif;}
#login .remme option{background: #FFBA00;color: #000;}
/* # login template >> login.html  */

/* captcha stuff*/
#kleeja_img_captcha {cursor:pointer;}
/* # captcha stuff*/

/* register template >> register.html */
#register{background:url(../images/register.png) no-repeat 10% 24%;}
.reg_table{background:#EDF0F8;border:2px solid #CDDFFF;margin:5px 0;padding:10px;width:60%;}
.reg_table td,.box_rebort td{width:130px;padding-bottom:5px;}
.reg_table td input,.box_rebort td input  {width:180px;}
/*#  register template >> register.html */

/* back password template >> get_pass.html */
#bg_get_password{background:url(../images/get_password.png) no-repeat 10% 50%;}
.get_pass{color:#BF0000;margin-bottom:10px;}
/* # back password template >> get_pass.html */

/* template list of files allowed > guide.html */
table.guide_user {width:49%;margin-left:10px;float:right;background-color:#CECECE;border:1px solid #767676;}
table.guide_user th ,table.guide_visitor th{padding:10px 15px;font-size:13px;font-weight:700;text-align:center;color:#eee;}
table.guide_user th {background:#767676 url(../images/headline_bg.png) repeat-x top right}
table.guide_user td,table.guide_visitor td {padding:10px;}
table.guide_visitor {width:49%;background-color:#E2BABB;border: 1px double #800000;}
table.guide_visitor th {background:#A71515 url(../images/headline_bg.png) repeat-x top right}


.user_box{padding:10px;margin:4px;background-color:#DDD;border:1px double gray;-moz-border-radius:9px;}
.user_img,.user_n4me{display:block;font-size:12px;font-weight:700;color:#111;padding:5px 10px;border-bottom:1px solid #BBB;background:url(../images/headline_bg.png) repeat-x top right}
.user_n4me{display:inline;}
.user_img img{padding-left:10px}
.user_ext{padding:4px 8px;background:#E8E8E8 url(../images/headline_bg.png) repeat-x top right;margin:2px 0;border-bottom: 1px solid #bbb;}
.user_ext_color{font:bold 14px tahoma, sans-serif;color:#004000;margin:2px;}
.user_ext_lang{font:normal 12px tahoma, sans-serif;color:#000;margin:2px;}
.visitor_box{background-color:#FDEEEF}
.visitor_img{color:#8C0000;border-bottom: 1px solid #BBB;}
.visitor_ext{background:#fff url(../images/headline_bg.png) repeat-x top right;}
.visitor_ext_color{color:#E10000;}
.visitor_ext_lang{color:#000;}
/* #  template list of files allowed > guide.html */

/* call and file report templates */
.call {margin:10px; background:url(../images/call.png) no-repeat 10% 10%;}
.call label ,.rebort label {display:block;font-weight:bold;margin:5px 0;}
.call input ,.rebort input {padding: 2px;border:1px solid #999;font: bold 12px tahoma, Verdana, sans-serif;color:#666;}
.call textarea,.rebort textarea {width:300px;padding:2px;font: bold 12px tahoma, Verdana, sans-serif;border:1px solid #999;height:100px;display:block;color:#666;}
.rebort  {margin:10px; background:url(../images/file_rebort.png) no-repeat 10% 10%;}	
.box_rebort{background:#EDF1F8;border:2px solid #CDDFFF;margin:5px 0;padding:10px;width:60%;}
.urlcolor{background:#FFCDCD}
/* # call and file report templates */	

/*-- start Profile template >> profile.html  */
#profile  select,#profile  option{background:#FED300;color: #000;font: bold 12px Tahoma, Helvetica, Arial, sans-serif;}
#profile .boxdata{float:right;width:31%;height:200px;border:1px solid #D6D6D6;background-color:#DDD;margin:2px 10px 2px 0}
#profile p  {padding:2px;text-align:center;}
#profile .tit{background:#F68618 url(../images/headline_bg.png) repeat-x top right;padding:10px;margin:1px;font: bold 12px tahoma, sans-serif;color:#111;text-align:center;}
#profile p.bq {color:#111;line-height:26px;padding:0 5px;}
#profile .in{color:#111;line-height:26px;padding:2px 5px;margin-right:12px;}
#profile p.biguser {color:#D61B1B;line-height:30px;padding:5px;font: bold 18px tahoma, sans-serif;text-align:center;}
.buttons_center {line-height:24px;padding:5px;text-align:center;margin:3px auto;}
/*-- End Profile template >> profile.html   */

.left_button{float:left;margin:2px 0}

.userdata {
	border: 1px solid #999; 
	background-color: #D4D0C8; 
	color: #000;width:100%;
}
 
.userdata td,.userdata th { 
padding:5px 8px;
white-space: pre-wrap
}

.userdata caption {
	text-transform: uppercase;
	text-align:center;  
	font: bold 12pt Verdana;
	color: #4F4F4F;
	margin: 3px 0;
}

/* =links
----------------------------------------------- */
.userdata table a { color:maroon; text-decoration: none;}
.userdata table a:link {color:maroon;}
.userdata table a:visited { color: maroon;}
.userdata table a:hover {color:chocolate;}

/* thead tbody tfoot
----------------------------------------------- */

.userdata thead th,
.userdata tfoot th,
.userdata tfoot td ,
.userdata tbody th,
.userdata tbody td {
	color: #000; 
	font: 8pt Verdana; 
	border-right: 1px solid #aaa; 
	border-top: 1px solid #eee; 
	border-left:1px solid #eee; 
	border-bottom: 1px solid #aaa; 
	text-align:center 
}

.userdata thead th,
.userdata tfoot th,
.userdata tfoot td { background-color: #ccc; font-weight: bold; text-align:center; }
.userdata tfoot td { text-align:center }
.userdata tbody th { white-space: nowrap; font-weight: bold; text-align:left; }


/* Visual and hover effects */
.userdata tbody {background:url(../images/file_rebort.png) no-repeat 10% 10%; text-align:right}
.userdata tbody  .odd  {text-align:right}

.userdata tbody tr:hover td{
	background-color: silver;
	border-right: 1px solid #eee; 
	border-top: 1px solid #999; 
	border-left: 1px solid #999; 
	border-bottom: 1px solid #eee; 
	background-color: #e4e0d8;
}






div#loadbox {padding:10px;display: none;}


#usercp {padding:10px;}
#usercp .daaf{background:#EDF8F4;padding:10px;border:2px solid #CDDFFF;width:50%;height:45px;-moz-border-radius-topleft: 10px;-webkit-border-top-left-radius: 10px;-moz-border-radius-topright: 10px;-webkit-border-top-right-radius: 10px;}
#usercp .uname{color:#006CD8;padding-right:80px;padding-left:10px;padding-top:10px; font: bold 22px tahoma,Verdana, Helvetica, sans-serif;text-shadow: 0px 1px rgb(247, 247, 247);}
#usercp  .copylink{background:#EDF0F8;font: bold 11px tahoma,Verdana, Helvetica, sans-serif;color:#1A6AF8;padding:4px 40px;}
.usercp {background:#F8F4ED;padding:10px;border:1px solid #FFECCD}
 







#filecp td{padding:5px;border-bottom:1px solid #ddd;}

