/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/

img.left {float: left;margin-right:15px;}
img.right {float: right;	margin-left:15px;}

/** LOGO */
.clr {clear: both;overflow:hidden;height:0;}

/** line dot */
.dot {padding:5px 0;	background: url(../images/dot.gif) repeat-x;}

/** line */
.line {background:url(../images/line.png) repeat-x right top;height:6px;	margin:3px auto;}

/** LOGO */
#logobody {width: 90%;margin:0 auto;	padding:0;}
#logobody .logo {width: 50%;padding: 10px 40px 10px 10px;}
#logobody .logo a:link ,.logo a:visited ,.logo a:hover ,.logo a:active {	background-color: transparent;}
/* #  LOGO */

/**  start The main menu at the top **/	
#top_menu {width: 100%;height: 43px;	background: url(../images/menu-bg.gif) top left repeat-x;}
#top_menu  .m3nu {width: 80%;height: 43px;font-size: 12px;font-weight: bold;list-style-type: none;margin: 0 auto;}
#top_menu  ul.m3nu li {display: block;float: right;margin: 0 5px 0 0 ;padding:0;}
#top_menu  ul.m3nu li a {height: 43px;color: #777;text-decoration: none;display: block;float: left;padding: 8px 15px 0;}
#top_menu  ul.m3nu li a:hover {color: #333;background: url(../images/current-bg.gif) top left repeat-x;}
#top_menu  ul.m3nu li a.current{color: #FFF;background: url(../images/current-bg.gif) top left repeat-x;padding:5px 15px;}
/** # End The main menu at the top **/	

/*  wrapper body */
#wrapper {width: 90%;height: 100%;margin:15px auto;padding:0;}

/*  right menu */
#right_menu{width:10%;float:right;padding:5px;}
#right_menu .list{margin-left:16px;width: 180px;}
#right_menu .list ul{	padding: 0;	margin: 0;list-style-type: none;}
#right_menu .list span{ background:url(../images/menu-right-top.png) no-repeat;height:36px;width:160px;
	display:block;padding:0px 10px;line-height:35px;font-weight:bold;text-align:left;color: #000;border-bottom: 1px solid #666;}
#right_menu .list b{	background:url(../images/menu_right_bottom.png) no-repeat;height:37px;width:160px;
	display:block;padding:0px 10px;font-weight:bold;color: #F1F7E1;}
#right_menu .list img{padding:0px 0px 0px 5px;}
#right_menu .list a{	background-color:#767676;font: bold 11px tahoma;padding: 5px 10px;display: block;width: 160px;
	color: #fff;text-decoration: none;border-bottom: 1px solid #666;}
#right_menu .list a:hover{color: #111;background:#767676 url(../images/right_menu.png) repeat;}
#right_menu .list a:active {background: #fff}
/* #  right menu */

/* extras  header */
#extras_header {	width: 100%;margin:0 auto;padding:5px;}

/* Content */
#content {float: left;width: 77%;}

#index_body{background:url(../images/index_body.png) no-repeat left top;}

/* title */
#title-x b{width: 90%;float:right;color: #000;padding:0 0 6px 0;margin:3px ;font-size: 18px; 
	font-weight: normal;color: rgb(89, 89, 89);text-shadow: 0px 1px rgb(247, 247, 247);}
#title-x a {color:#D86800;}
#title-x a:hover {color: #000;background:transparent;}

/* connection template */
#connection{background:url(../images/messages.png) no-repeat left top;}
#connection .call form {margin:10px; padding: 0;}
#connection .call label {display:block;font-weight:bold;margin:5px 0;}
#connection .call input {padding: 2px;border:1px solid #999;font: bold 12px tahoma, Verdana, sans-serif;color:#666;}
#connection .call textarea {width:300px;padding:2px;font: bold 12px tahoma, Verdana, sans-serif;border:1px solid #999;
	height:100px;display:block;color:#666;}
/*# connection template */
	
/* pagination */
.pagination {margin: 8px 0px 8px 0px;float:right;}
.pagination  a{padding:3px 6px;color: #333;}
.paging {background:#F68618 url(../images/paging.png) repeat-x right top;
        border: 1px solid #C46B0A;font-size: 10px;text-align:center;}
.paging:hover {color:#121621;border: 1px solid #FFFF00;
        background:#EAAF2F url(../images/paging_hover.png) repeat-x right top;}
.here_page {padding:3px 6px;border: 1px solid #816543; font-size: 10px;color:#121621;
        background: #A88F70 url(../images/here_page.png) repeat-x right top;text-align:center;}
/* ## pagination */

/* ALL buttons */
#buttons {cursor: pointer;padding:5px 20px;	margin-top:10px;
        font: normal 12px Tahoma, Helvetica, Arial, sans-serif;
        background:url(../images/buttons-bg.gif) repeat-x left top;
        color: #555;border:1px solid #999;}
#buttons:hover { background:#555;color: #fff;}
.buttons {cursor: pointer;padding:5px 20px;	margin-top:2px;
        font: normal 12px Tahoma, Helvetica, Arial, sans-serif;
        background:url(../images/buttons-bg.gif) repeat-x left top;
        color: #555;border:1px solid #999;}
.buttons:hover { background:#555;color: #fff;}
/* ## ALL buttons */

/* login template */
#login {	float: right;width: 220px;}
#login label {display: block;margin-bottom: 5px;}
#login a {color:#000;font-size: 12px;padding: 3px 6px;}
#login .inputtext1, #login .inputtext2 {
	width: 180px;margin-bottom: 5px;color: #000;
	padding: 2px 5px;border: 1px solid #CCCCCC;
    font: normal 12px Tahoma, Helvetica, Arial, sans-serif;}
/* # login template */


/* fixed */
#fixed {background:#C8C8C8;margin:0; position:fixed; left:50px; bottom:2px;padding: 4px; 
	   text-align: left; color: rgb(89, 89, 89); text-shadow: 0px 1px rgb(247, 247, 247)}
#fixed a ,#fixed a:link{color:#CF6600;}
#fixed a:hover{color:#000;background:transparent;}
/* # #  fixed */


/* System Messages body */
#system-message    { margin: 2px 0px 4px 0px; padding: 0;}
#system-message dd { margin: 0; font-weight: bold; text-indent: 35px; }

/* System Messages  info*/
#system-message dd.info ul { 
list-style: none; 
padding:5px 10px; 
border-top: 3px solid #FEA53D; 
border-bottom: 3px solid #FEA53D;
background-color: #EFE7B8; 
}
#system-message dd.info  ul li { 
color: #444; 
background: url(../images/info.png) no-repeat right top ;

}

/* System Messages  error */
#system-message dd.error ul { 
list-style: none; 
padding:5px 10px;
background-color: #E6C0C0; 
border-top: 3px solid #DE7A7B; 
border-bottom: 3px solid #DE7A7B;
 }
#system-message dd.error ul li{ 
color:#c00; 
background: url(../images/error.png) no-repeat right top ;
}
#system-message dd.error ul li a:hover, #system-message dd.info ul li a:hover{ 
color:#000;
background:transparent;
text-decoration:underline;
}
/* ##  End  System Messages */


/* box */
.box {background: url(../images/box-top.png) no-repeat top left;}
.box_top {background: url(../images/box-right.png) no-repeat top right;}
.box_bottom {background: url(../images/box-bottom.png) no-repeat bottom left;}
.box_bottom div {background: url(../images/box-right-br.png) no-repeat bottom right;}
.box_content {background: url(../images/box_r.png) top right repeat-y;}
.box_top div,.box_top,.box_bottom div, .box_bottom {width: 100%;height: 15px;font-size: 1px;}
.box_content, .box_bottom{margin-top: -5px;}
.box_content{ padding: 0 15px; }
/* #  box */


/* file report */
.fileReport {margin:5px auto;padding:6px 30px;text-align: center;
			border-top:1px double #CFCFCF;border-bottom:1px double #CFCFCF;
			cursor:pointer;background-color:#E2E2E2;}
.fileReport a{color:#CB0101;font-size: 14px;}
.fileReport a:hover,.fileReport:hover{background-color:#CBCBCB;}
/* #  file report */


#box-download{margin:5px auto;font-size:13px;}
#box-download h2 {font-size:18px;padding:5px;color:#78A041;}
#file-info-down{height:170px;margin:5px auto;}

.info-down {float:right;	width:320px;}
.info-down p{color:#F0502E;font-size:30px;font-weight:700;}

#download  {margin:50px 30px 0 0;}
#download a {padding:15px 30px;background: #D5FFCA;border-top:3px solid #9BD88B;border-bottom:3px solid #9BD88B;color:#555;}
#download a:hover  {background:#B4D8AB;color:#269226}


.wait{color:#666;font-size: 30px;font-weight:700;margin:30px 30px;padding:5px 20px;}

/* stats template */
#stats{background:url(../images/Stats.png) no-repeat left top;}
#stats .stats-x {margin:6px 15px;padding: 5px 0 0 5px;text-transform:uppercase;font-size:12px;font-weight: bold;}
#stats .stats-x ul {list-style: square;}
#stats .stats-x ul li b{color: #222;}
/* #  stats template */

/*
dont remove it  start
*/
div#loadbox {padding: 10px;display: none;}

div#texttype {display: none;}


.row1, td.row1 , tr.row1 , b.row1{ 
 width: 25%;
 color: #333;
  font: bold 11px tahoma,Verdana, Helvetica, sans-serif;
  padding: 5px;


}
.row2, td.row2, tr.row2 , b.row2{ 
    width: 50%;

	color: #333;
	padding: 5px;
font: bold 11px tahoma,Verdana, Helvetica, sans-serif;

}



/* extras  footer template */
#extras_footer {	width: 100%;margin: 0 auto; padding:5px;}
/*# extras  footer template */

/* footer template */
#footer{ width: 100%;margin:5px auto;padding: 5px;}
#footerlinksleft ul{width:350px;float:left;}
#footerlinksleft li{float:left;font-size:11px; font-weight:normal;}
#footerlinksleft ul li a{padding:0 5px 0; color:#5C5C5C; }
#footerlinksleft ul li a:hover,#footer .Copyrights  a:hover,#footer .page_stats a:hover{background:#fff;color:#111;}
/* Copyrights */
#footer .Copyrights {float:right;padding:6px;color:#666;}
/* footr stats */
#footer .page_stats { margin-top:15px;text-align:center}
/* googleanalytics */
#footer .googleanalytics { margin:5px ;padding:10px; text-align:center;}

/*start Option to control panel */
#adminPan{width: 200px;margin: 0 auto; padding:5px; }
#adminPan a:hover  {color:#FFFFFF;}
/* # footer template */


.call form {
	margin:10px; padding: 0;
}
.call label {
	display:block;
	font-weight:bold;
	margin:5px 0;
}
.call input {
	padding: 2px;
	border:1px solid #999;
	font: bold 12px tahoma, Verdana, sans-serif;
	color:#666;
}
.call textarea {
	width:300px;
	padding:2px;
	font: bold 12px tahoma, Verdana, sans-serif;
	border:1px solid #999;
	height:100px;
	display:block;
	color:#666;
}

/* pagination */
.pagination {margin: 8px 0px 8px 0px;float:right;}
.pagination  a{padding:3px 6px;color: #333;}
.paging {background:#F68618 url(../images/paging.png) repeat-x right top;
        border: 1px solid #C46B0A;font-size: 10px;text-align:center;}
.paging:hover {color:#121621;border: 1px solid #FFFF00;
        background:#EAAF2F url(../images/paging_hover.png) repeat-x right top;}
.here_page {padding:3px 6px;border: 1px solid #816543; font-size: 10px;color:#121621;
        background: #A88F70 url(../images/here_page.png) repeat-x right top;text-align:center;}
/* ## pagination */

/* ALL buttons */
#buttons {cursor: pointer;padding:5px 20px;	margin-top:10px;
        font: normal 12px Tahoma, Helvetica, Arial, sans-serif;
        background:url(../images/buttons-bg.gif) repeat-x left top;
        color: #555;border:1px solid #999;}
#buttons:hover { background:#555;color: #fff;}

.buttons {cursor: pointer;padding:5px 20px;	margin-top:2px;
        font: normal 12px Tahoma, Helvetica, Arial, sans-serif;
        background:url(../images/buttons-bg.gif) repeat-x left top;
        color: #555;border:1px solid #999;}
.buttons:hover { background:#555;color: #fff;}
/* ## ALL buttons */

/* form login*/
#login {	float: right;width: 220px;}
#login label {display: block;margin-bottom: 5px;}
#login a {color:#000;font-size: 12px;padding: 3px 6px;}
#login .inputtext1, #login .inputtext2 {
	width: 180px;margin-bottom: 5px;color: #000;
	padding: 2px 5px;border: 1px solid #CCCCCC;
    font: normal 12px Tahoma, Helvetica, Arial, sans-serif;}
/* # form login*/

/* captcha stuff*/
#kleeja_img_captcha {cursor: pointer;}
/* # captcha stuff*/
