/**
 * General CSS file 
 * Kleeja Dev. team.
 */

/** @CSS Reset was written by Dejan Cancarevic & http://stylizedweb.com/2008/02/14/10-best-css-hacks*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;}:focus {outline: 0;}body {line-height: 1;color: black;background: white;}ol, ul {list-style: none;}table {border-collapse: separate;border-spacing: 0;}caption, th, td {text-align: right;font-weight: normal;}blockquote:before, blockquote:after,q:before, q:after {content: "";}blockquote, q {quotes: "" "";}


body{
	margin:0;
	padding:0;
	color:#3B3B3B;
	font-family: Tahoma;
	font-size:11px;
	overflow: auto;
}
	
a:visited, a:hover, a:link, .a:active {
	color:#3B3B3B;
	text-decoration:none;
}

input {
	border: 1px solid #AAA;
	font-family:Tahoma, arial;
	font-size:11px;
	padding: 3px;
}
button, input[type='submit'] {
	  background:#ebebeb;
	  border: 1px solid #aaa;
	  color: #444;
	  font-size: inherit;
	  margin-bottom: 0px;
	  min-width: 4em;
	  padding: 3px 12px 3px 12px;
	}
button:hover, input[type='submit']:hover {
	  background: #ebebeb;
	  border-color: #999;
	  color: #222;
	}

button:active, input[type='submit']:active {
	  background: #D4D4D4;
	  color: #333;
	}

select {
	  border: 1px solid #aaa;
	  color: #555;
	  font-size: inherit;
	  margin: 0;
	  overflow: hidden;
	  padding: 2px 20px 2px 5px;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	}
html[dir='rtl'] select {
	  background-position: center left;
	}
select:hover {
	  color: #333;
	}
select:active {
	  color: #444;
	}
	
.clear{
		clear:both;
		}
#wrap{
		width:100% !important;

		}
#sign_ajax,#sign_ajax_error{
	position:fixed;
	top:180px;
	left:40%;
	padding:10px 15px;
	color:#51250B;
	font-size:16px;
	cursor: pointer;
	overflow: hidden;
	z-index: 9999;
	display: none;
	}
#sign_ajax img,#sign_ajax_error img{padding-right:10px;}
#sign_ajax_error{color: red;}

/* usefull colors */
.ored,.ored:hover {background:#D8D8CC;}
.osilver,.undefined{background:#F9F9F9;}
.osilver:hover,.undefined:hover{background:#FFFCE8;}
.oblue{background:#EDFFEA;}
.oblue td{border-top:1px solid #87C87C;border-bottom:1px solid #87C87C;}
.oblue:hover {background:#DEEFDB;}

.o_g, .o_g {background:#FFD7DD;}
.o_u, .o_u{background:#DDFFD7;}

.o_all, .o_all:hover {background:#F2FFCA;}
.o_g, .o_g:hover {background:#FFD7DD;}
.o_u, .o_u:hover {background:#DDFFD7;}


/*CSS style pagination*/
#pagination	{ text-align:right; margin:0 0 10px 0; float:right; }
	a.paginate { display:inline-block;height:23px; padding:0 3px; font-size:80%; font-weight:bold; color:#333; text-shadow:1px 1px 0 #fff 
	;background:url(../images/pagination.png) 0 0 no-repeat; white-space:nowrap; border:none; overflow:visible; cursor:pointer; text-decoration:none; }
	a.paginate > span {display:block; height:23px; padding:0 10px 0 8px; line-height:23px; background:url(../images/pagination.png) 100% 0 no-repeat; }
	a.paginate:hover, a.paginate:focus{ color:#fff; text-decoration:none; text-shadow:-1px -1px 0 rgba(0,0,0,0.3); background-position:0 -30px; }
	a.paginate:hover > span, a.paginate:focus > span { background-position:100% -30px; }
	a.dots { background:url(../images/pagination.png) 0 -150px no-repeat;}
	a.dots > span { background-position:100% -150px;cursor:default;}
	a.dots:hover, a.dots:focus{ color:#333; text-shadow:1px 1px 0 #fff; background-position:0 -150px; }
	a.dots:hover > span, a.dots:focus > span	{ background-position:100% -150px; }
	a.current { background:url(../images/pagination.png) 0 -90px no-repeat; color:#fff; text-shadow:-1px -1px 0 rgba(0,0,0,0.3); }
	a.current > span { background-position:100% -90px;cursor:default;}
	a.current:hover, a.current:focus{background-position:0 -90px; }
	a.current:hover > span, a.current:focus > span { background-position:100% -90px;}
	a.phover { background:url(../images/pagination.png) 0 -30px no-repeat; color:#fff; text-shadow:-1px -1px 0 rgba(0,0,0,0.3); }
	a.phover > span { background-position:100% -30px;}
	a.phover:hover, a.phover:focus { color:#fff; text-decoration:none; text-shadow:-1px -1px 0 rgba(0,0,0,0.3); background-position:0 -90px; }
	a.phover:hover > span, a.phover:focus > span { background-position:100% -90px;}
	

/* class in the language files */
.advanced_caution{color:red;background:#FFDFDF;padding:3px 5px;border:1px solid #D88C8C;margin-right:7px; font-size: 11px;}
.delf_caution{color:red;background:#FFDFDF;padding:3px 5px;border:1px solid #D88C8C;margin-right:5px;font-size:10px;}
.live_xts{font-size:xx-small;font-weight: bold;color:#3F5252}
/* ## class in the language files */

/*for ajax, make it less opacity*/
.show_less { -moz-opacity:.50; filter:alpha(opacity=50); opacity:.50; }
.show_more { -moz-opacity:1; filter:alpha(opacity=100); opacity:1; }

small { 
font-size:10px;
font-weight:normal;
}