/* $Id: style.css 1723 2010-12-13 11:23:49Z saanina $ */


/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}


/*common*/
.clear {
	clear: both; 
	overflow:hidden;
	height: 0;
}
body{
	color:#333;
	 font: normal normal 12px/1.6em Tahoma, Arial, sans-serif,"Trebuchet MS";
	background:#EFEFEF url('../images/common/345.jpg') repeat;
}

/*admin_header.html*/
#wrapper{
	width:80%;
	margin:7px auto;
}

#borders{
	border:0.1em solid #0071E9;
	padding-bottom:5px;
	padding-left:5px;
	background-color:#fff;
	-webkit-border-radius: 20px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius: 20px;
	-moz-border-radius-topright: 0;
	border-radius: 20px;
	border-top-right-radius: 0;
}

#header{
	width:100%;
	padding-bottom:60px;
	color:#666;
} 

	#user_welcome{
		float:right;
		background:transparent url('../images/logo_s.png') no-repeat;
		width:300px;
		height:100px;
	}
	#loading_sign{
		float:left;
		text-align:right;
	}
	
#adm_menu{
	float:right;
	width:20%;
	font-size:11px;
	text-align:right;
	border-left:1px solid #ccc;
	color:#000

}
	#adm_menu ul {
		margin: 0 0 5px 0;
		padding: 0 3 2px 0;
		list-style-type: none;
		width:100%;
	}
	#adm_menu ul li{
		padding:2px 0;
	}
	#adm_menu ul li a {
		color: #3B3B3B;
		height: 16px;
		padding: 4px 3px 4px 14px;
		text-decoration: none;
	}
	#adm_menu ul li:hover {
		background-color: #F3F3FF;
		width:100%;
	}
	#adm_menu ul li.current{
		background-color: #E9E9FF;
		font-weight:bold;	
	}
	#adm_menu ul li.seperator{
		border-top:1px solid #ccc;
		margin:6px 0;
	}
		#adm_menu ul li.seperator:hover{background-color: #fff;}
	
	#adm_menu ul li img {
		margin:0 4px;
	}
	#adm_menu ul li span.kbubbles{
		float:left;
		padding:0px 7px;
		text-align:center;
		background-color:#E9E9FF;
		font-size:9px;
	}
	#adm_menu ul li:hover span.kbubbles{background-color:#fff;}
	#adm_menu ul li.current span.kbubbles{background-color:#fff; font-weight:normal;}
	
#main_container{
	float:left;
	width:78%;
}

#sign_ajax, #sign_ajax_error{
	display:none;
}

/*admin_footer.html*/
#footer{
	height:100px; 
	clear:both;	
	font-size:10px;
	color:#666;

} 
	#footer .left {
			width:40%;
			float:left;
			text-align:left;
		}
	#footer .right {
			width:55%;
			float:right;
			text-align:right;
	}
	#footer .right a { color:#666;}
	#footer .left ul {
		margin-right: 0;
		padding-right: 0;
		display: inline;
	}
		#footer .left ul li {
		margin-right: 1px;
		padding-left: 3px;
		padding:2px 10px;
		border-right: 1px solid #ccc;
		list-style: none;
		display: inline;
		}
		#footer .left ul li a{
			color:#666;
		}
		#footer .left ul li.first {
			margin-right: 0;
			border-right: none;
			list-style: none;
			display: inline;
			}

/*admin_start.html*/
.start_page_msgs ul{
	margin: 0 0 5px 0;
	padding: 0 3 2px 0;
	list-style-type: none;
	width:100%;
}
.start_page_msgs ul li{
	padding:1px 33px 1px 1px;
	margin-bottom:4px;
	background:transparent no-repeat 99% 50%;
	color:#373737;
}

.start_page_msgs ul li.error{
	background-image:url('../images/common/error.png');
}
.start_page_msgs ul li.info	{
	background-image:url('../images/common/information.png');
}

.start_seperator{
	border-top:1px solid #BFBFBF;
	width:99%;
	margin:15px 0;
}

h2.start_cat{
	background:transparent url('../images/common/cat.png') no-repeat 100% 50%;
	padding-right:22px;
	margin:10px 0;
	color:#368396;
}

ul.start_items{
	margin-right: 15px;
	padding-right: 0;
	list-style: none;
	
}
ul.start_items li{
	background:transparent url('../images/common/item.png') no-repeat 99% 50%;
	padding-right:25px;
}

ul.start_items li span{
	color:#666;
}

.show_since_time{
	
}

.start_kleeja_team ul li{
	direction:ltr;
	text-align:right;
}
