/*
# Powered by Kleeja .... Kleeja.com
# Designed by Tar3q .... Tar3q.com
# copyright 2007-2009  ..
*/
body {
	background: #FFFFFF url(images/adm-body.jpg) repeat-x ;
	font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
	color: #3D3D3D;
	margin: 0 ;
	padding: 0;
	border-top: 5px #FC9113 solid;
}
* {
    padding: 0;
    margin: 0;
} 
html {
        font-size: 100%;

}
form { 
	margin: 0; 
	padding: 0; 
}
h2 {
	padding-bottom: 4px;
	color: #0B55C4;
	font: bold 18 Tahoma, Arial, Helvetica, sans-serif;	
}
p {
	margin: 0;
	padding: 0;
}
ul{
	margin: 0 0 4px 0;
	text-align: justify;
	line-height: 26px;
}
a:link    { 
	color: #0B55C4; 
	text-decoration: none; 
}
a:visited { 
	color: #0B55C4; 
	text-decoration: none; 
}
a:hover   { 
	text-decoration: underline; 
}
input:focus,
select:focus,
textarea:focus { background-color: #ffd }

#header {
	width: 100%;
	height: 60px;
	padding: 0;
    margin:0;

}
#header .logo1 {
    float:left;
	width: 370px;
	padding: 0;
    margin:0;
 }

#header .logo2{
    float:right;
	width: 400px;
	padding: 15px 10px 0 10px;
    margin:0;
	color: #CD3232;
	font: bold 20px Tahoma, Arial, Helvetica, sans-serif;
}
/* rodded corners box  */



.breadcrumbs { 
    background: #F6F9FB; 
    border-bottom: 1px solid #E1E1E1; 
    padding: 5px;
}
        


#footer {
        text-align: center;
        color: #666;
}
#footer .copyright { 
	margin: 5px auto 0px auto; 
	text-align: center; 
	padding: 10px; 
}

img { border:0px;}

textarea {
        font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
        font-size: 0.85em;
        width: 60%;
        padding: 2px;
}

label {
        cursor: pointer;
        font-size: 0.85em;
        padding: 0 5px 0 0;
}
fieldset {
        margin: 5px 0;
        padding: 10px;
        border-top: 1px solid #D7D7D7;
        border-right: 1px solid #CCCCCC;
        border-bottom: 1px solid #CCCCCC;
        border-left: 1px solid #D7D7D7;
        background-color: #FFFFFF;
        position: relative;
                /* rounded corners for firefox .. love u saanina ;) */
                -moz-border-radius: 8px; border-radius:1px;

}
* html fieldset {
        padding: 0 10px 5px 10px;
}
.rtl fieldset {
        border-top: 1px solid #D7D7D7;
        border-right: 1px solid #D7D7D7;
        border-bottom: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
}
legend {
        padding: 1px 0;
        font-family: Tahoma,arial,Verdana,Sans-serif;
        font-size: .9em;
        font-weight: bold;
        color: #115098;
        margin-top: -.4em;
        position: relative;
        text-transform: none;
        line-height: 1.2em;
        top: 0;
        vertical-align: middle;
}
/* Hide from macIE \*/
legend { top: -1.2em; }
/* end */

* html legend {
        margin: 0 0 -10px -7px;
        line-height: 1em;
        font-size: .85em;
}
/* Holly hack, .rtl comes after html */
* html .rtl legend {
        margin: 0;
        margin-right: -7px;
}

input, textarea {
        font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
        font-size: 0.90em;
        font-weight: normal;
        cursor: text;
        vertical-align: middle;
        padding: 2px;
        color: #111111;
        border-left: 1px solid #AFAEAA;
        border-top: 1px solid #AFAEAA;
        border-right: 1px solid #D5D5C8;
        border-bottom: 1px solid #D5D5C8;
        background-color: #E3DFD8;
}
.rtl input, .rtl textarea {
        border-left: 1px solid #D5D5C8;
        border-top: 1px solid #AFAEAA;
        border-right: 1px solid #AFAEAA;
        border-bottom: 1px solid #D5D5C8;
}
select {
        font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
        font-size: 0.85em;
        font-weight: normal;
        font-style: normal;
        cursor: pointer;
        vertical-align: middle;
        width: auto;
        color: #000;
		padding: 5px;
		
}

textarea {
        font-family: Tahoma, Verdana, Helvetica, Arial, sans-serif;
        font-size: 0.85em;
        width: 60%;
        padding: 2px;
}

label {
        cursor: pointer;
        font-size: 0.85em;
        padding: 0 5px 0 0;
}

fieldset.quick, p.quick {
        margin: 0 0 5px;
        padding: 5px 0 0; 
        border: none;
        background-color: transparent;
        text-align: right;
}

.rtl fieldset.quick, .rtl p.quick {
        text-align: left;
}
input.button1, input.button3,input.button2 {
        width: auto !important;
        padding: 3px 4px 3px 4px;
		font: normal 12px Tahoma, Helvetica, Arial, sans-serif;
        color: #000;
        font-size: 0.85em;
		background: #549CBF url(images/login/btn.gif) repeat left top;
        cursor: pointer;
}
.button1 ,.button2 {
    cursor: pointer;
    vertical-align: middle;
    padding: 3px 4px 3px 4px;
    font: normal 12px Tahoma, Helvetica, Arial, sans-serif;
    border: 1px solid #BCBCBC;
    background: #549CBF url(images/login/btn.gif) repeat left top;
  	color: #444;
}
.button1:hover ,.button2:hover{ 
	border: 1px solid #aaa; 
	background: #BCBCBC url(images/login/hoverblue.gif) repeat left top;
	color: #fff;
}
.bg_img {
        text-align:center;
        width:112px;
        height:112px;
        padding: 20px 0;
        cursor: pointer;
        background-image: url('images/bg_img.gif');
        background-repeat: no-repeat;
}
#toolTipBox {
        display: none;
        padding: 5;
        font-size: 11px;
        font-family: Tahoma;
        position: fixed;
        background-color: #FCFCCD;
        border: 1px solid #FFFF00;
        color: 000000;
}
.tipp {

}


/*
pagination
*/
.here_page, .paging {
		margin:2px;
		border-style:solid;
		border-width:1px;
		font-family:tahoma,verdana,arial,sans-serif;
		padding:2px 6px 2px 6px;
		text-align:center;
}

.here_page{
		background-color:#3B5998; 
		color:#FFFFFF;
		
}

.paging{
		background-color:#fff; 
		color:#3B5998;
}

.pagination {
	padding:8px 6px 2px 6px;
}


.s_box {
	width: 150px; 
		margin:2 px;
		border-style:solid;
		border-width:1px;
		font-family:tahoma,verdana,arial,sans-serif;
		padding:2px 4px 4px 4px;
		text-align:center;
		color:#484848;
		border-color:#F8F834;
		font-weight: bold;
		background: #FFFFF3 url(images/i2.gif) no-repeat top right;
}

.s_box_tpls{
		margin:2 px;
		border:1px solid #4186C5;
		padding:2px 4px 2px 4px;
		background-color:#FFFCF9; 
		color:#484848;
}

.s_box_tpls_d{
		margin:2 px;
		border:1px solid #4186C5;
		padding:2px 4px 2px 4px;
		background-color:#D8EBFD; 
		color:#185A97;
		width:10%;
		cursor: pointer
}

.s_box_tpls_d:hover{
	color:#fff;
	background-color:#185A97; 
}
#divheader   { 
	margin: 8px auto 0px auto;
	width: 94%; 
    padding: 10px;
    border-top: 1px solid #D7D7D7;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #D7D7D7;
    background-color: #F9F9F9;
    position: relative;
        /* rounded corners for firefox .. love u saanina ;) */
            -moz-border-radius: 8px; border-radius:1px;

}
#divbody   { 
	margin: 5px auto 5px auto;
	width: 94%; 
    padding: 10px;
    border-top: 1px solid #D7D7D7;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #D7D7D7;
    background-color: #F9F9F9;
    position: relative;
        /* rounded corners for firefox .. love u saanina ;) */
            -moz-border-radius: 8px; border-radius:1px;

}

#divmiddle   { 
    width: 69%;
	float: left; 
	margin: 5px auto 5px auto;
    padding: 10px;
    border-top: 1px solid #D7D7D7;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #D7D7D7;
    background-color: #FFFFFF;
    position: relative;
        /* rounded corners for firefox .. love u saanina ;) */
			-moz-border-radius: 8px; border-radius:1px;
}



.clr { 
	clear: both; 
	overflow:hidden; 
	height: 0; 
}

#rightmenu{
	float: right; 
    width: 25%;
    margin: 5px 5px 0 0;
    padding: 10px;
    border-top: 1px solid #D7D7D7;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #D7D7D7;
	background-color: #FFF;
    position: relative;
		/* Generation CSS3 Only Mozila, Firefox and Safari :(  Tar3q   */
			-moz-border-radius-topleft: 10px;
			-webkit-border-top-left-radius: 10px;
			-moz-border-radius-bottomright: 10px;
			-webkit-border-bottom-right-radius: 10px;
}


#rightmenu .body-menu { 
	padding: 0px; 
	text-align: center; 
}
#rightmenu .link-menu{
float: right;  
	height: 60px; 
	width: 113px; 
	padding: 0; 
	margin: 1px ; 
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
}

#rightmenu .link-menu a { 
	display: block; 
	overflow: hidden; 
	background: #F4F4F4;
	font-family:tahoma,verdana,arial,sans-serif;
	font-size: xx-small;
	font-weight: bold;
	padding:5px;
}
#rightmenu .link-menu img { 
	padding-bottom: 7px ; 
}

#rightmenu .link-menu a:hover {
	padding-bottom:5px;
	text-decoration: none; 
	background: #F0E6BE;
	color:#000;
	border-top: #FFAD22 3px solid;
	border-bottom: #FFAD22 3px solid;

}

.welcome {
	padding: 4px 8px 4px 8px;
	margin: 5px 2px 5px 6px;
	background: #FFDDDD;
	border-top: #EE7171 1px dotted;
	border-bottom: #EE7171 1px dotted;
 }

.title {
	margin-bottom: 2px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #E1E1E1;
	font: normal 22px tahoma,verdana,arial,sans-serif;
	letter-spacing: -1px;
	color:#8A8A8A;
	margin: 5px 2px 5px 6px;
}
#adm-info
{ text-align: center;
  width: 136px;
  float: right;
	margin: 5px 2px 5px 2px;
  border: 1px dotted #E1E1E1;
  padding: 10px ;
  background: #F9F9F9;
}

#adm-info h2
{ margin: 0px; 
  font: 11px tahoma,verdana,arial,sans-serif;
  font-weight: bold;
  padding: 0px 0px 16px 0px;
  text-transform: uppercase;
  color: #57696F;
}

#adm-info p
{ line-height: 16px; 
  padding: 0px 0px 5px 0px;
}

#adm-info:hover{ background: #EFEFEF ;} 

#adm-info .info_box {
	width: 120px; 
	margin:2 px;
	font-family:tahoma,verdana,arial,sans-serif;
	padding:4px;
	text-align:center;
	color:#484848;
	border: 1px solid #F8F834;
	font-weight: bold;
	background: #FFFFF3;
}

#info-posts {
	float: right;
	width: 320px;
	margin: 5px 2px 5px 2px;
	background: #F9F9F9;
	  font: 11px tahoma,verdana,arial,sans-serif;
}

#info-posts ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#info-posts li {
	padding: 5px 10px;
	border-bottom: 1px dotted #aaa;
	border-top: 1px dotted #aaa;
}

#info-posts li:hover {
	background: #EFEFEF;
}

/* System Messages body */
#system-message    { margin: 4px 2px 4px 6px; padding: 0;}
#system-message div { margin: 0; font-weight: bold; text-indent: 35px; }
/* System Messages  info*/
#system-message div.info ul { 
list-style: none; 
padding: 15px 10px 15px 10px; 
border-top: 3px solid #FFAD22; 
border-bottom: 3px solid #FFAD22;
background-color: #F0E6BE; 
}
#system-message div.info  ul li { 
color: #333; 
background: url(images/info.png) no-repeat right center ;
}
/* System Messages  error*/
#system-message div.error ul { 
list-style: none; 
padding: 6px 10px 6px 5px; 
background-color: #E6C0C0; 
border-top: 3px solid #DE7A7B; 
border-bottom: 3px solid #DE7A7B;
 }
#system-message div.error ul li{ 
color: #c00; 
background: url(images/error.png) no-repeat right center ;
}
 /* System Messages  size stat  template */
#system-message div.stat ul { 
list-style: none; 
padding: 6px 10px 6px 5px; 
background-color: #F9F9F9; 
border-top: 3px solid #AAAAAA; 
border-bottom: 3px solid #AAAAAA;
 }
#system-message div.stat ul li{ 
color: #222; 
background: url(images/stat.png) no-repeat right top ;
}
tr {
background-color: #F9F9F9; 
}
td {
font: bold 10px Tahoma, Arial, Helvetica, sans-serif;
padding: 2px 5px 2px 5px; 
border-top: 1px solid #DBDBDB; 
}